Repository coco-base/cocokits: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

fix(workspace-plugin): fix scssify font-weight name
  tools/workspace-plugin/src/executors/scssify-token/transform/font-weight-to-number.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: update storybook tokens
  packages/internal/storybook-doc-page/src/assets/storybook-doc-page-preview-theme.css
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocArgTypes.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocBgEffect.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocHeader.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocMain.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocStory.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocToc.tsx
  packages/internal/storybook-theme-switcher/src/assets/storybook-manager-theme-switcher.css
  packages/internal/storybook-theme-switcher/src/assets/storybook-theme-switcher-token.css
  packages/internal/storybook-theme-switcher/src/lib/componenets/cck-theme-dialog/CckModeSelection.tsx
  packages/internal/storybook-theme-switcher/src/lib/componenets/cck-theme-dialog/CckThemeDialog.tsx
  packages/internal/storybook-theme-switcher/src/lib/componenets/cck-theme-dialog/CckThemeSelection.tsx
  packages/internal/storybook-theme-switcher/src/lib/componenets/cck-theme-switcher/DocCckThemeSwitcher.style.tsx
Due: none

fix(storybook-theme-switcher): dispatch fist event of cck-theme-change
  packages/internal/storybook-theme-switcher/src/lib/styles/icons.ts
  packages/internal/storybook-theme-switcher/src/lib/utils/theme-changed.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: update default theme tokens
  packages/themes/default/json-token/global.Default.tokens.json
  packages/themes/default/json-token/text.styles.tokens.json
  packages/themes/default/src/token/css-variables/global.default.scss
  packages/themes/default/src/token/css-variables/local-style.default.scss
  packages/themes/default/src/token/mixins/_global.default.mixin.scss
  packages/themes/default/src/token/mixins/_local-style.default.mixin.scss
  packages/themes/default/src/token/scss-variables/_global.scss
  packages/themes/default/src/token/scss-variables/_local-style.scss
  packages/themes/default/src/token/ts-css-variables/global.ts
  packages/themes/default/src/token/ts-css-variables/local-style.ts
  packages/themes/default/src/token/ts-variables/global.default.ts
  packages/themes/default/src/token/ts-variables/local-style.default.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

chore: update storybook token
  packages/internal/storybook-doc-page/src/assets/storybook-doc-page-preview-theme.css
  packages/internal/storybook-theme-switcher/src/assets/storybook-manager-cck-components.css
  packages/internal/storybook-theme-switcher/src/assets/storybook-theme-switcher-token.css
Due: none

chore: update storybook token
  packages/internal/storybook-theme-switcher/project.json
  packages/internal/storybook-theme-switcher/src/lib/json-token/Theme.Dark.tokens.json
  packages/internal/storybook-theme-switcher/src/lib/json-token/Theme.Light.tokens.json
  packages/internal/storybook-theme-switcher/src/lib/json-token/manifest.json
  packages/internal/storybook-theme-switcher/src/lib/token/css-variables/theme.dark.scss
  packages/internal/storybook-theme-switcher/src/lib/token/css-variables/theme.light.scss
  packages/internal/storybook-theme-switcher/src/lib/token/mixins/_theme.dark.mixin.scss
  packages/internal/storybook-theme-switcher/src/lib/token/mixins/_theme.light.mixin.scss
  packages/internal/storybook-theme-switcher/src/lib/token/scss-variables/_theme.scss
  packages/internal/storybook-theme-switcher/src/lib/token/ts-css-variables/theme.ts
  packages/internal/storybook-theme-switcher/src/lib/token/ts-variables/theme.dark.ts
  packages/internal/storybook-theme-switcher/src/lib/token/ts-variables/theme.light.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

docs: add token anatomy standard doc
  packages/themes/README.md
  packages/themes/core/images/token-anatomy.png
Due: none

feat(workspace-plugin): generate collection.ts on scssify token
  packages/themes/default/src/token/collections.ts
  packages/themes/default/src/token/css-variables/global.default.scss
  packages/themes/default/src/token/css-variables/local-style.default.scss
  packages/themes/default/src/token/mixins/_global.default.mixin.scss
  packages/themes/default/src/token/mixins/_local-style.default.mixin.scss
  packages/themes/default/src/token/scss-variables/_global.scss
  packages/themes/default/src/token/scss-variables/_local-style.scss
  packages/themes/default/src/token/ts-css-variables/global.ts
  packages/themes/default/src/token/ts-css-variables/local-style.ts
  packages/themes/default/src/token/ts-variables/global.default.ts
  packages/themes/default/src/token/ts-variables/local-style.default.ts
  tools/workspace-plugin/src/executors/scssify-token/builder/build-collections-map.ts
  tools/workspace-plugin/src/executors/scssify-token/builder/build.ts
  tools/workspace-plugin/src/executors/scssify-token/builder/builder.util.ts
  tools/workspace-plugin/src/executors/scssify-token/executor.ts
  tools/workspace-plugin/src/executors/scssify-token/parsers/design-tokens-manager/collections-path.util.ts
  tools/workspace-plugin/src/executors/scssify-token/parsers/design-tokens-manager/design-tokens-manager.ts
  tools/workspace-plugin/src/executors/scssify-token/parsers/design-tokens-manager/get-collections-map-with-mode.ts
  tools/workspace-plugin/src/executors/scssify-token/token.model.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(workspace-plugin): generate index.scss for css token files
  packages/internal/storybook-theme-switcher/src/lib/styles/themes.scss
  packages/themes/default/src/token/css-variables/global.default.scss
  packages/themes/default/src/token/css-variables/index.scss
  packages/themes/default/src/token/css-variables/local-style.default.scss
  packages/themes/default/src/token/mixins/_global.default.mixin.scss
  packages/themes/default/src/token/mixins/_local-style.default.mixin.scss
  packages/themes/default/src/token/mixins/index.scss
  packages/themes/default/src/token/scss-variables/_global.scss
  packages/themes/default/src/token/scss-variables/_local-style.scss
  packages/themes/default/src/token/ts-css-variables/global.ts
  packages/themes/default/src/token/ts-css-variables/index.ts
  packages/themes/default/src/token/ts-css-variables/local-style.ts
  packages/themes/default/src/token/ts-variables/global.default.ts
  packages/themes/default/src/token/ts-variables/index.ts
  packages/themes/default/src/token/ts-variables/local-style.default.ts
  tools/workspace-plugin/src/executors/scssify-token/builder/build-css-variables.ts
  tools/workspace-plugin/src/executors/scssify-token/builder/build-mixin.ts
  tools/workspace-plugin/src/executors/scssify-token/builder/build-scss-variables.ts
  tools/workspace-plugin/src/executors/scssify-token/builder/build-ts-css-variables.ts
  tools/workspace-plugin/src/executors/scssify-token/builder/build-ts-variables.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(workspace-plugin): add `eslint-disable max-lines` for all generated files from scssify build
  packages/themes/default/src/token/collections.ts
  packages/themes/default/src/token/css-variables/global.default.scss
  packages/themes/default/src/token/css-variables/index.scss
  packages/themes/default/src/token/css-variables/local-style.default.scss
  packages/themes/default/src/token/mixins/_global.default.mixin.scss
  packages/themes/default/src/token/mixins/_local-style.default.mixin.scss
  packages/themes/default/src/token/mixins/index.scss
  packages/themes/default/src/token/scss-variables/_global.scss
  packages/themes/default/src/token/scss-variables/_local-style.scss
  packages/themes/default/src/token/scss-variables/index.scss
  packages/themes/default/src/token/ts-css-variables/global.ts
  packages/themes/default/src/token/ts-css-variables/index.ts
  packages/themes/default/src/token/ts-css-variables/local-style.ts
  packages/themes/default/src/token/ts-variables/global.default.ts
  packages/themes/default/src/token/ts-variables/index.ts
  packages/themes/default/src/token/ts-variables/local-style.default.ts
  tools/workspace-plugin/src/executors/scssify-token/builder/build-collections-map.ts
  tools/workspace-plugin/src/executors/scssify-token/builder/build-css-variables.ts
  tools/workspace-plugin/src/executors/scssify-token/builder/build-mixin.ts
  tools/workspace-plugin/src/executors/scssify-token/builder/build-scss-variables.ts
  tools/workspace-plugin/src/executors/scssify-token/builder/build-ts-css-variables.ts
  tools/workspace-plugin/src/executors/scssify-token/builder/build-ts-variables.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

refactor(theme-default): remove old tokens
  packages/themes/default/json-token-frame-x/Breakpoints.Desktop.tokens.json
  packages/themes/default/json-token-frame-x/Breakpoints.Mobile.tokens.json
  packages/themes/default/json-token-frame-x/Breakpoints.Tablet.tokens.json
  packages/themes/default/json-token-frame-x/Color Mode.Dark.tokens.json
  packages/themes/default/json-token-frame-x/Color Mode.Light.tokens.json
  packages/themes/default/json-token-frame-x/Color Theme.Theme A.tokens.json
  packages/themes/default/json-token-frame-x/Color Theme.Theme B.tokens.json
  packages/themes/default/json-token-frame-x/Radius.Default.tokens.json
  packages/themes/default/json-token-frame-x/Radius.Rounded.tokens.json
  packages/themes/default/json-token-frame-x/Sizing.Compact.tokens.json
  packages/themes/default/json-token-frame-x/Sizing.Spacious.tokens.json
  packages/themes/default/json-token-frame-x/Typography.Font A.tokens.json
  packages/themes/default/json-token-frame-x/Typography.Font B.tokens.json
  packages/themes/default/json-token-frame-x/color.styles.tokens.json
  packages/themes/default/json-token-frame-x/effect.styles.tokens.json
  packages/themes/default/json-token-frame-x/grid.styles.tokens.json
  packages/themes/default/json-token-frame-x/manifest.json
  packages/themes/default/json-token-frame-x/text.styles.tokens.json
  packages/themes/default/src/settings.scss
  packages/themes/default/src/styles/components/icon.scss
  packages/themes/default/src/styles/elements.scss
  packages/themes/default/src/styles/normalize.scss
  packages/themes/default/src/token-old/props/colors-palette.scss
  packages/themes/default/src/token-old/props/sizes.scss
  packages/themes/default/src/token-old/variables/colors-palette.scss
  packages/themes/default/src/token-old/variables/sizes.scss
  packages/themes/default/src/token.scss
  packages/themes/default/src/tools/token-mixin/_colors-palette.mixin.scss
  packages/themes/default/src/tools/token-mixin/_sizes.scss
Due: pnpm prettier --write, pnpm stylelint --fix

feat(workspace-plugin): add figma to image executor
  .gitignore
  packages/themes/core/images/token-anatomy.png
  packages/themes/core/project.json
  tools/workspace-plugin/executors.json
  tools/workspace-plugin/src/executors/figma-to-image/config.ts
  tools/workspace-plugin/src/executors/figma-to-image/executor.ts
  tools/workspace-plugin/src/executors/figma-to-image/http.ts
  tools/workspace-plugin/src/executors/figma-to-image/schema.d.ts
  tools/workspace-plugin/src/executors/figma-to-image/schema.json
  tools/workspace-plugin/src/executors/figma-to-image/util.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

refactor(theme-default): update tokens
  packages/themes/default/json-token/Brand Color 1.Dark.tokens.json
  packages/themes/default/json-token/Brand Color 1.Light.tokens.json
  packages/themes/default/json-token/Components Size.Default.tokens.json
  packages/themes/default/json-token/Global.Default.tokens.json
  packages/themes/default/json-token/manifest.json
  packages/themes/default/json-token/text.styles.tokens.json
  packages/themes/default/src/token/collections.ts
  packages/themes/default/src/token/css-variables/brand-color-1.dark.scss
  packages/themes/default/src/token/css-variables/brand-color-1.light.scss
  packages/themes/default/src/token/css-variables/components-size.default.scss
  packages/themes/default/src/token/css-variables/global.default.scss
  packages/themes/default/src/token/css-variables/index.scss
  packages/themes/default/src/token/css-variables/local-style.default.scss
  packages/themes/default/src/token/mixins/_brand-color-1.dark.mixin.scss
  packages/themes/default/src/token/mixins/_brand-color-1.light.mixin.scss
  packages/themes/default/src/token/mixins/_components-size.default.mixin.scss
  packages/themes/default/src/token/mixins/_global.default.mixin.scss
  packages/themes/default/src/token/mixins/_local-style.default.mixin.scss
  packages/themes/default/src/token/mixins/index.scss
  packages/themes/default/src/token/scss-variables/_brand-color-1.scss
  packages/themes/default/src/token/scss-variables/_components-size.scss
  packages/themes/default/src/token/scss-variables/_global.scss
  packages/themes/default/src/token/scss-variables/_local-style.scss
  packages/themes/default/src/token/scss-variables/index.scss
  packages/themes/default/src/token/ts-css-variables/brand-color-1.ts
  packages/themes/default/src/token/ts-css-variables/components-size.ts
  packages/themes/default/src/token/ts-css-variables/global.ts
  packages/themes/default/src/token/ts-css-variables/index.ts
  packages/themes/default/src/token/ts-css-variables/local-style.ts
  packages/themes/default/src/token/ts-variables/brand-color-1.dark.ts
  packages/themes/default/src/token/ts-variables/brand-color-1.light.ts
  packages/themes/default/src/token/ts-variables/components-size.default.ts
  packages/themes/default/src/token/ts-variables/global.default.ts
  packages/themes/default/src/token/ts-variables/index.ts
  packages/themes/default/src/token/ts-variables/local-style.default.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(theme-core): add icon classes to theme style validation map
  packages/themes/core/src/lib/theme-style-validation-map.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: fix eslint issue of whole workspace
  apps/angular-kits-doc/stories/test.component.ts
  apps/angular-kits-doc/stories/test.stories.ts
  apps/html-kits-doc/.eslintrc.json
  apps/html-kits-doc/.storybook/Toolbar.tsx
  apps/html-kits-doc/.storybook/tsconfig.json
  apps/html-kits-doc/src/stories/button.stories.ts
  apps/html-kits-doc/vite.config.ts
  packages/common/utils/src/lib/scroll/scroll-locker.ts
  packages/common/utils/src/lib/uncategorized/intersection-observer.ts
  packages/internal/storybook-doc-page/preview.ts
  packages/internal/storybook-doc-page/src/lib/components/doc-page-container/DocPageContainer.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocMarkdown.tsx
  packages/internal/storybook-theme-switcher/src/lib/componenets/storybook-theme-switcher/StorybookDarkThemeIcon.tsx
  packages/internal/storybook-theme-switcher/src/lib/componenets/storybook-theme-switcher/StorybookLightThemeIcon.tsx
  packages/internal/storybook-theme-switcher/src/lib/utils/theme-changed.ts
  packages/internal/storybook-theme-switcher/src/preset/manager.ts
  tools/eslint/eslint.base.json
  tools/workspace-plugin/src/executors/figma-to-image/http.ts
  tools/workspace-plugin/src/executors/scss-builder/css-builder.ts
  tools/workspace-plugin/src/executors/scssify-token/builder/build-css-variables.ts
  tools/workspace-plugin/src/executors/scssify-token/builder/build-scss-variables.ts
  tools/workspace-plugin/src/executors/scssify-token/builder/build-ts-css-variables.ts
  tools/workspace-plugin/src/executors/scssify-token/builder/builder.util.ts
  tools/workspace-plugin/src/executors/scssify-token/executor.ts
  tools/workspace-plugin/src/executors/scssify-token/parsers/design-tokens-manager/collections-path.util.ts
  tools/workspace-plugin/src/generators/component/angular/generator.ts
  tools/workspace-plugin/src/generators/component/component-generator.util.ts
  tools/workspace-plugin/src/generators/library/ui/generator.ts
  tools/workspace-plugin/src/generators/library/util/generator.ts
  tools/workspace-plugin/src/generators/theme/generator.spec.ts
  tools/workspace-plugin/src/generators/theme/generator.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: create MdxDoc page template for storybook
  apps/angular-kits-doc/.storybook/main.ts
  packages/angular/components/.storybook/main.ts
  packages/angular/icon/.storybook/main.ts
  packages/internal/storybook-doc-page/preview.ts
  packages/internal/storybook-doc-page/src/assets/storybook-doc-page-preview-theme.css
  packages/internal/storybook-doc-page/src/index.ts
  packages/internal/storybook-doc-page/src/lib/components/doc-page-container/DocPageContainer.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page-container/doc-page-context.util.ts
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocCategory.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocHeader.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocMain.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocPage.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/MdxDocPage.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/StoryDocPage.tsx
  packages/themes/core/stories/theme-builder/css-selectors.mdx
  tools/scripts/storybook/get-package-stories.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(theme-core): add `Css Selector` documentation page to storybook
  packages/internal/storybook-doc-page/src/index.ts
  packages/internal/storybook-doc-page/src/lib/components/mdx-doc-doc/MdxCssSelectorTable.tsx
  packages/internal/storybook-theme-switcher/src/assets/storybook-manager-theme-switcher.css
  packages/internal/storybook-theme-switcher/src/assets/storybook-theme-switcher-token.css
  packages/themes/core/src/lib/css-selectors/css-selector.model.ts
  packages/themes/core/src/lib/css-selectors/css-selectors-map.ts
  packages/themes/core/src/lib/css-selectors/icon-selector-map.ts
  packages/themes/core/src/lib/css-selectors/overlay-selectors-map.ts
  packages/themes/core/src/lib/theme-style-validation-map.ts
  packages/themes/core/stories/theme-builder/css-selectors.mdx
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: fix storybook build with style path
  apps/angular-kits-doc/project.json
  packages/angular/icon/project.json
Due: pnpm prettier --write

chore: add publish `@coco-kits/angular-kits-doc` to GitHub page
  .github/actions/pnpm-install/action.yml
  .github/workflows/deploy-github-pages.yaml
  .gitignore
Due: none

chore: upgrade pnpm version to 9 in ci
  .github/actions/pnpm-install/action.yml
Due: none

chore: upgrade node version to 20.9 in ci
  .github/actions/pnpm-install/action.yml
Due: none

fix(angular-kits-doc): add stories folder to skip build error
  apps/angular-kits-doc/stories/.gitkeep
Due: none

chore: remove GitHub actions
  .github/actions/pnpm-install/action.yml
  .github/workflows/deploy-github-pages.yaml
Due: none

fix(storybook-doc-page): fix backdrop-filter in safari browser
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocHeader.tsx
  packages/internal/storybook-theme-switcher/src/assets/storybook-manager-cck-components.css
  pnpm-lock.yaml
Due: none

chore: skip move `ENVIRONMENT` variables to storybook build bundle
  tools/scripts/storybook/generate-angular-storybook-config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

fix(storybook-theme-switcher): fix default selected theme mode
  packages/internal/storybook-theme-switcher/src/lib/config/cck-theme.config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: rename the workspace from `coco-kits` to `cocokits`
  packages/angular/icon/src/lib/story-svg-icons-list/svg-icon-list.component.ts
  packages/angular/icon/stories/svg-icon/dev.stories.ts
  packages/angular/icon/stories/svg-icon/svg-icon-color.stories.ts
  packages/angular/icon/stories/svg-icon/svg-icon-default.stories.ts
  packages/angular/icon/stories/svg-icon/svg-icon-size.stories.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: add missing import paths
  packages/internal/storybook-doc-page/src/lib/components/doc-page-container/DocPageContainer.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocArgTypes.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocBgEffect.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocHeader.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocMarkdown.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocStory.tsx
  packages/internal/storybook-doc-page/src/lib/components/mdx-doc-doc/MdxCssSelectorTable.tsx
Due: none

feat(storybook-theme-switcher): add custom sidenav label rendering
  packages/angular/icon/stories/svg-icon/dev.stories.ts
  packages/angular/icon/stories/svg-icon/index.stories.ts
  packages/angular/icon/stories/svg-icons-list/index.stories.ts
  packages/common/types/src/index.ts
  packages/common/types/src/lib/storybook/meta.ts
  packages/internal/storybook-theme-switcher/src/assets/storybook-manager-theme-switcher.css
  packages/internal/storybook-theme-switcher/src/lib/componenets/storybook-sidenav/StorybookSidenavLabel.tsx
  packages/internal/storybook-theme-switcher/src/preset/manager.ts
  packages/internal/storybook-theme-switcher/src/preset/register-hide-toolbar.ts
  packages/internal/storybook-theme-switcher/src/preset/register-sidenav-label.ts
  packages/internal/storybook-theme-switcher/src/preset/register-storybook-custom-style.ts
  pnpm-lock.yaml
  tools/workspace-plugin/src/generators/component/angular/templates/storybook/index.stories.ts.template
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(theme-core): split css selector doc page to separate page for each component
  packages/internal/storybook-doc-page/src/lib/components/mdx-doc-doc/MdxCssSelectorTable.tsx
  packages/themes/core/src/lib/css-selectors/css-selector.model.ts
  packages/themes/core/src/lib/css-selectors/css-selectors-map.ts
  packages/themes/core/stories/theme-builder/_css-selectors-overview.mdx
  packages/themes/core/stories/theme-builder/css-selectors.mdx
  packages/themes/core/stories/theme-builder/icon-css-selector.mdx
  packages/themes/core/stories/theme-builder/overlay-css-selector.mdx
  tools/scripts/storybook/get-package-stories.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

refactor(angular-icon): move story component into stories folder
  packages/angular/icon/stories/svg-icons-list/component/svg-icon-list.component.html
  packages/angular/icon/stories/svg-icons-list/component/svg-icon-list.component.scss
  packages/angular/icon/stories/svg-icons-list/component/svg-icon-list.component.ts
  packages/angular/icon/stories/svg-icons-list/index.stories.ts
  packages/angular/icon/tsconfig.lib.json
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(workspace-plugin): add component generator for angular library
  pnpm-lock.yaml
  tools/workspace-plugin/generators.json
  tools/workspace-plugin/src/generators/component/angular/generator.ts
  tools/workspace-plugin/src/generators/component/angular/schema.d.ts
  tools/workspace-plugin/src/generators/component/angular/schema.json
  tools/workspace-plugin/src/generators/component/angular/templates/component/__fileName__.component.html.template
  tools/workspace-plugin/src/generators/component/angular/templates/storybook/__fileName__-description.md.template
  tools/workspace-plugin/src/generators/component/angular/templates/storybook/index.stories.ts.template
  tools/workspace-plugin/src/generators/component/component-generator.model.ts
  tools/workspace-plugin/src/generators/component/component-generator.util.ts
  tools/workspace-plugin/src/generators/component/files/angular-component/__fileName__.component.html.template
  tools/workspace-plugin/src/generators/component/files/angular-component/__fileName__.component.scss.template
  tools/workspace-plugin/src/generators/component/files/angular-component/__fileName__.component.ts.template
  tools/workspace-plugin/src/generators/component/files/angular-story/default.stories.ts.template
  tools/workspace-plugin/src/generators/component/files/angular-story/description.md.template
  tools/workspace-plugin/src/generators/component/files/angular-story/dev.stories.ts.template
  tools/workspace-plugin/src/generators/component/files/angular-story/index.stories.ts.template
  tools/workspace-plugin/src/generators/component/generator.ts
  tools/workspace-plugin/src/generators/component/model.ts
  tools/workspace-plugin/src/generators/component/schema.d.ts
  tools/workspace-plugin/src/generators/component/schema.json
  tools/workspace-plugin/src/generators/component/src/angular-component-generator.ts
  tools/workspace-plugin/src/generators/component/utils/get-options.ts
  tools/workspace-plugin/src/generators/generator.utils.ts
  tools/workspace-plugin/src/generators/library/schema.json
  tools/workspace-plugin/src/generators/library/src/angular-ui-generator.ts
  tools/workspace-plugin/src/generators/library/templates/angular/defaults/.eslintrc.json.template
  tools/workspace-plugin/src/generators/library/templates/angular/storybook/.storybook/tsconfig.doc.json.template
  tools/workspace-plugin/src/generators/library/templates/angular/storybook/.storybook/tsconfig.json.template
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

refactor(angular-icon): remove prefix from stories files
  packages/angular/icon/stories/svg-icon/color.stories.ts
  packages/angular/icon/stories/svg-icon/default.stories.ts
  packages/angular/icon/stories/svg-icon/description.md
  packages/angular/icon/stories/svg-icon/size.stories.ts
  packages/angular/icon/stories/svg-icons-list/description.md
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(workspace-plugin): export component option from component generator for angular library
  tools/workspace-plugin/src/generators/component/model.ts
  tools/workspace-plugin/src/generators/component/schema.d.ts
  tools/workspace-plugin/src/generators/component/schema.json
  tools/workspace-plugin/src/generators/component/src/angular-component-generator.ts
  tools/workspace-plugin/src/generators/component/utils/get-options.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

Path conditions:
  pnpm prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.json)
  pnpm nx affected:lint --fix --files: any of: *.ts
  pnpm stylelint --fix: any of: *.scss
