Repository coco-base/cocokits: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(storybook-addon-theme): add decorator for doc and stories and fix events handlers for doc page
  packages/internal/storybook-addon-theme/preset.ts
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.min.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/internal/storybook-addon-theme/src/lib/config/events.config.ts
  packages/internal/storybook-addon-theme/src/lib/data-access/colo-mode-event/color-mode-event.base.ts
  packages/internal/storybook-addon-theme/src/lib/data-access/colo-mode-event/manager-color-mode-event.ts
  packages/internal/storybook-addon-theme/src/lib/data-access/colo-mode-event/preview-color-mode-event.ts
  packages/internal/storybook-addon-theme/src/lib/data-access/theme-event/preview-theme-event.ts
  packages/internal/storybook-addon-theme/src/lib/data-access/theme-event/theme-event.base.ts
  packages/internal/storybook-addon-theme/src/lib/features/doc-page/doc-page.tsx
  packages/internal/storybook-addon-theme/src/lib/manager/manager.ts
  packages/internal/storybook-addon-theme/src/lib/preview/preview.ts
  packages/internal/storybook-addon-theme/src/lib/preview/with-doc-container.tsx
  packages/internal/storybook-addon-theme/src/lib/preview/with-story-container.ts
  packages/internal/storybook-addon-theme/src/lib/utils/document-styles.ts
  packages/internal/storybook-addon-theme/src/styles/manager-styles.scss
  packages/internal/storybook-addon-theme/src/styles/preview-styles.scss
  packages/internal/storybook-theme-switcher/src/lib/components/doc-page-container/DocPageContainer.tsx
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(storybook-addon-theme): add placeholder for addon theme
  packages/internal/storybook-addon-theme/src/theme/_index.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_all.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_button.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_checkbox.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_chip-list.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_chip.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_core.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_divider.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_error.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_form-field.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_hint.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_icon-button.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_icon.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_index.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_input.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_label.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_leading.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_menu-item.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_menu.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_option.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_option_group.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_prefix.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_radio-button.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_radio-group.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_select-preview.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_select.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_suffix.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_textarea.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_toggle.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_trailing.scss
  packages/internal/storybook-addon-theme/src/theme/theme-config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(storybook-addon-theme): update token variables
  packages/internal/storybook-addon-theme/src/json-token/Color.Dark.tokens.json
  packages/internal/storybook-addon-theme/src/json-token/Color.Light.tokens.json
  packages/internal/storybook-addon-theme/src/token/core/_color-palette.default.mixin.scss
  packages/internal/storybook-addon-theme/src/token/core/_color.dark.mixin.scss
  packages/internal/storybook-addon-theme/src/token/core/_color.light.mixin.scss
  packages/internal/storybook-addon-theme/src/token/core/_index.scss
  packages/internal/storybook-addon-theme/src/token/core/_local-style.default.mixin.scss
  packages/internal/storybook-addon-theme/src/token/core/_size.default.mixin.scss
  packages/internal/storybook-addon-theme/src/token/core/_use-all.scss
  packages/internal/storybook-addon-theme/src/token/css/tokens.css
  packages/internal/storybook-addon-theme/src/token/css/tokens.min.css
  packages/internal/storybook-addon-theme/src/token/css/tokens.scss
  packages/internal/storybook-addon-theme/src/token/dictionary/token-dictionary.ts
  packages/internal/storybook-addon-theme/src/token/scss/_color-palette.scss
  packages/internal/storybook-addon-theme/src/token/scss/_color.scss
  packages/internal/storybook-addon-theme/src/token/scss/_index.scss
  packages/internal/storybook-addon-theme/src/token/scss/_local-style.scss
  packages/internal/storybook-addon-theme/src/token/scss/_size.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(storybook-addon-theme): config button and svgIcon component
  packages/internal/storybook-addon-theme/src/lib/config/addon-theme.config.ts
  packages/internal/storybook-addon-theme/src/lib/data-access/local-storage.ts
  packages/internal/storybook-addon-theme/src/lib/data-access/theme-event/theme-event.base.ts
  packages/internal/storybook-addon-theme/src/lib/features/theme-selection/tool-theme.tsx
  packages/internal/storybook-addon-theme/src/lib/utils/icons.ts
  packages/internal/storybook-addon-theme/src/theme/scss/_button.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_core.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_icon.scss
  packages/internal/storybook-addon-theme/src/theme/theme-config.ts
  packages/react/button/src/lib/button.tsx
  packages/react/icon/src/index.ts
  packages/react/icon/src/lib/svg-icon.tsx
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(react-radio): implement radio button and group components
  packages/angular/radio/src/lib/radio/radio-button.component.html
  packages/angular/radio/src/lib/radio/radio.component.ts
  packages/internal/storybook-addon-theme/src/theme/scss/_radio-button.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_radio-group.scss
  packages/internal/storybook-addon-theme/src/theme/theme-config.ts
  packages/react/core/src/ui-base-component.ts
  packages/react/radio/src/index.ts
  packages/react/radio/src/lib/radio-group.tsx
  packages/react/radio/src/lib/radio.context.ts
  packages/react/radio/src/lib/radio.model.ts
  packages/react/radio/src/lib/radio.tsx
  packages/themes/cocokits/src/lib/theme-config.ts
  packages/themes/cocokits/src/styles/scss/_radio-button.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(react-toggle): add toggle component with styles and functionality
  packages/internal/storybook-addon-theme/src/theme/scss/_toggle.scss
  packages/react/toggle/src/index.ts
  packages/react/toggle/src/lib/toggle.tsx
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

chore: enhance form-field and overlay components with dynamic class names
  packages/angular/form-field/src/lib/form-field/form-field.component.html
  packages/angular/form-field/src/lib/option/option.component.html
  packages/angular/form-field/src/lib/select.store.ts
  packages/angular/form-field/src/lib/select/select.component.ts
  packages/angular/overlay/src/components/overlay/overlay.component.html
  packages/angular/overlay/src/components/overlay/overlay.component.ts
  packages/common/core/src/lib/class-names/class-names.ts
  packages/common/core/src/lib/class-names/form-field-class-names.ts
  packages/common/core/src/lib/class-names/layout-class-names-config.ts
  packages/common/core/src/lib/class-names/overlay-class-names.ts
  packages/common/core/src/lib/model/theme-config.model.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(react-tabs): add tabs library with empty components
  packages/common/core/src/lib/class-names/class-names.ts
  packages/common/core/src/lib/class-names/layout-class-names-config.ts
  packages/common/core/src/lib/class-names/tab-class-names.ts
  packages/common/core/src/lib/class-names/tab-label-class-names.ts
  packages/common/core/src/lib/class-names/tabs-class-names.ts
  packages/common/core/src/lib/model/theme-config.model.ts
  packages/react/tabs/.eslintrc.json
  packages/react/tabs/.storybook/main.ts
  packages/react/tabs/.storybook/manager-head.html
  packages/react/tabs/.storybook/preview-head.html
  packages/react/tabs/.storybook/preview.ts
  packages/react/tabs/LICENSE
  packages/react/tabs/README.md
  packages/react/tabs/package.json
  packages/react/tabs/project.json
  packages/react/tabs/src/index.ts
  packages/react/tabs/src/lib/tab-label.tsx
  packages/react/tabs/src/lib/tab.tsx
  packages/react/tabs/src/lib/tabs.tsx
  packages/react/tabs/stories/.gitkeep
  packages/react/tabs/tsconfig.json
  packages/react/tabs/tsconfig.lib.json
  packages/react/tabs/tsconfig.storybook.json
  packages/react/tabs/vite.config.ts
  tsconfig.base.json
  tsconfig.storybook-manager-paths.json
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(react-tabs): implement tabs, tab and tab-label components with SCSS styles and class names
  packages/common/core/src/lib/class-names/tab-class-names.ts
  packages/common/core/src/lib/class-names/tab-label-class-names.ts
  packages/common/core/src/lib/class-names/tabs-class-names.ts
  packages/internal/storybook-addon-theme/src/theme/scss/_all.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_tab-label.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_tab.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_tabs.scss
  packages/internal/storybook-addon-theme/src/theme/theme-config.ts
  packages/react/tabs/src/index.ts
  packages/react/tabs/src/lib/tab-label.tsx
  packages/react/tabs/src/lib/tab.tsx
  packages/react/tabs/src/lib/tabs.store.ts
  packages/react/tabs/src/lib/tabs.tsx
  packages/react/utils/src/lib/component-store.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(common-utils): add string case conversion functions with unit tests
  packages/common/utils/src/index.ts
  packages/common/utils/src/lib/string/case.spec.ts
  packages/common/utils/src/lib/string/case.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

fix(common-utils): fix enhance toArray function to handle nullish values
  packages/common/utils/src/lib/transform/to-array.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(storybook-addon-theme): add arg types table
  packages/angular/form-field/src/lib/option-group/option-group.component.ts
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.min.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/internal/storybook-addon-theme/src/lib/features/doc-page/doc-page-section.tsx
  packages/internal/storybook-addon-theme/src/lib/features/doc-page/doc-page.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-api-table.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-api.model.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-api.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-api.utils.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-overview.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page.tsx
  packages/internal/storybook-addon-theme/src/lib/model/addon.model.ts
  packages/internal/storybook-addon-theme/src/styles/arg-types-table.scss
  packages/internal/storybook-addon-theme/src/styles/preview-styles.scss
  packages/internal/storybook-addon-theme/src/styles/typography.scss
  packages/internal/storybook-addon-theme/src/theme/theme-config.ts
  packages/internal/storybook-theme-switcher/src/lib/components/doc-page/DocArgTypes.tsx
  packages/react/tabs/src/lib/tabs.store.ts
  packages/react/tabs/src/lib/tabs.tsx
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(storybook-addon-theme): add examples tab with placeholder content in story doc page
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-examples.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page.tsx
Due: none

feat(storybook-addon-theme): implement styling tab documentation for components
  packages/common/core/src/lib/class-names/class-names.ts
  packages/common/core/src/lib/model/theme-config.model.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-api.utils.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-styling-section.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-styling-table.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-styling.model.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-styling.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-styling.utils.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page.tsx
  packages/internal/storybook-addon-theme/src/styles/arg-types-table.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(storybook-addon-theme): add MdxPage
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.min.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/internal/storybook-addon-theme/src/lib/features/mdx-page/mdx-page.tsx
Due: none

feat(storybook-addon-theme): enhance MDX page styling and structure
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.min.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/internal/storybook-addon-theme/src/lib/features/doc-page/doc-page.tsx
  packages/internal/storybook-addon-theme/src/lib/features/mdx-page/mdx-page.tsx
  packages/internal/storybook-addon-theme/src/styles/mdx-page.scss
  packages/internal/storybook-addon-theme/src/styles/preview-styles.scss
  packages/internal/storybook-addon-theme/src/styles/typography.scss
Due: pnpm prettier --write, pnpm stylelint --fix

feat(storybook-addon-theme): update MDX documentation to use MdxPage component
  packages/angular/utils/stories/utils/_index.mdx
  packages/angular/utils/stories/utils/pipes.mdx
  packages/angular/utils/stories/utils/signal.mdx
  packages/common/utils/stories/utils/Promise.mdx
  packages/common/utils/stories/utils/_index.mdx
  packages/common/utils/stories/utils/common.mdx
  packages/common/utils/stories/utils/differs.mdx
  packages/common/utils/stories/utils/dom.anchor-position.mdx
  packages/common/utils/stories/utils/ensure.mdx
  packages/common/utils/stories/utils/event-listener.mdx
  packages/common/utils/stories/utils/observer.mdx
  packages/common/utils/stories/utils/rxjs.mdx
  packages/common/utils/stories/utils/scroll.mdx
  packages/common/utils/stories/utils/search.mdx
  packages/common/utils/stories/utils/selection.mdx
  packages/common/utils/stories/utils/string.case.mdx
  packages/common/utils/stories/utils/transform.mdx
  tools/typedoc-storybook-plugin/template.mjs
Due: none

feat(storybook-addon-theme): add token dictionary and fix tab functionality
  packages/common/core/stories/theme-config/tokens/token.mdx
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.min.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/internal/storybook-addon-theme/src/lib/config/events.config.ts
  packages/internal/storybook-addon-theme/src/lib/data-access/global-event/global-event.base.ts
  packages/internal/storybook-addon-theme/src/lib/features/mdx-page/mdx-page.tsx
  packages/internal/storybook-addon-theme/src/lib/features/sidebar-label/sidebar-label.tsx
  packages/internal/storybook-addon-theme/src/lib/features/sidebar/sidebar.service.tsx
  packages/internal/storybook-addon-theme/src/lib/features/sidebar/sidebar.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page.tsx
  packages/internal/storybook-addon-theme/src/lib/features/token-dictionary/token-dictionary-icons.tsx
  packages/internal/storybook-addon-theme/src/lib/features/token-dictionary/token-dictionary-value.tsx
  packages/internal/storybook-addon-theme/src/lib/features/token-dictionary/token-dictionary.model.ts
  packages/internal/storybook-addon-theme/src/lib/features/token-dictionary/token-dictionary.tsx
  packages/internal/storybook-addon-theme/src/lib/features/token-dictionary/token-dictionary.utils.tsx
  packages/internal/storybook-addon-theme/src/lib/features/token-dictionary/token-info-dialog.tsx
  packages/internal/storybook-addon-theme/src/lib/features/token-dictionary/token-info-section.tsx
  packages/internal/storybook-addon-theme/src/lib/features/token-dictionary/token-info-value-hierarchy.tsx
  packages/internal/storybook-addon-theme/src/lib/features/token-dictionary/token-info-value-preview.tsx
  packages/internal/storybook-addon-theme/src/lib/features/token-dictionary/token-info-variable.tsx
  packages/internal/storybook-addon-theme/src/lib/features/token-dictionary/token-info.utils.ts
  packages/internal/storybook-theme-switcher/src/lib/components/mdx-doc/token-info/TokenValues.tsx
  packages/react/tabs/src/index.ts
  packages/react/tabs/src/lib/tab.model.ts
  packages/react/tabs/src/lib/tab.tsx
  packages/react/tabs/src/lib/tabs.store.ts
  packages/react/tabs/src/lib/tabs.tsx
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(storybook-addon-theme): implement toc component and update type doc generator to adjust toc item IDs
  packages/angular/utils/stories/utils/_index.mdx
  packages/angular/utils/stories/utils/pipes.mdx
  packages/angular/utils/stories/utils/signal.mdx
  packages/common/utils/src/lib/observer/intersection-observer.ts
  packages/common/utils/stories/utils/Promise.mdx
  packages/common/utils/stories/utils/_index.mdx
  packages/common/utils/stories/utils/common.mdx
  packages/common/utils/stories/utils/differs.mdx
  packages/common/utils/stories/utils/dom.anchor-position.mdx
  packages/common/utils/stories/utils/ensure.mdx
  packages/common/utils/stories/utils/event-listener.mdx
  packages/common/utils/stories/utils/observer.mdx
  packages/common/utils/stories/utils/rxjs.mdx
  packages/common/utils/stories/utils/scroll.mdx
  packages/common/utils/stories/utils/search.mdx
  packages/common/utils/stories/utils/selection.mdx
  packages/common/utils/stories/utils/string.case.mdx
  packages/common/utils/stories/utils/transform.mdx
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.min.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/internal/storybook-addon-theme/src/lib/features/doc-page/doc-page-toc.tsx
  packages/internal/storybook-addon-theme/src/lib/features/doc-page/doc-page-toc.utils.ts
  packages/internal/storybook-addon-theme/src/lib/features/doc-page/doc-page.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-api.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-overview.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-styling.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page.utils.tsx
  tools/typedoc-storybook-plugin/template.mjs
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(storybook-addon-theme): add icon and boolean control
  packages/angular/button/stories/button/default.stories.ts
  packages/angular/button/stories/button/index.stories.ts
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.min.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/internal/storybook-addon-theme/src/index.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-control-boolean.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-control-dialog.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-control-icon.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-control.model.ts
  packages/internal/storybook-addon-theme/src/lib/model/addon.model.ts
  packages/internal/storybook-addon-theme/src/theme/scss/_tab.scss
  packages/internal/storybook-addon-theme/src/theme/scss/_tabs.scss
  packages/internal/storybook-addon-theme/src/theme/theme-config.ts
  packages/react/tabs/src/lib/tab.tsx
  packages/react/tabs/src/lib/tabs.tsx
  packages/react/toggle/src/lib/toggle.tsx
  packages/themes/cocokits/src/styles/scss/variants/_button-shared.scss
  packages/themes/frames-x/src/styles/scss/_button.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(storybook-addon-theme): add draft StackBlitz support and configuration files
  package.json
  packages/angular/components/README.md
  packages/internal/internal-model/src/lib/storybook-meta.model.ts
  packages/internal/storybook-addon-theme/package.json
  packages/internal/storybook-addon-theme/src/lib/features/stackblitz/files-angular/stackblitz-file-angularJson.ts
  packages/internal/storybook-addon-theme/src/lib/features/stackblitz/files-angular/stackblitz-file-global_styles.ts
  packages/internal/storybook-addon-theme/src/lib/features/stackblitz/files-angular/stackblitz-file-index.ts
  packages/internal/storybook-addon-theme/src/lib/features/stackblitz/files-angular/stackblitz-file-main.ts
  packages/internal/storybook-addon-theme/src/lib/features/stackblitz/files-angular/stackblitz-file-npmrc.ts
  packages/internal/storybook-addon-theme/src/lib/features/stackblitz/files-angular/stackblitz-file-package-json.ts
  packages/internal/storybook-addon-theme/src/lib/features/stackblitz/files-angular/stackblitz-file-tsconfig-app-json.ts
  packages/internal/storybook-addon-theme/src/lib/features/stackblitz/files-angular/stackblitz-file-tsconfig-json.ts
  packages/internal/storybook-addon-theme/src/lib/features/stackblitz/story-stackblitz-button.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-canvas/story-canvas-actions.tsx
  packages/internal/storybook-addon-theme/src/lib/model/addon.model.ts
  pnpm-lock.yaml
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(storybook-addon-theme): enhance theme configuration and fix rendering stories
  packages/internal/internal-model/src/lib/storybook-meta.model.ts
  packages/internal/storybook-addon-theme/preset.ts
  packages/internal/storybook-addon-theme/src/index.ts
  packages/internal/storybook-addon-theme/src/lib/features/doc-page/doc-page.util.ts
  packages/internal/storybook-addon-theme/src/lib/features/stackblitz/story-stackblitz-button.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-canvas/story-canvas-actions.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-control/manager-story-args.store.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-control.model.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-single-control.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-api.utils.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-styling-table.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page.utils.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-source-code/source-code-generator.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-source-code/story-source-code.tsx
  packages/internal/storybook-addon-theme/src/lib/manager/manager.ts
  packages/internal/storybook-addon-theme/src/lib/model/addon.model.ts
  packages/internal/storybook-addon-theme/src/lib/utils/args-to-template.ts
  packages/internal/storybook-addon-theme/src/lib/utils/base-preview.ts
  packages/internal/storybook-addon-theme/src/lib/utils/get-story-parameters.tsx
  packages/internal/storybook-addon-theme/src/lib/utils/story-render-conditions.ts
  packages/react/form-field/src/lib/select.tsx
  pnpm-lock.yaml
  tools/scripts/clean-pnpm.ts
  tools/scripts/storybook/generate-angular-storybook-config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(storybook-addon-theme): update checkbox and divider stories base on the new addon styles
  packages/angular/checkbox/stories/checkbox/components/checkbox-indeterminate/checkbox-indeterminate.component.scss
  packages/angular/checkbox/stories/checkbox/dev.stories.ts
  packages/angular/checkbox/stories/checkbox/indeterminate.stories.ts
  packages/angular/checkbox/stories/checkbox/index.stories.ts
  packages/angular/checkbox/stories/checkbox/size.stories.ts
  packages/angular/divider/.storybook/manager-head.html
  packages/angular/divider/.storybook/preview-head.html
  packages/angular/divider/.storybook/preview.ts
  packages/angular/divider/.storybook/tsconfig.json
  packages/angular/divider/project.json
  packages/angular/divider/stories/divider/color.stories.ts
  packages/angular/divider/stories/divider/default.stories.ts
  packages/angular/divider/stories/divider/dev.stories.ts
  packages/angular/divider/stories/divider/index.stories.ts
  packages/angular/divider/stories/divider/size.stories.ts
  packages/angular/divider/stories/divider/type.stories.ts
  packages/internal/storybook-addon-theme/src/lib/utils/base-preview.ts
  packages/internal/storybook-addon-theme/src/styles/preview-styles.scss
  packages/internal/storybook-addon-theme/src/styles/story-decorator-wrapper.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

chore: update button and divider and chip stories with new storybook structure
  packages/angular/button/stories/button/color.stories.ts
  packages/angular/button/stories/button/default.stories.ts
  packages/angular/button/stories/button/size.stories.ts
  packages/angular/button/stories/icon-button/default.stories.ts
  packages/angular/button/stories/icon-button/size.stories.ts
  packages/angular/button/stories/icon-button/theme-cocokits-rounded-color.stories.ts
  packages/angular/button/stories/icon-button/theme-cocokits-rounded-size.stories.ts
  packages/angular/button/stories/icon-button/theme-cocokits-rounded.stories.ts
  packages/angular/divider/stories/divider/type.stories.ts
  packages/angular/form-field/.storybook/manager-head.html
  packages/angular/form-field/.storybook/preview-head.html
  packages/angular/form-field/.storybook/preview.ts
  packages/angular/form-field/.storybook/tsconfig.json
  packages/angular/form-field/stories/chip/color.stories.ts
  packages/angular/form-field/stories/chip/default.stories.ts
  packages/angular/form-field/stories/chip/dev.stories.ts
  packages/angular/form-field/stories/chip/index.stories.ts
  packages/angular/form-field/stories/chip/type.stories.ts
  packages/internal/storybook-addon-theme/src/lib/utils/base-preview.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: update chip-list stories with new storybook structure
  packages/angular/form-field/stories/chip-list/default.stories.ts
  packages/angular/form-field/stories/chip-list/dev.stories.ts
  packages/angular/form-field/stories/chip-list/index.stories.ts
  packages/angular/form-field/stories/chip-list/size.stories.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-canvas/story-canvas.tsx
  packages/internal/storybook-addon-theme/src/styles/story-decorator-wrapper.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

chore: update icon stories with new storybook structure
  packages/angular/form-field/stories/chip/index.stories.ts
  packages/angular/icon/.storybook/manager-head.html
  packages/angular/icon/.storybook/preview-head.html
  packages/angular/icon/.storybook/preview.ts
  packages/angular/icon/.storybook/tsconfig.json
  packages/angular/icon/project.json
  packages/angular/icon/stories/svg-icon/color.stories.ts
  packages/angular/icon/stories/svg-icon/default.stories.ts
  packages/angular/icon/stories/svg-icon/dev.stories.ts
  packages/angular/icon/stories/svg-icon/index.stories.ts
  packages/angular/icon/stories/svg-icon/size.stories.ts
  packages/angular/icon/stories/svg-icon/template-svg-icon.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: update menu stories with new storybook structure
  packages/angular/button/stories/icon-button/index.stories.ts
  packages/angular/button/stories/icon-button/type.stories.ts
  packages/angular/menu/.storybook/manager-head.html
  packages/angular/menu/.storybook/preview-head.html
  packages/angular/menu/.storybook/preview.ts
  packages/angular/menu/.storybook/tsconfig.json
  packages/angular/menu/project.json
  packages/angular/menu/stories/menu/color.stories.ts
  packages/angular/menu/stories/menu/default.stories.ts
  packages/angular/menu/stories/menu/dev.stories.ts
  packages/angular/menu/stories/menu/index.stories.ts
  packages/angular/menu/stories/menu/origin.stories.ts
  packages/angular/menu/stories/menu/size.stories.ts
  packages/angular/menu/stories/menu/theme-cocokits-item-icon.stories.ts
  packages/angular/menu/stories/menu/type.stories.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-api.utils.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page.utils.tsx
  packages/internal/storybook-addon-theme/src/lib/model/addon.model.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: update overlay stories with new storybook structure
  .stylelintrc.json
  packages/angular/button/stories/button/index.stories.ts
  packages/angular/overlay/.storybook/manager-head.html
  packages/angular/overlay/.storybook/preview-head.html
  packages/angular/overlay/.storybook/preview.ts
  packages/angular/overlay/.storybook/tsconfig.json
  packages/angular/overlay/project.json
  packages/angular/overlay/stories/overlay/components-old/animation-overlay-story.component.ts
  packages/angular/overlay/stories/overlay/components-old/basic-overlay-example.component.ts
  packages/angular/overlay/stories/overlay/components-old/basic-overlay-story.component.ts
  packages/angular/overlay/stories/overlay/components-old/connect-to-element-story.component.ts
  packages/angular/overlay/stories/overlay/components-old/default-overlay-example.component.ts
  packages/angular/overlay/stories/overlay/components-old/default-overlay-story.component.ts
  packages/angular/overlay/stories/overlay/components-old/size-overlay-example.component.ts
  packages/angular/overlay/stories/overlay/components-old/size-overlay-story.component.ts
  packages/angular/overlay/stories/overlay/default.stories.ts
  packages/angular/overlay/stories/overlay/default/default.stories.ts
  packages/angular/overlay/stories/overlay/default/example-overlay-default-overlay.component.html
  packages/angular/overlay/stories/overlay/default/example-overlay-default-overlay.component.scss
  packages/angular/overlay/stories/overlay/default/example-overlay-default-overlay.component.ts
  packages/angular/overlay/stories/overlay/default/example-overlay-default.component.html
  packages/angular/overlay/stories/overlay/default/example-overlay-default.component.scss
  packages/angular/overlay/stories/overlay/default/example-overlay-default.component.ts
  packages/angular/overlay/stories/overlay/index.stories.ts
  packages/themes/cocokits/src/lib/theme-config.ts
  packages/themes/frames-x/src/lib/theme-config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

chore: update radio stories with new storybook structure
  packages/angular/button/stories/button/type.stories.ts
  packages/angular/radio/.storybook/manager-head.html
  packages/angular/radio/.storybook/preview-head.html
  packages/angular/radio/.storybook/preview.ts
  packages/angular/radio/.storybook/tsconfig.json
  packages/angular/radio/project.json
  packages/angular/radio/stories/radio-button/color.stories.ts
  packages/angular/radio/stories/radio-button/default.stories.ts
  packages/angular/radio/stories/radio-button/dev.stories.ts
  packages/angular/radio/stories/radio-button/index.stories.ts
  packages/angular/radio/stories/radio-button/size.stories.ts
  packages/angular/radio/stories/radio-button/type.stories.ts
  packages/angular/radio/stories/radio-group/color.stories.ts
  packages/angular/radio/stories/radio-group/default.stories.ts
  packages/angular/radio/stories/radio-group/dev.stories.ts
  packages/angular/radio/stories/radio-group/index.stories.ts
  packages/angular/radio/stories/radio-group/ng-model.stories.ts
  packages/angular/radio/stories/radio-group/reactive-form.stories.ts
  packages/angular/radio/stories/radio-group/size.stories.ts
  packages/angular/radio/stories/radio-group/type.stories.ts
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.min.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/internal/storybook-addon-theme/src/lib/model/addon.model.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: update toggle stories with new storybook structure
  packages/angular/toggle/.storybook/manager-head.html
  packages/angular/toggle/.storybook/preview-head.html
  packages/angular/toggle/.storybook/preview.ts
  packages/angular/toggle/.storybook/tsconfig.json
  packages/angular/toggle/project.json
  packages/angular/toggle/stories/toggle/color.stories.ts
  packages/angular/toggle/stories/toggle/default.stories.ts
  packages/angular/toggle/stories/toggle/dev.stories.ts
  packages/angular/toggle/stories/toggle/index.stories.ts
  packages/angular/toggle/stories/toggle/ng-model.stories.ts
  packages/angular/toggle/stories/toggle/reactive-form.stories.ts
  packages/angular/toggle/stories/toggle/size.stories.ts
  packages/angular/toggle/stories/toggle/theme-cocokits-box.stories.ts
  packages/angular/toggle/stories/toggle/type.stories.ts
  packages/themes/cocokits/src/styles/scss/_toggle.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

chore: remove tags from stories
  packages/angular/divider/stories/divider/color.stories.ts
  packages/angular/divider/stories/divider/size.stories.ts
  packages/angular/form-field/stories/chip-list/size.stories.ts
  packages/angular/form-field/stories/select/size.stories.ts
  packages/angular/icon/stories/svg-icon/color.stories.ts
  packages/angular/icon/stories/svg-icon/size.stories.ts
  packages/angular/menu/stories/menu/color.stories.ts
  packages/angular/menu/stories/menu/type.stories.ts
  packages/angular/overlay/stories/overlay/dev.stories.ts
  packages/angular/radio/stories/radio-button/color.stories.ts
  packages/angular/radio/stories/radio-button/size.stories.ts
  packages/angular/radio/stories/radio-button/type.stories.ts
  packages/angular/radio/stories/radio-group/color.stories.ts
  packages/angular/radio/stories/radio-group/type.stories.ts
  packages/angular/toggle/stories/toggle/color.stories.ts
  packages/angular/toggle/stories/toggle/size.stories.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: update story generator base on new addon theme
  tools/workspace-plugin/src/generators/component/files/angular-story/color.stories.ts.template
  tools/workspace-plugin/src/generators/component/files/angular-story/default.stories.ts.template
  tools/workspace-plugin/src/generators/component/files/angular-story/dev.stories.ts.template
  tools/workspace-plugin/src/generators/component/files/angular-story/index.stories.ts.template
  tools/workspace-plugin/src/generators/component/files/angular-story/size.stories.ts.template
  tools/workspace-plugin/src/generators/component/files/angular-story/type.stories.ts.template
  tools/workspace-plugin/src/generators/setup-storybook/files/angular/.storybook/manager-head.html.template
  tools/workspace-plugin/src/generators/setup-storybook/files/angular/.storybook/preview-head.html.template
  tools/workspace-plugin/src/generators/setup-storybook/files/angular/.storybook/preview.ts.template
  tools/workspace-plugin/src/generators/setup-storybook/files/angular/.storybook/tsconfig.json.template
  tools/workspace-plugin/src/generators/setup-storybook/utils/get-project-json-changes.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: remove old getSelectedTheme from stories
  packages/angular/divider/stories/divider/dev.stories.ts
  packages/angular/menu/stories/menu/color.stories.ts
  packages/angular/radio/stories/radio-button/size.stories.ts
  packages/angular/radio/stories/radio-button/type.stories.ts
  packages/angular/radio/stories/radio-group/type.stories.ts
  packages/angular/toggle/stories/toggle/color.stories.ts
  packages/angular/toggle/stories/toggle/size.stories.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: use applicationConfig to provide themeConfig in stories
  packages/angular/checkbox/stories/checkbox/dev.stories.ts
  packages/angular/checkbox/stories/checkbox/index.stories.ts
  packages/angular/divider/stories/divider/index.stories.ts
  packages/angular/form-field/stories/chip-list/index.stories.ts
  packages/angular/form-field/stories/chip/index.stories.ts
  packages/angular/overlay/stories/overlay/index.stories.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: remove optional model from story meta interface
  packages/internal/internal-model/src/lib/storybook-meta.model.ts
  packages/internal/storybook-addon-theme/src/lib/model/addon.model.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

Path conditions:
  pnpm prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.json)
  pnpm nx affected:lint --fix --files: any of: *.ts
  pnpm stylelint --fix: any of: *.scss
