Repository coco-base/cocokits: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

.lintstagedrc.json:

{
  "*.ts": ["pnpm prettier --write", "pnpm nx affected:lint --fix --files"],
  "*.scss": ["pnpm prettier --write", "pnpm stylelint --fix"],
  "*.json": ["pnpm prettier --write"]
}

chore: use `to-boolean-or-present` for all angular `disabled` prop
  packages/angular/checkbox/src/lib/checkbox/checkbox.component.ts
  packages/angular/form-field/src/lib/chip-list/chip-list.component.ts
  packages/angular/form-field/src/lib/chip/chip.component.ts
  packages/angular/form-field/src/lib/form-field/form-field.component.ts
  packages/angular/form-field/src/lib/input/input.component.ts
  packages/angular/form-field/src/lib/option-group/option-group.component.ts
  packages/angular/form-field/src/lib/option/option.component.ts
  packages/angular/form-field/src/lib/select/select.component.ts
  packages/angular/form-field/src/lib/textarea/textarea.component.ts
  packages/angular/menu/src/lib/menu-item/menu-item.component.ts
  packages/angular/radio/src/lib/radio/radio.component.ts
  packages/common/utils/src/index.ts
  packages/common/utils/src/lib/transform/to-boolean-or-present.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

fix(angular-form-field): fix initialize state of signal store
  packages/angular/form-field/src/lib/form-field.store.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: remove `effected` from naming and use `_prop` and `prop`
  packages/angular/checkbox/src/lib/checkbox/checkbox.component.html
  packages/angular/checkbox/src/lib/checkbox/checkbox.component.ts
  packages/angular/core/src/ui-base.component.ts
  packages/angular/form-field/src/lib/chip-list/chip-list.component.html
  packages/angular/form-field/src/lib/chip-list/chip-list.component.ts
  packages/angular/form-field/src/lib/chip/chip.component.ts
  packages/angular/form-field/src/lib/form-field.store.ts
  packages/angular/form-field/src/lib/form-field/form-field.component.ts
  packages/angular/form-field/src/lib/input/input.component.ts
  packages/angular/form-field/src/lib/option-group/option-group.component.ts
  packages/angular/form-field/src/lib/option/option.component.ts
  packages/angular/form-field/src/lib/select/select.component.ts
  packages/angular/form-field/src/lib/textarea/textarea.component.ts
  packages/angular/menu/src/lib/menu-item/menu-item.component.ts
  packages/angular/radio/src/lib/radio/radio-button.component.html
  packages/angular/radio/src/lib/radio/radio.component.ts
  packages/common/utils/src/lib/transform/to-boolean-or-present.ts
  packages/internal/storybook-doc-page/src/lib/utils/doc-page.utils.ts
  packages/themes/default/src/styles/components/checkbox.scss
  packages/themes/default/src/styles/components/radio-button.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(angular-toggle): add empty toggle library
  packages/angular/components/package.json
  packages/angular/toggle/.eslintrc.json
  packages/angular/toggle/.storybook/main.ts
  packages/angular/toggle/.storybook/manager-head.html
  packages/angular/toggle/.storybook/preview-head.html
  packages/angular/toggle/.storybook/preview.ts
  packages/angular/toggle/.storybook/tsconfig.doc.json
  packages/angular/toggle/.storybook/tsconfig.json
  packages/angular/toggle/README.md
  packages/angular/toggle/ng-package.json
  packages/angular/toggle/package.json
  packages/angular/toggle/project.json
  packages/angular/toggle/src/index.ts
  packages/angular/toggle/src/lib/toggle/toggle.component.html
  packages/angular/toggle/src/lib/toggle/toggle.component.scss
  packages/angular/toggle/src/lib/toggle/toggle.component.ts
  packages/angular/toggle/stories/.gitkeep
  packages/angular/toggle/stories/toggle/color.stories.ts
  packages/angular/toggle/stories/toggle/default.stories.ts
  packages/angular/toggle/stories/toggle/description.md
  packages/angular/toggle/stories/toggle/dev.stories.ts
  packages/angular/toggle/stories/toggle/index.stories.ts
  packages/angular/toggle/stories/toggle/size.stories.ts
  packages/angular/toggle/stories/toggle/type.stories.ts
  packages/angular/toggle/tsconfig.json
  packages/angular/toggle/tsconfig.lib.json
  packages/angular/toggle/tsconfig.lib.prod.json
  packages/common/core/src/lib/class-names/class-names.ts
  packages/common/core/src/lib/class-names/layout-class-names-config.ts
  packages/common/core/src/lib/class-names/toggle-class-names.ts
  packages/common/core/src/lib/model/ui-component.model.ts
  packages/themes/default/src/config/ui-component-props.config.ts
  packages/themes/default/src/styles.scss
  packages/themes/default/src/styles/components/toggle.scss
  packages/themes/frame-x/src/config/ui-component-props.config.ts
  pnpm-lock.yaml
  tools/workspace-plugin/src/generators/component/files/angular-story/color.stories.ts.template
  tools/workspace-plugin/src/generators/component/files/angular-story/size.stories.ts.template
  tsconfig.base.json
  tsconfig.storybook-manager-paths.json
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(angular-toggle): complete toggle components with stories
  .stylelintrc.json
  packages/angular/checkbox/src/lib/checkbox/checkbox.component.html
  packages/angular/checkbox/src/lib/checkbox/checkbox.component.ts
  packages/angular/toggle/package.json
  packages/angular/toggle/src/lib/toggle/toggle.component.html
  packages/angular/toggle/src/lib/toggle/toggle.component.ts
  packages/angular/toggle/stories/toggle/color.stories.ts
  packages/angular/toggle/stories/toggle/default.stories.ts
  packages/angular/toggle/stories/toggle/index.stories.ts
  packages/angular/toggle/stories/toggle/ng-model.stories.ts
  packages/angular/toggle/stories/toggle/reactive-form.stories.ts
  packages/angular/toggle/stories/toggle/size.stories.ts
  packages/angular/toggle/stories/toggle/theme-default-box.stories.ts
  packages/angular/toggle/stories/toggle/type.stories.ts
  packages/common/core/src/lib/class-names/toggle-class-names.ts
  packages/common/core/stories/theme-config/ui-components/toggle.mdx
  packages/themes/default/src/styles/components/toggle.scss
  packages/themes/default/src/token/scss/index.scss
  tools/scripts/storybook/storybook-global.scss
  tools/workspace-plugin/src/generators/component/files/angular-story/color.stories.ts.template
  tools/workspace-plugin/src/generators/component/files/angular-story/size.stories.ts.template
  tools/workspace-plugin/src/generators/component/files/angular-story/type.stories.ts.template
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(theme-frame-x): fix token and complete style of icon
  packages/themes/frame-x/src/config/ui-component-props.config.ts
  packages/themes/frame-x/src/styles/components/icon.scss
  packages/themes/frame-x/src/token/mixins/_theme.theme-a.mixin.scss
  packages/themes/frame-x/src/token/mixins/_theme.theme-b.mixin.scss
  packages/themes/frame-x/src/token/scss/_theme.scss
  packages/themes/frame-x/src/token/token-dictionary.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(theme-frame-x): complete style of button, checkbox, radio and chip
  packages/angular/button/stories/button/color.stories.ts
  packages/angular/button/stories/button/default.stories.ts
  packages/angular/radio/src/lib/radio/radio-button.component.html
  packages/themes/frame-x/src/config/ui-component-props.config.ts
  packages/themes/frame-x/src/styles.scss
  packages/themes/frame-x/src/styles/components/checkbox.scss
  packages/themes/frame-x/src/styles/components/chip-list.scss
  packages/themes/frame-x/src/styles/components/chip.scss
  packages/themes/frame-x/src/styles/components/divider.scss
  packages/themes/frame-x/src/styles/components/error.scss
  packages/themes/frame-x/src/styles/components/form-field.scss
  packages/themes/frame-x/src/styles/components/hint.scss
  packages/themes/frame-x/src/styles/components/icon-button.scss
  packages/themes/frame-x/src/styles/components/input.scss
  packages/themes/frame-x/src/styles/components/label.scss
  packages/themes/frame-x/src/styles/components/leading.scss
  packages/themes/frame-x/src/styles/components/menu-item.scss
  packages/themes/frame-x/src/styles/components/menu.scss
  packages/themes/frame-x/src/styles/components/option-group.scss
  packages/themes/frame-x/src/styles/components/option.scss
  packages/themes/frame-x/src/styles/components/prefix.scss
  packages/themes/frame-x/src/styles/components/radio-button.scss
  packages/themes/frame-x/src/styles/components/radio-group.scss
  packages/themes/frame-x/src/styles/components/select-preview.scss
  packages/themes/frame-x/src/styles/components/select.scss
  packages/themes/frame-x/src/styles/components/suffix.scss
  packages/themes/frame-x/src/styles/components/textarea.scss
  packages/themes/frame-x/src/styles/components/toggle.scss
  packages/themes/frame-x/src/styles/components/trailing.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

chore: move token style to core library
  packages/common/core/src/index.ts
  packages/common/core/src/lib/model/design-token.model.ts
  packages/internal/storybook-doc-page/src/lib/components/mdx-doc/MdxTokenTable.tsx
  packages/internal/storybook-doc-page/src/lib/components/mdx-doc/token-info/TokenInfo.tsx
  packages/internal/storybook-doc-page/src/lib/components/mdx-doc/token-info/TokenTag.tsx
  packages/internal/storybook-doc-page/src/lib/components/mdx-doc/token-info/TokenValuePreview.tsx
  packages/internal/storybook-doc-page/src/lib/components/mdx-doc/token-info/TokenValues.tsx
  packages/internal/storybook-doc-page/src/lib/components/mdx-doc/token-info/utils.ts
  packages/internal/storybook-theme-switcher/src/lib/config/cck-theme.config.ts
  packages/internal/storybook-theme-switcher/src/lib/config/cck-themes.model.ts
  packages/themes/default/src/token/token-dictionary.ts
  packages/themes/frame-x/src/token/token-dictionary.ts
  tools/workspace-plugin/src/executors/token-generator/builder/build-css.ts
  tools/workspace-plugin/src/executors/token-generator/builder/build-mixins.ts
  tools/workspace-plugin/src/executors/token-generator/builder/build-scss.ts
  tools/workspace-plugin/src/executors/token-generator/builder/build-token-dictionary.ts
  tools/workspace-plugin/src/executors/token-generator/builder/builder.ts
  tools/workspace-plugin/src/executors/token-generator/builder/utils.ts
  tools/workspace-plugin/src/executors/token-generator/executor.ts
  tools/workspace-plugin/src/executors/token-generator/parsers/design-tokens-manager/alias-hierarchies-token-dictionary.ts
  tools/workspace-plugin/src/executors/token-generator/parsers/design-tokens-manager/base-token-dictionary.ts
  tools/workspace-plugin/src/executors/token-generator/parsers/design-tokens-manager/design-tokens-manager.model.ts
  tools/workspace-plugin/src/executors/token-generator/parsers/design-tokens-manager/parser.ts
  tools/workspace-plugin/src/executors/token-generator/parsers/design-tokens-manager/util.ts
  tools/workspace-plugin/src/executors/token-generator/parsers/design-tokens-manager/value-token-doctinary.ts
  tools/workspace-plugin/src/executors/token-generator/parsers/design-tokens-manager/variable-token-dictionary.ts
  tools/workspace-plugin/src/executors/token-generator/token.model.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: update .swcrc of all packages
  packages/common/core/.swcrc
  packages/common/utils/.swcrc
  packages/internal/storybook-doc-page/.swcrc
  packages/internal/storybook-theme-switcher/.swcrc
  packages/themes/default/.swcrc
  packages/themes/frame-x/.swcrc
Due: none

chore: add `quick-fix-eslint` target for all packages
  apps/angular-kits-doc/project.json
  apps/html-kits-doc/project.json
  apps/react-kits-doc/project.json
  packages/angular/button/project.json
  packages/angular/cdk/project.json
  packages/angular/checkbox/project.json
  packages/angular/components/project.json
  packages/angular/core/project.json
  packages/angular/divider/project.json
  packages/angular/form-field/project.json
  packages/angular/icon/project.json
  packages/angular/menu/project.json
  packages/angular/overlay/project.json
  packages/angular/radio/project.json
  packages/angular/toggle/project.json
  packages/angular/utils/project.json
  packages/common/core/project.json
  packages/common/utils/project.json
  packages/internal/storybook-doc-page/project.json
  packages/internal/storybook-theme-switcher/project.json
  packages/react/overlay/project.json
  packages/themes/default/project.json
  packages/themes/frame-x/project.json
  project.json
  tools/workspace-plugin/project.json
  tools/workspace-plugin/src/generators/library/files/angular-ui/project.json.template
Due: pnpm prettier --write

chore: build css files with different output
  pnpm-lock.yaml
  tools/workspace-plugin/package.json
  tools/workspace-plugin/src/executors/scss-builder/css-builder.ts
  tools/workspace-plugin/src/executors/scss-builder/executor.ts
  tools/workspace-plugin/src/executors/scss-builder/schema.d.ts
  tools/workspace-plugin/src/executors/scss-builder/schema.json
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: replace `useValue` with `useFactory` to get the latest `UIComponentConfig` from selected cck theme
  packages/angular/button/stories/button/dev.stories.ts
  packages/angular/button/stories/button/index.stories.ts
  packages/angular/button/stories/icon-button/dev.stories.ts
  packages/angular/button/stories/icon-button/index.stories.ts
  packages/angular/checkbox/stories/checkbox/dev.stories.ts
  packages/angular/checkbox/stories/checkbox/index.stories.ts
  packages/angular/divider/stories/divider/dev.stories.ts
  packages/angular/divider/stories/divider/index.stories.ts
  packages/angular/form-field/stories/chip-list/dev.stories.ts
  packages/angular/form-field/stories/chip-list/index.stories.ts
  packages/angular/form-field/stories/chip/dev.stories.ts
  packages/angular/form-field/stories/chip/index.stories.ts
  packages/angular/form-field/stories/form-field/dev.stories.ts
  packages/angular/form-field/stories/form-field/index.stories.ts
  packages/angular/form-field/stories/input/dev.stories.ts
  packages/angular/form-field/stories/input/index.stories.ts
  packages/angular/form-field/stories/select/dev.stories.ts
  packages/angular/form-field/stories/select/index.stories.ts
  packages/angular/form-field/stories/textarea/dev.stories.ts
  packages/angular/form-field/stories/textarea/index.stories.ts
  packages/angular/icon/stories/svg-icon/dev.stories.ts
  packages/angular/menu/stories/menu/dev.stories.ts
  packages/angular/menu/stories/menu/index.stories.ts
  packages/angular/radio/stories/radio-button/dev.stories.ts
  packages/angular/radio/stories/radio-button/index.stories.ts
  packages/angular/radio/stories/radio-group/dev.stories.ts
  packages/angular/radio/stories/radio-group/index.stories.ts
  packages/angular/toggle/stories/toggle/dev.stories.ts
  packages/angular/toggle/stories/toggle/index.stories.ts
  tools/workspace-plugin/src/generators/component/files/angular-story/index.stories.ts.template
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: add build process for non-angular packages
  package.json
  packages/angular/button/package.json
  packages/angular/cdk/package.json
  packages/angular/checkbox/package.json
  packages/angular/components/package.json
  packages/angular/core/package.json
  packages/angular/divider/package.json
  packages/angular/form-field/package.json
  packages/angular/icon/package.json
  packages/angular/menu/package.json
  packages/angular/overlay/package.json
  packages/angular/radio/package.json
  packages/angular/toggle/package.json
  packages/angular/utils/package.json
  packages/common/core/.swcrc
  packages/common/core/package.json
  packages/common/utils/.swcrc
  packages/common/utils/package.json
  packages/internal/storybook-doc-page/.swcrc
  packages/internal/storybook-doc-page/package.json
  packages/internal/storybook-theme-switcher/.swcrc
  packages/internal/storybook-theme-switcher/package.json
  packages/react/overlay/package.json
  packages/themes/default/.swcrc
  packages/themes/default/project.json
  packages/themes/default/src/styles/css/components.css
  packages/themes/default/src/styles/css/components.min.css
  packages/themes/frame-x/.swcrc
  packages/themes/frame-x/package.json
  packages/themes/frame-x/project.json
  pnpm-lock.yaml
  tools/workspace-plugin/.swcrc
  tools/workspace-plugin/package.json
  tools/workspace-plugin/src/generators/library/files/angular-ui/package.json.template
Due: pnpm prettier --write

refactor(common-utils): add jsDoc modules and move utils in different folders
  packages/common/utils/src/index.ts
  packages/common/utils/src/lib/differs/array-like-differs.ts
  packages/common/utils/src/lib/ensure/ensure-array.ts
  packages/common/utils/src/lib/ensure/ensure-blob.ts
  packages/common/utils/src/lib/ensure/ensure-boolean.ts
  packages/common/utils/src/lib/ensure/ensure-nullish.ts
  packages/common/utils/src/lib/ensure/ensure-number.ts
  packages/common/utils/src/lib/ensure/ensure-object.ts
  packages/common/utils/src/lib/ensure/ensure-string.ts
  packages/common/utils/src/lib/ensure/ensure-value.ts
  packages/common/utils/src/lib/event-listener/custom-event-listener.ts
  packages/common/utils/src/lib/event-listener/once-event-listener.ts
  packages/common/utils/src/lib/observer/intersection-observer.ts
  packages/common/utils/src/lib/observer/mutation-observer.ts
  packages/common/utils/src/lib/observer/resize-observer.ts
  packages/common/utils/src/lib/rxjs/once-replay-subject.ts
  packages/common/utils/src/lib/rxjs/once-subject.ts
  packages/common/utils/src/lib/rxjs/skip-nullish.ts
  packages/common/utils/src/lib/scroll/scroll-locker.ts
  packages/common/utils/src/lib/search/fuzzysearch.ts
  packages/common/utils/src/lib/selection/selection.ts
  packages/common/utils/src/lib/transform/to-array.ts
  packages/common/utils/src/lib/transform/to-boolean-or-present.ts
  packages/common/utils/src/lib/uncategorized/deep-clone.ts
  packages/common/utils/src/lib/uncategorized/deep-merge.ts
  packages/common/utils/src/lib/uncategorized/ensure.ts
  packages/common/utils/src/lib/uncategorized/for-each.ts
  packages/common/utils/src/lib/uncategorized/reduce.ts
  packages/common/utils/src/lib/uncategorized/sanitize.ts
  packages/common/utils/src/lib/uncategorized/textarea.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(typedoc-storybook-theme): create empty package for storybook typedoc theme
  packages/internal/typedoc-storybook-theme/.eslintrc.json
  packages/internal/typedoc-storybook-theme/.swcrc
  packages/internal/typedoc-storybook-theme/README.md
  packages/internal/typedoc-storybook-theme/package.json
  packages/internal/typedoc-storybook-theme/project.json
  packages/internal/typedoc-storybook-theme/src/index.ts
  packages/internal/typedoc-storybook-theme/tsconfig.json
  packages/internal/typedoc-storybook-theme/tsconfig.lib.json
  packages/internal/typedoc-storybook-theme/tsconfig.spec.json
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(workspace-plugin): create empty executor for build typedoc
  tools/workspace-plugin/executors.json
  tools/workspace-plugin/src/executors/build-typedoc/executor.ts
  tools/workspace-plugin/src/executors/build-typedoc/schema.d.ts
  tools/workspace-plugin/src/executors/build-typedoc/schema.json
  tsconfig.base.json
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: create typedoc builder and use it in common-utils package
  apps/angular-kits-doc/.storybook/main.ts
  apps/angular-kits-doc/project.json
  package.json
  packages/common/utils/project.json
  packages/common/utils/stories/utils/_index.mdx
  packages/common/utils/stories/utils/common.mdx
  packages/common/utils/stories/utils/differs.mdx
  packages/common/utils/stories/utils/ensure.mdx
  packages/common/utils/stories/utils/event-listener.mdx
  packages/common/utils/stories/utils/observer.mdx
  packages/common/utils/stories/utils/rxjs.mdx
  packages/common/utils/stories/utils/scroll.mdx
  packages/common/utils/stories/utils/search.mdx
  packages/common/utils/stories/utils/selection.mdx
  packages/common/utils/stories/utils/transform.mdx
  packages/common/utils/typedoc.config.mjs
  packages/internal/storybook-doc-page/src/lib/components/doc-page/AutoDocMain.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocArgTypesTable.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocToc.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/MdxDocPage.tsx
  packages/internal/typedoc-storybook-theme/.eslintrc.json
  packages/internal/typedoc-storybook-theme/.swcrc
  packages/internal/typedoc-storybook-theme/README.md
  packages/internal/typedoc-storybook-theme/package.json
  packages/internal/typedoc-storybook-theme/project.json
  packages/internal/typedoc-storybook-theme/src/index.ts
  packages/internal/typedoc-storybook-theme/tsconfig.json
  packages/internal/typedoc-storybook-theme/tsconfig.lib.json
  packages/internal/typedoc-storybook-theme/tsconfig.spec.json
  patches/typedoc-plugin-markdown@4.2.7.patch
  pnpm-lock.yaml
  tools/scripts/storybook/storybook-global.scss
  tools/typedoc-storybook-plugin/index.mjs
  tools/typedoc-storybook-plugin/storybook-markdown-theme.mjs
  tools/typedoc-storybook-plugin/template.mjs
  tools/typedoc-storybook-plugin/utils.mjs
  tools/workspace-plugin/src/executors/build-typedoc/executor.ts
  typedoc.config.base.mjs
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

chore: improve styles for stories utils doc page
  packages/common/utils/stories/utils/_index.mdx
  packages/common/utils/stories/utils/common.mdx
  packages/common/utils/stories/utils/differs.mdx
  packages/common/utils/stories/utils/ensure.mdx
  packages/common/utils/stories/utils/event-listener.mdx
  packages/common/utils/stories/utils/observer.mdx
  packages/common/utils/stories/utils/rxjs.mdx
  packages/common/utils/stories/utils/scroll.mdx
  packages/common/utils/stories/utils/search.mdx
  packages/common/utils/stories/utils/selection.mdx
  packages/common/utils/stories/utils/transform.mdx
  packages/internal/storybook-doc-page/src/assets/storybook-doc-page-preview-theme.css
  packages/internal/storybook-doc-page/src/lib/components/doc-page/DocPage.tsx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/MdxDocPage.tsx
  tools/scripts/storybook/storybook-global.scss
  tools/typedoc-storybook-plugin/template.mjs
Due: pnpm prettier --write, pnpm stylelint --fix

docs(common-utils): add docs for all utils functions
  packages/angular/form-field/src/lib/hint/hint.component.html
  packages/common/utils/src/lib/differs/array-like-differs.ts
  packages/common/utils/src/lib/ensure/ensure-array.ts
  packages/common/utils/src/lib/ensure/ensure-blob.ts
  packages/common/utils/src/lib/ensure/ensure-boolean.ts
  packages/common/utils/src/lib/ensure/ensure-nullish.ts
  packages/common/utils/src/lib/ensure/ensure-number.ts
  packages/common/utils/src/lib/ensure/ensure-object.ts
  packages/common/utils/src/lib/ensure/ensure-string.ts
  packages/common/utils/src/lib/ensure/ensure-value.ts
  packages/common/utils/src/lib/event-listener/custom-event-listener.ts
  packages/common/utils/src/lib/event-listener/once-event-listener.ts
  packages/common/utils/src/lib/observer/intersection-observer.ts
  packages/common/utils/src/lib/observer/mutation-observer.ts
  packages/common/utils/src/lib/observer/resize-observer.ts
  packages/common/utils/src/lib/rxjs/once-replay-subject.ts
  packages/common/utils/src/lib/rxjs/once-subject.ts
  packages/common/utils/src/lib/rxjs/skip-nullish.ts
  packages/common/utils/src/lib/scroll/scroll-locker.ts
  packages/common/utils/src/lib/search/fuzzysearch.ts
  packages/common/utils/src/lib/selection/selection.ts
  packages/common/utils/src/lib/transform/to-array.ts
  packages/common/utils/src/lib/transform/to-boolean-or-present.ts
  packages/common/utils/src/lib/uncategorized/deep-clone.ts
  packages/common/utils/src/lib/uncategorized/deep-merge.ts
  packages/common/utils/src/lib/uncategorized/for-each.ts
  packages/common/utils/src/lib/uncategorized/reduce.ts
  packages/common/utils/src/lib/uncategorized/sanitize.ts
  packages/common/utils/src/lib/uncategorized/textarea.ts
  packages/common/utils/stories/utils/_index.mdx
  packages/common/utils/stories/utils/common.mdx
  packages/common/utils/stories/utils/differs.mdx
  packages/common/utils/stories/utils/ensure.mdx
  packages/common/utils/stories/utils/event-listener.mdx
  packages/common/utils/stories/utils/observer.mdx
  packages/common/utils/stories/utils/rxjs.mdx
  packages/common/utils/stories/utils/scroll.mdx
  packages/common/utils/stories/utils/search.mdx
  packages/common/utils/stories/utils/selection.mdx
  packages/common/utils/stories/utils/transform.mdx
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

docs(angular-utils): add docs for all utils functions
  apps/angular-kits-doc/.storybook/main.ts
  apps/angular-kits-doc/project.json
  packages/angular/utils/project.json
  packages/angular/utils/src/lib/pipes/sanitizer/trust-html.pipe.ts
  packages/angular/utils/src/lib/rxjs/run-Inside-ng-zone.ts
  packages/angular/utils/src/lib/signal/deep-signal.ts
  packages/angular/utils/src/lib/signal/from-attr.ts
  packages/angular/utils/src/lib/signal/from-control.ts
  packages/angular/utils/stories/utils/_index.mdx
  packages/angular/utils/stories/utils/pipes.mdx
  packages/angular/utils/stories/utils/signal.mdx
  packages/angular/utils/typedoc.config.mjs
  packages/common/utils/stories/utils/common.mdx
  packages/common/utils/stories/utils/differs.mdx
  packages/common/utils/stories/utils/ensure.mdx
  packages/common/utils/stories/utils/event-listener.mdx
  packages/common/utils/stories/utils/observer.mdx
  packages/common/utils/stories/utils/rxjs.mdx
  packages/common/utils/stories/utils/scroll.mdx
  packages/common/utils/stories/utils/search.mdx
  packages/common/utils/stories/utils/selection.mdx
  packages/common/utils/stories/utils/transform.mdx
  typedoc.config.base.mjs
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: remove cckThemeSwitcher for utils doc pages
  packages/angular/utils/stories/utils/_index.mdx
  packages/angular/utils/stories/utils/pipes.mdx
  packages/angular/utils/stories/utils/signal.mdx
  packages/common/utils/stories/utils/_index.mdx
  packages/common/utils/stories/utils/common.mdx
  packages/common/utils/stories/utils/differs.mdx
  packages/common/utils/stories/utils/ensure.mdx
  packages/common/utils/stories/utils/event-listener.mdx
  packages/common/utils/stories/utils/observer.mdx
  packages/common/utils/stories/utils/rxjs.mdx
  packages/common/utils/stories/utils/scroll.mdx
  packages/common/utils/stories/utils/search.mdx
  packages/common/utils/stories/utils/selection.mdx
  packages/common/utils/stories/utils/transform.mdx
  packages/internal/storybook-doc-page/src/lib/components/doc-page/MdxDocPage.tsx
  tools/typedoc-storybook-plugin/template.mjs
Due: none

chore: add compodoc patch. it's the latest develop branch to handle signal values. can be removed with next release of compodoc
  package.json
  patches/@compodoc__compodoc.patch
  pnpm-lock.yaml
Due: pnpm prettier --write

chore: add utils package as dependency of angular-kits-doc
  apps/angular-kits-doc/project.json
  packages/angular/utils/stories/utils/_index.mdx
  packages/angular/utils/stories/utils/pipes.mdx
  packages/angular/utils/stories/utils/signal.mdx
  packages/common/utils/stories/utils/_index.mdx
  packages/common/utils/stories/utils/common.mdx
  packages/common/utils/stories/utils/differs.mdx
  packages/common/utils/stories/utils/ensure.mdx
  packages/common/utils/stories/utils/event-listener.mdx
  packages/common/utils/stories/utils/observer.mdx
  packages/common/utils/stories/utils/rxjs.mdx
  packages/common/utils/stories/utils/scroll.mdx
  packages/common/utils/stories/utils/search.mdx
  packages/common/utils/stories/utils/selection.mdx
  packages/common/utils/stories/utils/transform.mdx
Due: pnpm prettier --write

chore: update styles of themes and storybook base on our client feedback
  packages/angular/button/stories/button/color.stories.ts
  packages/angular/button/stories/icon-button/color.stories.ts
  packages/angular/overlay/stories/overlay/components/animation-overlay-story.component.ts
  packages/angular/toggle/stories/toggle/theme-default-box.stories.ts
  packages/internal/storybook-doc-page/src/assets/storybook-doc-page-preview-theme.css
  packages/themes/default/src/styles/scss/_checkbox.scss
  packages/themes/default/src/styles/scss/_radio-button.scss
  packages/themes/frame-x/src/lib/ui-component-props.config.ts
  packages/themes/frame-x/src/styles/scss/_button.scss
  packages/themes/frame-x/src/styles/scss/_checkbox.scss
  packages/themes/frame-x/src/styles/scss/_chip.scss
  packages/themes/frame-x/src/styles/scss/_icon-button.scss
  packages/themes/frame-x/src/styles/scss/_radio-button.scss
  tools/scripts/storybook/storybook-global.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(theme-frame-x): complete design of frame-x theme
  apps/angular-kits-doc/project.json
  packages/angular/form-field/src/lib/hint/hint.component.html
  packages/angular/form-field/src/lib/option/option.component.html
  packages/angular/form-field/stories/form-field/theme-default-hint-error.stories.ts
  packages/angular/form-field/stories/form-field/theme-default-prefix-suffix.stories.ts
  packages/themes/default/src/styles/scss/_input.scss
  packages/themes/frame-x/src/lib/ui-component-props.config.ts
  packages/themes/frame-x/src/styles/scss/_chip-list.scss
  packages/themes/frame-x/src/styles/scss/_chip.scss
  packages/themes/frame-x/src/styles/scss/_divider.scss
  packages/themes/frame-x/src/styles/scss/_error.scss
  packages/themes/frame-x/src/styles/scss/_form-field.scss
  packages/themes/frame-x/src/styles/scss/_hint.scss
  packages/themes/frame-x/src/styles/scss/_input.scss
  packages/themes/frame-x/src/styles/scss/_label.scss
  packages/themes/frame-x/src/styles/scss/_leading.scss
  packages/themes/frame-x/src/styles/scss/_menu-item.scss
  packages/themes/frame-x/src/styles/scss/_menu.scss
  packages/themes/frame-x/src/styles/scss/_option.scss
  packages/themes/frame-x/src/styles/scss/_option_group.scss
  packages/themes/frame-x/src/styles/scss/_prefix.scss
  packages/themes/frame-x/src/styles/scss/_select.scss
  packages/themes/frame-x/src/styles/scss/_suffix.scss
  packages/themes/frame-x/src/styles/scss/_textarea.scss
  packages/themes/frame-x/src/styles/scss/_toggle.scss
  packages/themes/frame-x/src/styles/scss/_trailing.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

chore: add cocokits logo
  packages/internal/storybook-theme-switcher/src/assets/cocokits-icon-dark.svg
  packages/internal/storybook-theme-switcher/src/assets/cocokits-icon-light.svg
  packages/internal/storybook-theme-switcher/src/assets/cocokits-logo-dark.svg
  packages/internal/storybook-theme-switcher/src/assets/cocokits-logo-light.svg
  packages/internal/storybook-theme-switcher/src/assets/storybook-manager-theme-switcher.css
  packages/internal/storybook-theme-switcher/src/lib/config/cck-theme.config.ts
  packages/internal/storybook-theme-switcher/src/lib/storybook-theme/storybook-dark-theme.ts
  packages/internal/storybook-theme-switcher/src/lib/storybook-theme/storybook-light-theme.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(storybook-theme-switcher): update style of storybook theme switcher
  packages/internal/storybook-theme-switcher/src/lib/componenets/cck-theme-dialog/CckModeSelection.tsx
  packages/internal/storybook-theme-switcher/src/lib/componenets/cck-theme-dialog/CckThemeDialog.tsx
  packages/internal/storybook-theme-switcher/src/lib/componenets/cck-theme-dialog/CckThemeSelection.tsx
  packages/internal/storybook-theme-switcher/src/lib/config/cck-theme.config.ts
  packages/internal/storybook-theme-switcher/src/preset/register-cck-theme-switcher.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: add fav icon and update form-field frameX style
  apps/angular-kits-doc/.storybook/manager-head.html
  packages/angular/form-field/src/lib/select/select.component.ts
  packages/angular/form-field/stories/form-field/index.stories.ts
  packages/angular/form-field/stories/form-field/theme-frame-x-leading-trailing.stories.ts
  packages/angular/form-field/stories/select/index.stories.ts
  packages/common/core/src/lib/class-names/select-class-names.ts
  packages/internal/storybook-theme-switcher/src/assets/cocokits-icon-dark.svg
  packages/internal/storybook-theme-switcher/src/assets/cocokits-icon-green.svg
  packages/internal/storybook-theme-switcher/src/assets/cocokits-icon-light.svg
  packages/internal/storybook-theme-switcher/src/assets/favicon/android-chrome-192x192.png
  packages/internal/storybook-theme-switcher/src/assets/favicon/android-chrome-512x512.png
  packages/internal/storybook-theme-switcher/src/assets/favicon/apple-touch-icon.png
  packages/internal/storybook-theme-switcher/src/assets/favicon/favicon-16x16.png
  packages/internal/storybook-theme-switcher/src/assets/favicon/favicon-32x32.png
  packages/internal/storybook-theme-switcher/src/assets/favicon/favicon.ico
  packages/themes/frame-x/src/styles/scss/_form-field.scss
  packages/themes/frame-x/src/styles/scss/_leading.scss
  packages/themes/frame-x/src/styles/scss/_select.scss
  packages/themes/frame-x/src/styles/scss/_textarea.scss
  packages/themes/frame-x/src/styles/scss/_trailing.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

chore: build typoDoc
  apps/angular-kits-doc/stories/change-log.mdx
  apps/angular-kits-doc/stories/welcome.mdx
  packages/angular/utils/stories/utils/_index.mdx
  packages/angular/utils/stories/utils/pipes.mdx
  packages/angular/utils/stories/utils/signal.mdx
  packages/common/utils/stories/utils/_index.mdx
  packages/common/utils/stories/utils/common.mdx
  packages/common/utils/stories/utils/differs.mdx
  packages/common/utils/stories/utils/ensure.mdx
  packages/common/utils/stories/utils/event-listener.mdx
  packages/common/utils/stories/utils/observer.mdx
  packages/common/utils/stories/utils/rxjs.mdx
  packages/common/utils/stories/utils/scroll.mdx
  packages/common/utils/stories/utils/search.mdx
  packages/common/utils/stories/utils/selection.mdx
  packages/common/utils/stories/utils/transform.mdx
Due: none

chore: add welcome page
  apps/angular-kits-doc/.storybook/manager.ts
  apps/angular-kits-doc/.storybook/preview.ts
  apps/angular-kits-doc/stories/change-log.mdx
  apps/angular-kits-doc/stories/install.mdx
  apps/angular-kits-doc/stories/welcome.mdx
  packages/internal/storybook-theme-switcher/src/preset/register-sidenav-label.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

fix(theme-frame-x): fill style of chips component
  packages/themes/default/src/styles/scss/_icon.scss
  packages/themes/frame-x/src/styles/scss/_chip.scss
  packages/themes/frame-x/src/styles/scss/_icon.scss
Due: pnpm prettier --write, pnpm stylelint --fix

chore: remove react and html doc app
  apps/html-kits-doc/.babelrc
  apps/html-kits-doc/.eslintrc.json
  apps/html-kits-doc/.storybook/Toolbar.tsx
  apps/html-kits-doc/.storybook/main.ts
  apps/html-kits-doc/.storybook/manager.ts
  apps/html-kits-doc/.storybook/preview.ts
  apps/html-kits-doc/.storybook/tsconfig.json
  apps/html-kits-doc/.swcrc
  apps/html-kits-doc/index.html
  apps/html-kits-doc/package.json
  apps/html-kits-doc/project.json
  apps/html-kits-doc/src/stories/button.stories.ts
  apps/html-kits-doc/tsconfig.app.json
  apps/html-kits-doc/tsconfig.json
  apps/html-kits-doc/tsconfig.spec.json
  apps/html-kits-doc/tsconfig.storybook.json
  apps/html-kits-doc/vite.config.ts
  apps/react-kits-doc/.eslintrc.json
  apps/react-kits-doc/.storybook/main.ts
  apps/react-kits-doc/.storybook/preview.ts
  apps/react-kits-doc/index.html
  apps/react-kits-doc/project.json
  apps/react-kits-doc/public/favicon.ico
  apps/react-kits-doc/src/app/App.scss
  apps/react-kits-doc/src/app/App.tsx
  apps/react-kits-doc/src/assets/.gitkeep
  apps/react-kits-doc/src/main.tsx
  apps/react-kits-doc/src/styles.scss
  apps/react-kits-doc/tsconfig.app.json
  apps/react-kits-doc/tsconfig.json
  apps/react-kits-doc/tsconfig.storybook.json
  apps/react-kits-doc/vite.config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix
