Repository coco-base/cocokits: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files, pnpm stylelint --fix

feat(react-form-field): add overview stories for textarea (size,color,type)
  .vscode/settings.json
  apps/angular-kits-doc/stories/ui-components/form-field/textarea/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/form-field/textarea/size.stories.ts
  apps/react-kits-doc/stories/ui-components/form-field/textarea/index.stories.ts
  apps/react-kits-doc/stories/ui-components/form-field/textarea/overview/auto-resize.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/textarea/overview/color.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/textarea/overview/default.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/textarea/overview/size.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/textarea/overview/type.stories.tsx
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  pnpm-lock.yaml
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

feat(react-form-field): add overview errorstate example to the select
  apps/react-kits-doc/stories/ui-components/form-field/select/index.stories.ts
  apps/react-kits-doc/stories/ui-components/form-field/select/overview/color.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/select/overview/default.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/select/overview/error-state.stories.tsx
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

feat(angular-form-field): add overview examples to the select
  apps/angular-kits-doc/stories/ui-components/form-field/select/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/form-field/select/overview/color.stories.tsx
  apps/angular-kits-doc/stories/ui-components/form-field/select/overview/reactiveform.stories.tsx
  apps/angular-kits-doc/stories/ui-components/form-field/select/overview/type.stories.tsx
  apps/angular-kits-doc/stories/ui-components/form-field/select/overview/withngmodel.stories.tsx
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

story: change overview stories for textarea component
  apps/react-kits-doc/stories/ui-components/form-field/textarea/index.stories.ts
  apps/react-kits-doc/stories/ui-components/form-field/textarea/overview/auto-resize.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/textarea/overview/color.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/textarea/overview/default.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/textarea/overview/error-state.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/textarea/overview/size.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/textarea/overview/type.stories.tsx
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

fix(react-form-field): fix incorrect import path in source code in select story
  apps/react-kits-doc/stories/ui-components/form-field/select/overview/color.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/select/overview/error-state.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/select/overview/size.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/select/overview/type.stories.tsx
Due: none

story: fix default overview for radio-group component
  apps/angular-kits-doc/stories/ui-components/radio/radio-group/overview/default.stories.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

story: add input stories for angular and react
  apps/angular-kits-doc/stories/ui-components/form-field/input/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/form-field/input/overview/color.stories.tsx
  apps/angular-kits-doc/stories/ui-components/form-field/input/overview/ng-model.stories.tsx
  apps/angular-kits-doc/stories/ui-components/form-field/input/overview/reactiveform.stories.tsx
  apps/angular-kits-doc/stories/ui-components/form-field/input/overview/size.stories.tsx
  apps/angular-kits-doc/stories/ui-components/form-field/input/overview/type.stories.tsx
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

fix(angular-form-field): change ngModel and reactiveForm integration
  apps/react-kits-doc/stories/ui-components/form-field/input/index.stories.ts
  apps/react-kits-doc/stories/ui-components/form-field/input/overview/color.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/input/overview/default.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/input/overview/error-state.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/input/overview/size.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/input/overview/type.stories.tsx
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

fix(angular-form-field): change ngModel and reactiveForm integration
  apps/angular-kits-doc/stories/ui-components/form-field/input/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/form-field/input/overview/ng-model.stories.tsx
  apps/angular-kits-doc/stories/ui-components/form-field/input/overview/ngmodel.stories.tsx
  apps/angular-kits-doc/stories/ui-components/form-field/input/overview/reactiveform.stories.tsx
  apps/angular-kits-doc/stories/ui-components/form-field/select/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/form-field/select/overview/ngmodel.stories.tsx
  apps/angular-kits-doc/stories/ui-components/form-field/select/overview/reactiveform.stories.tsx
  apps/angular-kits-doc/stories/ui-components/form-field/select/overview/withngmodel.stories.tsx
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

chore: add empty library for avatar and fix library generator script
  packages/angular/avatar/.eslintrc.json
  packages/angular/avatar/LICENSE
  packages/angular/avatar/README.md
  packages/angular/avatar/ng-package.json
  packages/angular/avatar/package.json
  packages/angular/avatar/project.json
  packages/angular/avatar/src/index.ts
  packages/angular/avatar/tsconfig.json
  packages/angular/avatar/tsconfig.lib.json
  packages/angular/avatar/tsconfig.lib.prod.json
  packages/angular/components/package.json
  packages/react/avatar/.eslintrc.json
  packages/react/avatar/LICENSE
  packages/react/avatar/README.md
  packages/react/avatar/package.json
  packages/react/avatar/project.json
  packages/react/avatar/src/index.ts
  packages/react/avatar/tsconfig.json
  packages/react/avatar/tsconfig.lib.json
  packages/react/avatar/vite.config.ts
  packages/react/components/package.json
  tsconfig.base.json
  tsconfig.storybook-manager-paths.json
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

story: fix default overview control for toggle component
  apps/angular-kits-doc/stories/ui-components/toggle/toggle/overview/default.stories.ts
  apps/react-kits-doc/stories/ui-components/toggle/toggle/index.stories.ts
  apps/react-kits-doc/stories/ui-components/toggle/toggle/overview/default.stories.tsx
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

chore: add empty avatar component and config the default story
  apps/angular-kits-doc/stories/ui-components/avatar/avatar/description.md
  apps/angular-kits-doc/stories/ui-components/avatar/avatar/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar/overview/default.stories.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection-info/_story.source.ts
  apps/react-kits-doc/stories/ui-components/avatar/avatar/description.md
  apps/react-kits-doc/stories/ui-components/avatar/avatar/index.stories.ts
  apps/react-kits-doc/stories/ui-components/avatar/avatar/overview/default.stories.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection-info/_story.source.ts
  packages/angular/avatar/src/index.ts
  packages/angular/avatar/src/lib/avatar/avatar.component.html
  packages/angular/avatar/src/lib/avatar/avatar.component.scss
  packages/angular/avatar/src/lib/avatar/avatar.component.ts
  packages/common/core/src/lib/class-names/avatar-class-names.ts
  packages/common/core/src/lib/class-names/class-names.ts
  packages/common/core/src/lib/class-names/layout-class-names-config.ts
  packages/common/core/src/lib/model/theme-config.model.ts
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/react/avatar/src/index.ts
  packages/react/avatar/src/lib/avatar/avatar.tsx
  packages/themes/cocokits/src/lib/theme-config.ts
  packages/themes/cocokits/src/styles/scss/_all.scss
  packages/themes/cocokits/src/styles/scss/_avatar.scss
  packages/themes/cocokits/src/styles/scss/_index.scss
  packages/themes/frames-x/src/lib/theme-config.ts
  packages/themes/frames-x/src/styles/scss/_all.scss
  packages/themes/frames-x/src/styles/scss/_avatar.scss
  packages/themes/frames-x/src/styles/scss/_index.scss
  tools/workspace-plugin/src/generators/component/files/react-component/__fileName__.tsx.template
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files, pnpm stylelint --fix

story: update overview examples for chip-list component
  apps/angular-kits-doc/stories/ui-components/form-field/chip-list/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/form-field/chip-list/overview/color.stories.ts
  apps/angular-kits-doc/stories/ui-components/form-field/chip-list/overview/type.stories.ts
  apps/react-kits-doc/stories/ui-components/form-field/chip-list/index.stories.ts
  apps/react-kits-doc/stories/ui-components/form-field/chip-list/overview/color.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/chip-list/overview/type.stories.tsx
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

feat(angular-avatar): implement the angular avatar component with default and custom template stories
  .vscode/settings.json
  apps/angular-kits-doc/stories/ui-components/avatar/avatar/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar/ng-templates.md
  apps/angular-kits-doc/stories/ui-components/avatar/avatar/overview/custom-content.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar/overview/default.stories.ts
  packages/angular/avatar/src/index.ts
  packages/angular/avatar/src/lib/avatar/avatar.component.html
  packages/angular/avatar/src/lib/avatar/avatar.component.ts
  packages/angular/avatar/src/lib/avatar/avatar.tmpl-directive.ts
  packages/common/core/src/lib/class-names/avatar-class-names.ts
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/internal/storybook-addon-theme/src/lib/features/doc-page/doc-page-markdown.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-control-dialog.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-control-image.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-control.model.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-control.style.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-api.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page.utils.tsx
  packages/internal/storybook-addon-theme/src/lib/model/addon.model.ts
  packages/internal/storybook-addon-theme/src/lib/utils/control.config.ts
  packages/react/overlay/src/components/overlay.hooks.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

feat(theme-frames-x): add styles for avatar
  packages/themes/frames-x/src/styles/scss/_avatar.scss
Due: pnpm prettier --write, pnpm stylelint --fix

feat(theme-cocokits): add avatar styles
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/themes/cocokits/src/lib/theme-config.ts
  packages/themes/cocokits/src/styles/scss/_avatar.scss
  packages/themes/cocokits/src/token/scss/_index.scss
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files, pnpm stylelint --fix

story: fix source code for chip-list overview examples
  apps/angular-kits-doc/stories/ui-components/form-field/chip-list/overview/color.stories.ts
  apps/angular-kits-doc/stories/ui-components/form-field/chip-list/overview/size.stories.ts
  apps/angular-kits-doc/stories/ui-components/form-field/chip-list/overview/type.stories.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

feat(storybook-addon-theme): add sidenav new status
  packages/internal/storybook-addon-theme/src/lib/features/sidebar-label/sidebar-label.tsx
  packages/internal/storybook-addon-theme/src/lib/model/storybook-meta.model.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

chore: update eslint rule for tsx files
  tools/eslint/eslint.base.json
Due: pnpm prettier --write

feat(react-avatar): implement avatar component default and custom template stories
  apps/angular-kits-doc/stories/ui-components/avatar/avatar/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar/overview/default.stories.ts
  apps/react-kits-doc/stories/ui-components/avatar/avatar/index.stories.ts
  apps/react-kits-doc/stories/ui-components/avatar/avatar/overview/custom-content.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar/overview/default.stories.tsx
  packages/angular/avatar/src/lib/avatar/avatar.component.html
  packages/angular/avatar/src/lib/avatar/avatar.component.ts
  packages/react/avatar/src/lib/avatar/avatar.tsx
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

story: update overview examples for chip-list component
  apps/angular-kits-doc/stories/ui-components/form-field/chip-list/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/form-field/chip-list/overview/color.stories.ts
  apps/angular-kits-doc/stories/ui-components/form-field/chip-list/overview/type.stories.ts
  apps/react-kits-doc/stories/ui-components/form-field/chip-list/index.stories.ts
  apps/react-kits-doc/stories/ui-components/form-field/chip-list/overview/color.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/chip-list/overview/type.stories.tsx
  packages/themes/frames-x/src/lib/theme-config.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

refactor(core): move `UIBaseComponentsName` to new file
  packages/common/core/src/index.ts
  packages/common/core/src/lib/class-names/class-names.ts
  packages/common/core/src/lib/model/theme-config.model.ts
  packages/common/core/src/lib/model/ui-base-components-name.ts
  packages/common/core/src/lib/ui-component-props/ui-component-props.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

fix(workspace-plugin): remove logs and fix ejs pars errors
  tools/workspace-plugin/src/generators/component/src/angular-component-generator.ts
  tools/workspace-plugin/src/generators/component/src/react-component-generator.ts
  tools/workspace-plugin/src/generators/library/src/angular-ui-generator.ts
  tools/workspace-plugin/src/generators/library/src/react-ui-generator.ts
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryName.fileName__.template/__componentName.fileName__.template/overview.template/color.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryName.fileName__.template/__componentName.fileName__.template/overview.template/default.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryName.fileName__.template/__componentName.fileName__.template/overview.template/size.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryName.fileName__.template/__componentName.fileName__.template/overview.template/type.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryName.fileName__.template/__componentName.fileName__.template/overview.template/color.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryName.fileName__.template/__componentName.fileName__.template/overview.template/default.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryName.fileName__.template/__componentName.fileName__.template/overview.template/size.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryName.fileName__.template/__componentName.fileName__.template/overview.template/type.stories.ts.template
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

fix(workspace-plugin): fix ejs format
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryName.fileName__.template/__componentName.fileName__.template/overview.template/color.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryName.fileName__.template/__componentName.fileName__.template/overview.template/default.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryName.fileName__.template/__componentName.fileName__.template/overview.template/size.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryName.fileName__.template/__componentName.fileName__.template/overview.template/type.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryName.fileName__.template/__componentName.fileName__.template/overview.template/color.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryName.fileName__.template/__componentName.fileName__.template/overview.template/default.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryName.fileName__.template/__componentName.fileName__.template/overview.template/size.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryName.fileName__.template/__componentName.fileName__.template/overview.template/type.stories.ts.template
Due: none

fix(workspace-plugin): fix template file names
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryFileName__/__componentFileName__/index.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryFileName__/__componentFileName__/overview/color.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryFileName__/__componentFileName__/overview/default.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryFileName__/__componentFileName__/overview/size.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryFileName__/__componentFileName__/overview/type.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/class-name/__componentFileName__-class-names.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryFileName__/__componentFileName__/description.md.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryFileName__/__componentFileName__/index.stories.tsx.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryFileName__/__componentFileName__/overview/color.stories.tsx.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryFileName__/__componentFileName__/overview/default.stories.tsx.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryFileName__/__componentFileName__/overview/size.stories.tsx.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryFileName__/__componentFileName__/overview/type.stories.tsx.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryName.fileName__.template/__componentName.fileName__.template/description.md.template
  tools/workspace-plugin/src/generators/ui-core-component/files/theme-styles/___componentFileName__.scss.template
  tools/workspace-plugin/src/generators/ui-core-component/generator.ts
  tools/workspace-plugin/src/generators/ui-core-component/model.ts
  tools/workspace-plugin/src/generators/ui-core-component/utils/generate-component.ts
  tools/workspace-plugin/src/generators/ui-core-component/utils/generate-library.ts
  tools/workspace-plugin/src/generators/ui-core-component/utils/options.util.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

fix(workspace-plugin): fix esj template
  packages/themes/cocokits/src/styles/scss/_avatar-group.scss
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryFileName__/__componentFileName__/description.md.template
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryFileName__/__componentFileName__/index.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryFileName__/__componentFileName__/overview/default.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryFileName__/__componentFileName__/overview/size.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryFileName__/__componentFileName__/overview/type.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryFileName__/__componentFileName__/overview/color.stories.tsx.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryFileName__/__componentFileName__/overview/default.stories.tsx.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryFileName__/__componentFileName__/overview/size.stories.tsx.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryFileName__/__componentFileName__/overview/type.stories.tsx.template
  tools/workspace-plugin/src/generators/ui-core-component/files/theme-styles/___componentFileName__.scss.template
  tools/workspace-plugin/src/generators/ui-core-component/utils/generate-component.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files, pnpm stylelint --fix

chore: add missing file after run prettier
  packages/react/overlay/src/components/overlay.tsx
Due: none

fix(workspace-plugin): fix esj template variables
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryFileName__/__componentFileName__/overview/default.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryFileName__/__componentFileName__/overview/size.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryFileName__/__componentFileName__/overview/type.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryFileName__/__componentFileName__/overview/color.stories.tsx.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryFileName__/__componentFileName__/overview/default.stories.tsx.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryFileName__/__componentFileName__/overview/size.stories.tsx.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryFileName__/__componentFileName__/overview/type.stories.tsx.template
  tools/workspace-plugin/src/generators/ui-core-component/utils/generate-component.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

fix(workspace-plugin): fix esj template variables
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryFileName__/__componentFileName__/overview/color.stories.ts.template
Due: none

fix(workspace-plugin): fix saving files
  tools/workspace-plugin/src/generators/ui-core-component/model.ts
  tools/workspace-plugin/src/generators/ui-core-component/utils/class-names-map.util.ts
  tools/workspace-plugin/src/generators/ui-core-component/utils/generate-component.ts
  tools/workspace-plugin/src/generators/ui-core-component/utils/layout-class-names-config.util.ts
  tools/workspace-plugin/src/generators/ui-core-component/utils/options.util.ts
  tools/workspace-plugin/src/generators/ui-core-component/utils/theme-all-style.util.ts
  tools/workspace-plugin/src/generators/ui-core-component/utils/theme-configs.util.ts
  tools/workspace-plugin/src/generators/ui-core-component/utils/theme-index-style.util.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

fix(workspace-plugin): fix wrong file generator
  tools/workspace-plugin/src/generators/ui-core-component/utils/theme-all-style.util.ts
  tools/workspace-plugin/src/generators/ui-core-component/utils/theme-configs.util.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

fix(workspace-plugin): update regex patterns and variable declarations in utility files
  tools/workspace-plugin/src/generators/ui-core-component/utils/class-names-map.util.ts
  tools/workspace-plugin/src/generators/ui-core-component/utils/generate-component.ts
  tools/workspace-plugin/src/generators/ui-core-component/utils/layout-class-names-config.util.ts
  tools/workspace-plugin/src/generators/ui-core-component/utils/theme-all-style.util.ts
  tools/workspace-plugin/src/generators/ui-core-component/utils/theme-configs.util.ts
  tools/workspace-plugin/src/generators/ui-core-component/utils/theme-index-style.util.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

fix(workspace-plugin): remove unused SCSS file for avatar group styles
  packages/themes/cocokits/src/styles/scss/_avatar-group.scss
Due: pnpm prettier --write, pnpm stylelint --fix

fix(workspace-plugin): update library generator to use React framework
  tools/workspace-plugin/src/generators/ui-core-component/utils/generate-library.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

chore: add AvatarGroup component with generator
  apps/angular-kits-doc/stories/getting-started/utils/advanced-configuration.utils.tsx
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-group/description.md
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-group/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-group/overview/color.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-group/overview/default.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-group/overview/size.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-group/overview/type.stories.ts
  apps/react-kits-doc/stories/getting-started/utils/advanced-configuration.utils.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-group/description.md
  apps/react-kits-doc/stories/ui-components/avatar/avatar-group/index.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-group/overview/color.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-group/overview/default.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-group/overview/size.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-group/overview/type.stories.tsx
  packages/angular/avatar/src/index.ts
  packages/angular/avatar/src/lib/avatar-group/avatar-group.component.html
  packages/angular/avatar/src/lib/avatar-group/avatar-group.component.scss
  packages/angular/avatar/src/lib/avatar-group/avatar-group.component.ts
  packages/common/core/src/lib/class-names/avatar-group-class-names.ts
  packages/common/core/src/lib/class-names/class-names.ts
  packages/common/core/src/lib/class-names/layout-class-names-config.ts
  packages/common/core/src/lib/model/ui-base-components-name.ts
  packages/react/avatar/src/index.ts
  packages/react/avatar/src/lib/avatar-group/avatar-group.tsx
  packages/themes/cocokits/src/lib/theme-config.ts
  packages/themes/cocokits/src/styles/scss/_all.scss
  packages/themes/cocokits/src/styles/scss/_avatar-group.scss
  packages/themes/cocokits/src/styles/scss/_index.scss
  packages/themes/frames-x/src/lib/theme-config.ts
  packages/themes/frames-x/src/styles/scss/_all.scss
  packages/themes/frames-x/src/styles/scss/_avatar-group.scss
  packages/themes/frames-x/src/styles/scss/_index.scss
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files, pnpm stylelint --fix

fix(workspace-plugin): fix stories and template missing configs
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryFileName__/__componentFileName__/index.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryFileName__/__componentFileName__/overview/default.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryFileName__/__componentFileName__/index.stories.tsx.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryFileName__/__componentFileName__/overview/default.stories.tsx.template
  tools/workspace-plugin/src/generators/ui-core-component/utils/theme-all-style.util.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

feat(angular-avatar): implement avatar-group component
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-group/description.md
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-group/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-group/overview/color.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-group/overview/default.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-group/overview/size.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-group/overview/type.stories.ts
  packages/angular/avatar/src/lib/avatar-group/avatar-group.component.html
  packages/angular/avatar/src/lib/avatar-group/avatar-group.component.ts
  packages/angular/avatar/src/lib/avatar/avatar.component.ts
  packages/common/core/src/lib/class-names/avatar-group-class-names.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

feat(react-avatar): implement avatar-group component
  apps/react-kits-doc/stories/ui-components/avatar/avatar-group/description.md
  apps/react-kits-doc/stories/ui-components/avatar/avatar-group/index.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-group/overview/color.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-group/overview/default.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-group/overview/size.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-group/overview/type.stories.tsx
  apps/react-kits-doc/stories/ui-components/button/button/examples/add-new-button/_story.source.ts
  apps/react-kits-doc/stories/ui-components/button/button/examples/back-button/_story.source.ts
  apps/react-kits-doc/stories/ui-components/button/button/examples/copy-link-button/_story.source.ts
  apps/react-kits-doc/stories/ui-components/button/button/examples/delete-button/_story.source.ts
  apps/react-kits-doc/stories/ui-components/button/button/examples/stack-vertical-button/_story.source.ts
  apps/react-kits-doc/stories/ui-components/button/icon-button/examples/mode-toggle/_story.source.ts
  apps/react-kits-doc/stories/ui-components/button/icon-button/examples/social-buttons/_story.source.ts
  apps/react-kits-doc/stories/ui-components/button/icon-button/examples/volume-button/_story.source.ts
  apps/react-kits-doc/stories/ui-components/form-field/form-field/examples/email-validation/_story.source.ts
  apps/react-kits-doc/stories/ui-components/form-field/form-field/examples/input-hint-success/_story.source.ts
  apps/react-kits-doc/stories/ui-components/form-field/form-field/examples/input-side-label/_story.source.ts
  apps/react-kits-doc/stories/ui-components/form-field/form-field/examples/input-suffix-success/_story.source.ts
  apps/react-kits-doc/stories/ui-components/form-field/form-field/examples/leading-currency/_story.source.ts
  apps/react-kits-doc/stories/ui-components/form-field/form-field/examples/leading-icon/_story.source.ts
  apps/react-kits-doc/stories/ui-components/form-field/form-field/examples/leading-website/_story.source.ts
  apps/react-kits-doc/stories/ui-components/form-field/form-field/examples/password/_story.source.ts
  apps/react-kits-doc/stories/ui-components/form-field/form-field/examples/phone-number/_story.source.ts
  apps/react-kits-doc/stories/ui-components/form-field/form-field/examples/prefix-icon-select/_story.source.ts
  apps/react-kits-doc/stories/ui-components/form-field/form-field/examples/select-preview-tag/_story.source.ts
  apps/react-kits-doc/stories/ui-components/form-field/form-field/examples/suffix-card-pattern/_story.source.ts
  apps/react-kits-doc/stories/ui-components/form-field/form-field/examples/textarea-max-char/_story.source.ts
  apps/react-kits-doc/stories/ui-components/form-field/form-field/examples/trailing-copy/_story.source.ts
  apps/react-kits-doc/stories/ui-components/form-field/form-field/examples/trailing-custom-color/_story.source.ts
  apps/react-kits-doc/stories/ui-components/form-field/form-field/examples/trailing-domain/_story.source.ts
  apps/react-kits-doc/stories/ui-components/form-field/form-field/examples/trailing-select-amount/_story.source.ts
  packages/react/avatar/src/lib/avatar-group/avatar-group.tsx
  packages/react/avatar/src/lib/avatar/avatar.tsx
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

Path conditions:
  pnpm prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.json)
  pnpm nx affected --target=quick-fix-eslint -- --fix --files: any of: *.ts
  pnpm stylelint --fix: any of: *.scss
