Repository coco-base/cocokits: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files, pnpm stylelint --fix

.lintstagedrc.json:

{
  "*.ts": ["pnpm prettier --write", "pnpm nx affected --target=quick-fix-eslint -- --fix --files"],
  "*.scss": ["pnpm prettier --write", "pnpm stylelint --fix"],
  "*.json": ["pnpm prettier --write"]
}

feat(theme-cocokits): add styles for tabs library
  apps/website/src/components/home/ui-components/ui-components.tsx
  packages/angular/tabs/src/lib/tabs/tabs.component.ts
  packages/common/core/src/lib/class-names/tabs-class-names.ts
  packages/internal/storybook-addon-theme/src/assets/styles/cck-themes-components.css
  packages/internal/storybook-addon-theme/src/assets/styles/cck-themes-components.min.css
  packages/internal/storybook-addon-theme/src/lib/features/sidebar/sidebar.service.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-control-image.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-control-number.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-control-select.tsx
  packages/internal/storybook-addon-theme/src/lib/features/theme-selection/theme-selection-dialog-modes.tsx
  packages/internal/storybook-addon-theme/src/lib/features/theme-selection/theme-selection-dialog-themes.tsx
  packages/internal/storybook-addon-theme/src/lib/features/theme-selection/theme-selection-dialog.tsx
  packages/internal/storybook-addon-theme/src/lib/features/theme-selection/theme-selection.service.tsx
  packages/react/accordion/src/lib/accordion-header/accordion-header.tsx
  packages/react/button/src/lib/button.tsx
  packages/react/button/src/lib/icon-button.tsx
  packages/react/form-field/src/lib/chip-list.tsx
  packages/react/form-field/src/lib/form-field.tsx
  packages/react/form-field/src/lib/input.tsx
  packages/react/form-field/src/lib/select.tsx
  packages/react/menu/src/menu.tsx
  packages/react/overlay/src/components/overlay-standalone.service.tsx
  packages/react/overlay/src/components/overlay.tsx
  packages/react/radio/src/lib/radio-group.tsx
  packages/react/tabs/src/lib/tab/tab.tsx
  packages/react/tabs/src/lib/tabs/tabs.tsx
  packages/themes/cocokits/src/lib/theme-config.ts
  packages/themes/cocokits/src/styles/scss/_tab.scss
  packages/themes/cocokits/src/styles/scss/_tabs.scss
  packages/themes/cocokits/src/styles/scss/selector-names/_tabs-selector-names.scss
  packages/themes/cocokits/src/token/scss/_index.scss
  tools/eslint/eslint.react.json
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files, pnpm stylelint --fix

chore: config to use node 22
  .changeset/warm-forks-double.md
  .changeset/wise-shoes-itch.md
  .github/actions/pnpm-install/action.yml
  package.json
  packages/angular/utils/package.json
  packages/angular/utils/src/lib/pipes/array/to-obj-keys.pipe.spec.ts
  packages/common/core/src/lib/class-names/tabs-class-names.ts
  packages/internal/storybook-addon-theme/src/assets/styles/cck-themes-components.css
  packages/internal/storybook-addon-theme/src/assets/styles/cck-themes-components.min.css
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-control-image.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-control-number.tsx
  pnpm-lock.yaml
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

feat(badge): implement angular badge-container component with stories and cocokits theme
  apps/angular-kits-doc/stories/ui-components/badge/badge-container/description.md
  apps/angular-kits-doc/stories/ui-components/badge/badge-container/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge-container/overview/color.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge-container/overview/default.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge-container/overview/integration.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge-container/overview/position.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge-container/overview/type.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge/description.md
  apps/angular-kits-doc/stories/ui-components/badge/badge/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge/overview/color.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge/overview/default.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge/overview/dynamic-content.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge/overview/integration.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge/overview/max-indicator.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge/overview/size.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge/overview/type.stories.ts
  packages/angular/avatar/src/lib/avatar/avatar.component.ts
  packages/angular/badge/README.md
  packages/angular/badge/src/lib/badge-container/badge-container.component.html
  packages/angular/badge/src/lib/badge-container/badge-container.component.ts
  packages/angular/badge/src/lib/badge/badge.component.html
  packages/angular/badge/src/lib/badge/badge.component.ts
  packages/common/core/src/lib/class-names/badge-class-names.ts
  packages/common/core/src/lib/class-names/badge-container-class-names.ts
  packages/internal/storybook-addon-theme/src/assets/styles/cck-themes-components.css
  packages/internal/storybook-addon-theme/src/assets/styles/cck-themes-components.min.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-control.util.ts
  packages/internal/storybook-addon-theme/src/lib/model/addon.model.ts
  packages/internal/storybook-addon-theme/src/lib/utils/control.config.ts
  packages/internal/storybook-addon-theme/src/styles/story-decorator-wrapper.scss
  packages/react/avatar/src/lib/avatar/avatar.tsx
  packages/themes/cocokits/src/lib/theme-config.ts
  packages/themes/cocokits/src/styles/scss/_badge-container.scss
  packages/themes/cocokits/src/styles/scss/_badge.scss
  packages/themes/cocokits/src/styles/scss/selector-names/_badge-container-selector-names.scss
  packages/themes/cocokits/src/styles/scss/selector-names/_badge-selector-names.scss
  packages/themes/cocokits/src/styles/scss/variants/_icon-button-shared.scss
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files, pnpm stylelint --fix

feat(react-badge): implement react badge library
  apps/angular-kits-doc/stories/ui-components/badge/badge-container/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge-container/overview/color.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge-container/overview/integration.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge-container/overview/position.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge-container/overview/size.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge-container/overview/type.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge/overview/dynamic-content.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge/overview/integration.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge/overview/max-indicator.stories.ts
  apps/angular-kits-doc/stories/ui-components/tabs/tabs/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/tabs/tabs/ng-templates.md
  apps/react-kits-doc/stories/ui-components/badge/badge-container/description.md
  apps/react-kits-doc/stories/ui-components/badge/badge-container/index.stories.tsx
  apps/react-kits-doc/stories/ui-components/badge/badge-container/overview/color.stories.tsx
  apps/react-kits-doc/stories/ui-components/badge/badge-container/overview/default.stories.tsx
  apps/react-kits-doc/stories/ui-components/badge/badge-container/overview/integration.stories.tsx
  apps/react-kits-doc/stories/ui-components/badge/badge-container/overview/position.stories.tsx
  apps/react-kits-doc/stories/ui-components/badge/badge-container/overview/type.stories.tsx
  apps/react-kits-doc/stories/ui-components/badge/badge/description.md
  apps/react-kits-doc/stories/ui-components/badge/badge/index.stories.tsx
  apps/react-kits-doc/stories/ui-components/badge/badge/overview/color.stories.tsx
  apps/react-kits-doc/stories/ui-components/badge/badge/overview/default.stories.tsx
  apps/react-kits-doc/stories/ui-components/badge/badge/overview/dynamic-content.stories.tsx
  apps/react-kits-doc/stories/ui-components/badge/badge/overview/integration.stories.tsx
  apps/react-kits-doc/stories/ui-components/badge/badge/overview/max-indicator.stories.tsx
  apps/react-kits-doc/stories/ui-components/badge/badge/overview/size.stories.tsx
  apps/react-kits-doc/stories/ui-components/badge/badge/overview/type.stories.tsx
  packages/angular/badge/src/lib/badge-container/badge-container.component.ts
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-api.utils.ts
  packages/react/avatar/src/lib/avatar-label/avatar-label.tsx
  packages/react/badge/src/lib/badge-container/badge-container.tsx
  packages/react/badge/src/lib/badge/badge.tsx
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryFileName__/__componentFileName__/overview/size.stories.tsx.template
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

chore: add changeset log for badge library
  .changeset/badge-storybook-addon.md
  .changeset/fine-seals-care.md
  .changeset/funny-jobs-dream.md
  .changeset/ripe-badgers-give.md
  .changeset/twenty-turkeys-start.md
  .changeset/yummy-emus-refuse.md
Due: none

feat(theme-frames-x): add badge styles
  packages/internal/storybook-addon-theme/src/assets/styles/cck-themes-components.css
  packages/internal/storybook-addon-theme/src/assets/styles/cck-themes-components.min.css
  packages/themes/frames-x/src/lib/theme-config.ts
  packages/themes/frames-x/src/styles/scss/_badge-container.scss
  packages/themes/frames-x/src/styles/scss/_badge.scss
  packages/themes/frames-x/src/styles/scss/selector-names/_badge-container-selector-names.scss
  packages/themes/frames-x/src/styles/scss/selector-names/_badge-selector-names.scss
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files, pnpm stylelint --fix

chore: remove new status von stories sidenav
  apps/angular-kits-doc/stories/ui-components/accordion/accordion/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-group/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-label/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge-container/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/badge/badge/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/tabs/tabs/index.stories.ts
  apps/react-kits-doc/stories/ui-components/accordion/accordion/index.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-group/index.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-label/index.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar/index.stories.ts
  apps/react-kits-doc/stories/ui-components/badge/badge-container/index.stories.tsx
  apps/react-kits-doc/stories/ui-components/badge/badge/index.stories.tsx
  apps/react-kits-doc/stories/ui-components/tabs/tabs/index.stories.tsx
  packages/internal/storybook-addon-theme/src/assets/styles/cck-themes-components.css
  packages/internal/storybook-addon-theme/src/assets/styles/cck-themes-components.min.css
  packages/themes/frames-x/src/lib/theme-config.ts
  tools/workspace-plugin/src/generators/ui-core-component/files/angular-storybook/__libraryFileName__/__componentFileName__/index.stories.ts.template
  tools/workspace-plugin/src/generators/ui-core-component/files/react-storybook/__libraryFileName__/__componentFileName__/index.stories.tsx.template
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

feat(badge): update packageJson dependencies
  packages/angular/badge/package.json
  packages/react/badge/package.json
Due: pnpm prettier --write
