Repository coco-base/cocokits: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

.lintstagedrc.json:

{
  "*.ts": ["pnpm prettier --write", "pnpm nx affected:lint --fix --files"],
  "*.scss": ["pnpm prettier --write", "pnpm stylelint --fix"],
  "*.json": ["pnpm prettier --write"]
}

chore: update theme.scss imports in Storybook
  apps/react-kits-doc/.storybook/preview.ts
  nx.json
  packages/angular/icon/stories/svg-icons-list/component/svg-icon-list.component.html
  packages/angular/icon/stories/svg-icons-list/component/svg-icon-list.component.scss
  packages/angular/icon/stories/svg-icons-list/component/svg-icon-list.component.ts
  packages/angular/icon/stories/svg-icons-list/description.md
  packages/angular/icon/stories/svg-icons-list/index.stories.ts
  packages/internal/storybook-theme-switcher/src/lib/components/cck-theme-dialog/CckModeSelection.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/cck-theme-dialog/CckThemeDialog.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/cck-theme-dialog/CckThemeSelection.tsx
  packages/internal/storybook-theme-switcher/src/lib/styles/themes.scss
  packages/react/button/.storybook/preview.ts
  packages/react/checkbox/.storybook/preview.ts
  packages/react/components/.storybook/preview.ts
  packages/react/core/.storybook/preview.ts
  packages/react/divider/.storybook/preview.ts
  packages/react/form-field/.storybook/preview.ts
  packages/react/icon/.storybook/preview.ts
  packages/react/menu/.storybook/preview.ts
  packages/react/overlay/src/components/Overlay.tsx
  packages/react/overlay/src/components/overlay.service.tsx
  packages/react/radio/.storybook/preview.ts
  packages/react/toggle/.storybook/preview.ts
  packages/react/utils/.storybook/preview.ts
  packages/themes/cocokits/src/styles/css/components.css
  packages/themes/cocokits/src/styles/css/components.min.css
  packages/themes/frames-x/src/styles/css/components.css
  packages/themes/frames-x/src/styles/css/components.min.css
  tools/scripts/storybook/themes.scss
  tools/workspace-plugin/src/generators/setup-storybook/files/react/.storybook/preview.ts.template
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

chore: fix react build packages for production by adding nx output and external dependencies
  .vscode/settings.json
  package.json
  packages/react/button/project.json
  packages/react/button/vite.config.ts
  packages/react/cdk/project.json
  packages/react/cdk/vite.config.ts
  packages/react/checkbox/project.json
  packages/react/checkbox/vite.config.ts
  packages/react/components/project.json
  packages/react/components/vite.config.ts
  packages/react/core/package.json
  packages/react/core/project.json
  packages/react/core/vite.config.ts
  packages/react/divider/project.json
  packages/react/divider/vite.config.ts
  packages/react/form-field/project.json
  packages/react/form-field/vite.config.ts
  packages/react/icon/project.json
  packages/react/icon/vite.config.ts
  packages/react/menu/project.json
  packages/react/menu/vite.config.ts
  packages/react/overlay/package.json
  packages/react/overlay/project.json
  packages/react/overlay/src/index.ts
  packages/react/overlay/vite.config.ts
  packages/react/radio/project.json
  packages/react/toggle/project.json
  packages/react/toggle/vite.config.ts
  packages/react/utils/project.json
  packages/react/utils/vite.config.ts
  packages/themes/cocokits/src/styles/css/components.css
  packages/themes/cocokits/src/styles/css/components.min.css
  packages/themes/cocokits/src/token/scss/_index.scss
  packages/themes/frames-x/src/styles/css/components.css
  packages/themes/frames-x/src/styles/css/components.min.css
  packages/themes/frames-x/src/token/scss/_index.scss
  pnpm-lock.yaml
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

chore: clean up package.json by removing unused overrides and optional dependencies
  package.json
Due: pnpm prettier --write

chore: add --skip-nx-cache option to build and test commands in GitHub Actions workflow
  .github/workflows/main-branch-pull-request.yml
Due: none

chore: add --parallel option to build and test commands in GitHub Actions workflow
  .github/workflows/main-branch-pull-request.yml
Due: none

chore: update build command in GitHub Actions workflow to run all cocokits builds
  .github/workflows/main-branch-pull-request.yml
Due: none

chore: update theme paths in project configurations
  apps/angular-kits-doc/project.json
  package.json
  packages/angular/button/project.json
  packages/angular/cdk/project.json
  packages/angular/checkbox/project.json
  packages/angular/core/project.json
  packages/angular/divider/project.json
  packages/angular/form-field/project.json
  packages/angular/icon/project.json
  packages/angular/menu/project.json
  packages/angular/overlay/project.json
  packages/angular/radio/project.json
  packages/angular/toggle/project.json
  packages/angular/utils/project.json
  packages/themes/README.md
  packages/themes/cocokits/src/token/scss/_index.scss
  packages/themes/frames-x/src/token/scss/_index.scss
  patches/@storybook__builder-manager.patch
  patches/@storybook__builder-manager@8.0.10.patch
  pnpm-lock.yaml
  tools/eslint/enforce-module-boundaries.json
  tools/scripts/storybook/themes.scss
  tools/workspace-plugin/src/generators/setup-storybook/utils/get-project-json-changes.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

fix(theme-frames-x): update icon sizes and add new size option in theme styles
  .changeset/rich-bats-learn.md
  packages/themes/frames-x/src/lib/ui-component-props.config.ts
  packages/themes/frames-x/src/styles/css/components.css
  packages/themes/frames-x/src/styles/css/components.min.css
  packages/themes/frames-x/src/styles/scss/_icon-button.scss
  packages/themes/frames-x/src/styles/scss/_icon.scss
  packages/themes/frames-x/src/styles/scss/_menu-item.scss
  packages/themes/frames-x/src/styles/scss/_option.scss
  packages/themes/frames-x/src/styles/scss/_prefix.scss
  packages/themes/frames-x/src/styles/scss/_select.scss
  packages/themes/frames-x/src/styles/scss/_suffix.scss
  packages/themes/frames-x/src/token/core/_local-style.default.mixin.scss
  packages/themes/frames-x/src/token/core/_sizing.compact.mixin.scss
  packages/themes/frames-x/src/token/core/_sizing.spacious.mixin.scss
  packages/themes/frames-x/src/token/css/tokens.css
  packages/themes/frames-x/src/token/css/tokens.min.css
  packages/themes/frames-x/src/token/dictionary/token-dictionary.ts
  packages/themes/frames-x/src/token/scss/_sizing.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

fix(storybook-theme-switcher): update cocokits icon and fav icon
  packages/internal/storybook-theme-switcher/src/assets/cocokits-icon-dark.svg
  packages/internal/storybook-theme-switcher/src/assets/cocokits-icon-green.svg
  packages/internal/storybook-theme-switcher/src/assets/cocokits-icon-light.svg
  packages/internal/storybook-theme-switcher/src/assets/cocokits-logo-dark.svg
  packages/internal/storybook-theme-switcher/src/assets/cocokits-logo-light.svg
  packages/internal/storybook-theme-switcher/src/assets/favicon/android-chrome-192x192.png
  packages/internal/storybook-theme-switcher/src/assets/favicon/android-chrome-512x512.png
  packages/internal/storybook-theme-switcher/src/assets/favicon/apple-touch-icon.png
  packages/internal/storybook-theme-switcher/src/assets/favicon/favicon-16x16.png
  packages/internal/storybook-theme-switcher/src/assets/favicon/favicon-32x32.png
  packages/internal/storybook-theme-switcher/src/assets/favicon/favicon-96x96.png
  packages/internal/storybook-theme-switcher/src/assets/favicon/favicon.ico
  packages/internal/storybook-theme-switcher/src/assets/favicon/favicon.svg
  packages/internal/storybook-theme-switcher/src/assets/favicon/site.webmanifest
  packages/internal/storybook-theme-switcher/src/assets/favicon/web-app-manifest-192x192.png
  packages/internal/storybook-theme-switcher/src/assets/favicon/web-app-manifest-512x512.png
  packages/internal/storybook-theme-switcher/src/assets/storybook-manager-theme-switcher.css
Due: none

chore: update storybook manager to override the favicon
  patches/@storybook__builder-manager.patch
  pnpm-lock.yaml
Due: none

fix(storybook-theme-switcher): change default selected theme to 'frames-x'
  packages/internal/storybook-theme-switcher/src/lib/config/cck-theme.config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: correct capitalization in installation instructions and advanced configuration
  apps/angular-kits-doc/stories/advanced-configuration.mdx
  apps/angular-kits-doc/stories/install.mdx
  apps/react-kits-doc/stories/advanced-configuration.mdx
  apps/react-kits-doc/stories/install.mdx
Due: none

fix(storybook-theme-switcher): update description for 'Frames X' theme
  packages/internal/storybook-theme-switcher/src/lib/config/cck-theme.config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: update template icon of stories
  packages/angular/button/stories/icon-button/template-svg-icon.ts
  packages/angular/icon/stories/svg-icon/template-svg-icon.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: add supported design systems section to README and welcome page
  README.md
  apps/angular-kits-doc/stories/welcome.mdx
Due: none

chore: replace deprecated scss import with forward
  packages/themes/cocokits/src/token/scss/_index.scss
  packages/themes/frames-x/src/token/scss/_index.scss
  tools/scripts/storybook/themes.scss
  tools/workspace-plugin/src/executors/token-generator/builder/build-scss.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

fix(theme-frames-x): replace xl size from 58 to 56px
  packages/themes/frames-x/src/styles/scss/_button.scss
  packages/themes/frames-x/src/styles/scss/_form-field.scss
  packages/themes/frames-x/src/styles/scss/_icon-button.scss
  packages/themes/frames-x/src/styles/scss/_option.scss
  packages/themes/frames-x/src/styles/scss/_option_group.scss
Due: pnpm prettier --write, pnpm stylelint --fix

fix(storybook-theme-switcher): add key prop to type mapping
  packages/internal/storybook-theme-switcher/src/lib/components/doc-page/DocArgTypesTable.tsx
Due: none

fix(storybook-theme-switcher): update default selected modes to include dark color mode in frames-x
  packages/internal/storybook-theme-switcher/src/lib/config/cck-theme.config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: update build-all command to include separate builds for React and Angular projects
  project.json
Due: pnpm prettier --write

chore: update build process to separate React and Angular builds in CI workflow
  .github/workflows/main-branch-pull-request.yml
  project.json
Due: pnpm prettier --write

chore: adjust build order to ensure React builds before Angular in CI workflow
  .github/workflows/main-branch-pull-request.yml
Due: none

chore: add quick fix to build React project first in CI workflow
  .github/workflows/main-branch-pull-request.yml
Due: none

test(core): restructure themeConfig to nest components and improve validation error messages
  packages/common/core/src/lib/ui-component-props/ui-component-props.spec.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

fix(theme-frames-x): reduce gap size for large chip list items
  packages/themes/frames-x/src/styles/scss/_chip-list.scss
Due: pnpm prettier --write, pnpm stylelint --fix

fix(react-kits-doc): remove placeholder test script from package.json
  apps/react-kits-doc/package.json
Due: pnpm prettier --write

chore: add changes log for v1.0.0 release
  .changeset/curvy-poets-complain.md
  .changeset/nasty-falcons-shop.md
  .changeset/rich-bats-learn.md
  .changeset/small-colts-arrive.md
Due: none

chore: build for release v1.1.0
  packages/themes/cocokits/src/styles/css/components.css
  packages/themes/cocokits/src/styles/css/components.min.css
  packages/themes/frames-x/src/styles/css/components.css
  packages/themes/frames-x/src/styles/css/components.min.css
Due: none

chore: bump version to v1.1.0
  .changeset/curvy-poets-complain.md
  .changeset/nasty-falcons-shop.md
  .changeset/rich-bats-learn.md
  .changeset/small-colts-arrive.md
  packages/angular/button/CHANGELOG.md
  packages/angular/button/package.json
  packages/angular/cdk/CHANGELOG.md
  packages/angular/cdk/package.json
  packages/angular/checkbox/CHANGELOG.md
  packages/angular/checkbox/package.json
  packages/angular/components/CHANGELOG.md
  packages/angular/components/package.json
  packages/angular/core/CHANGELOG.md
  packages/angular/core/package.json
  packages/angular/divider/CHANGELOG.md
  packages/angular/divider/package.json
  packages/angular/form-field/CHANGELOG.md
  packages/angular/form-field/package.json
  packages/angular/icon/CHANGELOG.md
  packages/angular/icon/package.json
  packages/angular/menu/CHANGELOG.md
  packages/angular/menu/package.json
  packages/angular/overlay/CHANGELOG.md
  packages/angular/overlay/package.json
  packages/angular/radio/CHANGELOG.md
  packages/angular/radio/package.json
  packages/angular/toggle/CHANGELOG.md
  packages/angular/toggle/package.json
  packages/common/core/CHANGELOG.md
  packages/common/core/package.json
  packages/internal/storybook-theme-switcher/CHANGELOG.md
  packages/internal/storybook-theme-switcher/package.json
  packages/themes/cocokits/CHANGELOG.md
  packages/themes/cocokits/package.json
  packages/themes/frames-x/CHANGELOG.md
  packages/themes/frames-x/package.json
Due: pnpm prettier --write

chore: rename ui-component files to theme-config and update imports to use theme-config model
  packages/common/core/src/index.ts
  packages/common/core/src/lib/class-names/button-class-names.ts
  packages/common/core/src/lib/class-names/checkbox-class-names.ts
  packages/common/core/src/lib/class-names/chip-class-names.ts
  packages/common/core/src/lib/class-names/chip-list-class-names.ts
  packages/common/core/src/lib/class-names/class-names.ts
  packages/common/core/src/lib/class-names/divider-class-names.ts
  packages/common/core/src/lib/class-names/error-class-names.ts
  packages/common/core/src/lib/class-names/form-field-class-names.ts
  packages/common/core/src/lib/class-names/hint-class-names.ts
  packages/common/core/src/lib/class-names/icon-button-class-names.ts
  packages/common/core/src/lib/class-names/icon-class-names.ts
  packages/common/core/src/lib/class-names/input-class-names.ts
  packages/common/core/src/lib/class-names/label-class-names.ts
  packages/common/core/src/lib/class-names/leading-class-names.ts
  packages/common/core/src/lib/class-names/menu-class-names.ts
  packages/common/core/src/lib/class-names/menu-item-class-names.ts
  packages/common/core/src/lib/class-names/option-class-names.ts
  packages/common/core/src/lib/class-names/option-group-class-names.ts
  packages/common/core/src/lib/class-names/prefix-class-names.ts
  packages/common/core/src/lib/class-names/radio-button-class-names.ts
  packages/common/core/src/lib/class-names/radio-group-class-names.ts
  packages/common/core/src/lib/class-names/select-class-names.ts
  packages/common/core/src/lib/class-names/select-preview-class-names.ts
  packages/common/core/src/lib/class-names/suffix-class-names.ts
  packages/common/core/src/lib/class-names/textarea-class-names.ts
  packages/common/core/src/lib/class-names/toggle-class-names.ts
  packages/common/core/src/lib/class-names/trailing-class-names.ts
  packages/common/core/src/lib/model/theme-config.model.ts
  packages/common/core/src/lib/ui-component-props/ui-component-props.ts
  packages/themes/cocokits/src/index.ts
  packages/themes/cocokits/src/lib/theme-config.ts
  packages/themes/frames-x/src/index.ts
  packages/themes/frames-x/src/lib/theme-config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: theme config accept partial of components and remove unused components from theme configurations
  packages/common/core/src/lib/model/theme-config.model.ts
  packages/themes/cocokits/src/lib/theme-config.ts
  packages/themes/frames-x/src/lib/theme-config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

Update README.md
  README.md
Due: none

chore: add prefix to css selectors, disable elements selector doc and use interface for `LayoutClassNames`
  packages/common/core/src/lib/class-names/button-class-names.ts
  packages/common/core/src/lib/class-names/checkbox-class-names.ts
  packages/common/core/src/lib/class-names/chip-class-names.ts
  packages/common/core/src/lib/class-names/chip-list-class-names.ts
  packages/common/core/src/lib/class-names/class-names.ts
  packages/common/core/src/lib/class-names/css-selector-render.ts
  packages/common/core/src/lib/class-names/divider-class-names.ts
  packages/common/core/src/lib/class-names/error-class-names.ts
  packages/common/core/src/lib/class-names/form-field-class-names.ts
  packages/common/core/src/lib/class-names/hint-class-names.ts
  packages/common/core/src/lib/class-names/icon-button-class-names.ts
  packages/common/core/src/lib/class-names/icon-class-names.ts
  packages/common/core/src/lib/class-names/input-class-names.ts
  packages/common/core/src/lib/class-names/label-class-names.ts
  packages/common/core/src/lib/class-names/layout-class-names-config.ts
  packages/common/core/src/lib/class-names/leading-class-names.ts
  packages/common/core/src/lib/class-names/menu-class-names.ts
  packages/common/core/src/lib/class-names/menu-item-class-names.ts
  packages/common/core/src/lib/class-names/option-class-names.ts
  packages/common/core/src/lib/class-names/option-group-class-names.ts
  packages/common/core/src/lib/class-names/prefix-class-names.ts
  packages/common/core/src/lib/class-names/radio-button-class-names.ts
  packages/common/core/src/lib/class-names/radio-group-class-names.ts
  packages/common/core/src/lib/class-names/select-class-names.ts
  packages/common/core/src/lib/class-names/select-preview-class-names.ts
  packages/common/core/src/lib/class-names/suffix-class-names.ts
  packages/common/core/src/lib/class-names/textarea-class-names.ts
  packages/common/core/src/lib/class-names/toggle-class-names.ts
  packages/common/core/src/lib/class-names/trailing-class-names.ts
  packages/common/core/src/lib/model/common.model.ts
  packages/common/core/src/lib/model/theme-config.model.ts
  packages/common/core/src/lib/ui-component-props/ui-component-props.ts
  packages/common/utils/src/index.ts
  packages/common/utils/src/lib/uncategorized/string.ts
  packages/internal/storybook-theme-switcher/src/lib/components/mdx-doc/MdxCssSelectorTable.tsx
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(common-utils): add InstanceStore for singleton instance management and corresponding tests
  packages/common/utils/src/index.ts
  packages/common/utils/src/lib/uncategorized/instance-store.spec.ts
  packages/common/utils/src/lib/uncategorized/instance-store.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(storybook-addon-theme): add a placeholder for preview styles
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/internal/storybook-addon-theme/src/styles/preview-styles.scss
Due: pnpm prettier --write, pnpm stylelint --fix
