Repository coco-base/cocokits: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

fix(docs): add missing label to checkbox example in storybook
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/overview/default.stories.tsx
Due: none

fix(docs): correct theme configuration examples and SCSS syntax
  apps/react-kits-doc/stories/getting-started/advanced-configuration.mdx
  apps/react-kits-doc/stories/getting-started/utils/advanced-configuration.utils.tsx
Due: none

feat(angular-form-field): add appendTo option for overlay positioning in select components
  apps/angular-kits-doc/stories/ui-components/form-field/form-field/examples/phone-number/phone-number.component.html
  apps/angular-kits-doc/stories/ui-components/form-field/form-field/examples/prefix-icon-select/prefix-icon-select.component.ts
  apps/angular-kits-doc/stories/ui-components/form-field/form-field/examples/select-preview-tag/select-preview-tag.component.ts
  apps/angular-kits-doc/stories/ui-components/form-field/form-field/examples/trailing-select-amount/trailing-select-amount.component.ts
  packages/angular/form-field/src/lib/select/select.component.ts
  packages/angular/overlay/src/models/overlay-config.model.ts
  packages/angular/overlay/src/services/overlay.service.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: remove overrides for lmdb in package.json
  package.json
Due: pnpm prettier --write

chore: update test command to exclude additional directories in CI workflow
  .github/workflows/main-branch-pull-request.yml
  apps/react-kits-doc/package.json
Due: pnpm prettier --write

chore: add changes log
  .changeset/angry-hornets-rush.md
  .changeset/soft-carpets-itch.md
  packages/react/button/package.json
  packages/react/cdk/package.json
  packages/react/checkbox/package.json
  packages/react/components/package.json
  packages/react/core/package.json
  packages/react/divider/package.json
  packages/react/form-field/package.json
  packages/react/icon/package.json
  packages/react/menu/package.json
  packages/react/radio/package.json
  packages/react/tabs/package.json
  packages/react/toggle/package.json
  packages/react/utils/package.json
  packages/themes/cocokits/src/styles/css/components.css
  packages/themes/cocokits/src/styles/css/components.min.css
  packages/themes/frames-x/src/styles/css/components.css
  packages/themes/frames-x/src/styles/css/components.min.css
Due: pnpm prettier --write

chore: remove private from package.json files
  packages/angular/button/package.json
  packages/angular/cdk/package.json
  packages/angular/checkbox/package.json
  packages/angular/components/package.json
  packages/angular/core/package.json
  packages/angular/divider/package.json
  packages/angular/form-field/package.json
  packages/angular/icon/package.json
  packages/angular/menu/package.json
  packages/angular/overlay/package.json
  packages/angular/radio/package.json
  packages/angular/toggle/package.json
  packages/angular/utils/package.json
  packages/common/core/package.json
  packages/common/icons/package.json
  packages/common/utils/package.json
  packages/react/cdk/package.json
  packages/react/checkbox/package.json
  packages/react/components/package.json
  packages/react/core/package.json
  packages/react/divider/package.json
  packages/react/form-field/package.json
  packages/react/icon/package.json
  packages/react/menu/package.json
  packages/react/overlay/package.json
  packages/react/radio/package.json
  packages/react/tabs/package.json
  packages/react/toggle/package.json
  packages/react/utils/package.json
  packages/themes/cocokits/package.json
  packages/themes/frames-x/package.json
Due: pnpm prettier --write

chore: update publish config to support access level
  .npmrc
  packages/angular/button/package.json
  packages/angular/cdk/package.json
  packages/angular/checkbox/package.json
  packages/angular/components/package.json
  packages/angular/core/package.json
  packages/angular/divider/package.json
  packages/angular/form-field/package.json
  packages/angular/icon/package.json
  packages/angular/menu/package.json
  packages/angular/overlay/package.json
  packages/angular/radio/package.json
  packages/angular/toggle/package.json
  packages/angular/utils/package.json
  packages/common/core/package.json
  packages/common/icons/package.json
  packages/common/utils/package.json
  packages/react/button/package.json
  packages/react/cdk/package.json
  packages/react/checkbox/package.json
  packages/react/components/package.json
  packages/react/core/package.json
  packages/react/divider/package.json
  packages/react/form-field/package.json
  packages/react/icon/package.json
  packages/react/menu/package.json
  packages/react/overlay/package.json
  packages/react/radio/package.json
  packages/react/tabs/package.json
  packages/react/toggle/package.json
  packages/react/utils/package.json
  packages/themes/cocokits/package.json
  packages/themes/frames-x/package.json
  tools/workspace-plugin/src/generators/library/files/angular-ui/package.json.template
  tools/workspace-plugin/src/generators/library/files/react-ui/package.json.template
Due: pnpm prettier --write

chore: add README file to the dist folder for react libraries
  package.json
  packages/react/button/vite.config.ts
  packages/react/cdk/vite.config.ts
  packages/react/checkbox/vite.config.ts
  packages/react/components/vite.config.ts
  packages/react/core/vite.config.ts
  packages/react/divider/vite.config.ts
  packages/react/form-field/vite.config.ts
  packages/react/icon/vite.config.ts
  packages/react/menu/vite.config.ts
  packages/react/overlay/vite.config.ts
  packages/react/radio/vite.config.ts
  packages/react/tabs/vite.config.ts
  packages/react/toggle/vite.config.ts
  packages/react/utils/vite.config.ts
  pnpm-lock.yaml
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: mark react-kits-doc package as private
  apps/react-kits-doc/package.json
Due: pnpm prettier --write

chore: update react doc page and README
  README.md
  apps/angular-kits-doc/stories/utils/pipes.mdx
  apps/angular-kits-doc/stories/utils/signal.mdx
  apps/react-kits-doc/stories/getting-started/welcome.mdx
  apps/react-kits-doc/stories/utils/_hidden.mdx
  apps/react-kits-doc/stories/utils/use-debug.mdx
  apps/react-kits-doc/stories/utils/use-effect-after-mount.mdx
  apps/react-kits-doc/stories/utils/use-immediately-effect.mdx
  apps/react-kits-doc/stories/utils/use-promise.mdx
  apps/react-kits-doc/stories/utils/use-silent-state.mdx
  apps/react-kits-doc/stories/utils/use-static-text.mdx
  packages/internal/common-kits-doc/stories/utils/DOM.mdx
  packages/internal/common-kits-doc/stories/utils/Promise.mdx
  packages/internal/common-kits-doc/stories/utils/common.mdx
  packages/internal/common-kits-doc/stories/utils/comparator.mdx
  packages/internal/common-kits-doc/stories/utils/differs.mdx
  packages/internal/common-kits-doc/stories/utils/ensure.mdx
  packages/internal/common-kits-doc/stories/utils/event-listener.mdx
  packages/internal/common-kits-doc/stories/utils/observer.mdx
  packages/internal/common-kits-doc/stories/utils/scroll.mdx
  packages/internal/common-kits-doc/stories/utils/search.mdx
  packages/internal/common-kits-doc/stories/utils/selection.mdx
  packages/internal/common-kits-doc/stories/utils/string.mdx
  packages/internal/common-kits-doc/stories/utils/transform.mdx
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.min.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
Due: none

fix(workspace-plugin): fix example story generator to update in tndex story
  tools/workspace-plugin/src/generators/example-story/generator.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: add checkbox label through example
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-through/_story.source.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-through/checkbox-label-through.component.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-through/index.example.stories.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/index.stories.ts
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-through/CheckboxLabelThrough.styled.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-through/CheckboxLabelThrough.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-through/_story.source.ts
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-through/index.example.stories.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/index.stories.ts
  packages/internal/common-kits-doc/src/examples-config/checkbox/checkbox-label-through.config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: add 'story' commit type for documentation updates
  commitlint.config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

story: update checkbox-label-through example to use dynamic size and consistent styling
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-through/_story.source.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-through/checkbox-label-through.component.ts
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-through/CheckboxLabelThrough.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-through/_story.source.ts
  packages/internal/common-kits-doc/src/examples-config/checkbox/checkbox-label-through.config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

refactor(common-kits-doc): remove unused 'name' property from checkbox label example
  packages/internal/common-kits-doc/src/examples-config/checkbox/checkbox-label-through.config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

story: add checkbox with link in label example
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-link/_story.source.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-link/checkbox-label-link.component.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-link/index.example.stories.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/index.stories.ts
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-link/CheckboxLabelLink.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-link/_story.source.ts
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-link/index.example.stories.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/index.stories.ts
  packages/internal/common-kits-doc/src/examples-config/checkbox/checkbox-label-link.config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

fix: update email in contributing guidelineg
  packages/internal/common-kits-doc/stories/contributing/guidelines.mdx
Due: none

story: enhance label link and strikethrough examples
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-link/_story.source.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-link/checkbox-label-link.component.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-through/_story.source.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-through/checkbox-label-through.component.ts
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-link/CheckboxLabelLink.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-link/_story.source.ts
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-through/CheckboxLabelThrough.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-through/_story.source.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

story: add checkbox group column example
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-column/_story.source.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-column/checkbox-group-column.component.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-column/index.example.stories.ts
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-column/CheckboxGroupColumn.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-column/_story.source.ts
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-column/index.example.stories.tsx
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

story: add checkbox group row example
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-row/_story.source.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-row/checkbox-group-row.component.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-row/index.example.stories.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/index.stories.ts
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-row/CheckboxGroupRow.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-row/_story.source.ts
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-row/index.example.stories.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/index.stories.ts
  packages/internal/common-kits-doc/src/examples-config/checkbox/checkbox-group-column.config.ts
  packages/internal/common-kits-doc/src/examples-config/checkbox/checkbox-group-row.config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: update welcome doc page
  apps/angular-kits-doc/.storybook/tsconfig.json
  apps/angular-kits-doc/stories/getting-started/welcome.mdx
  apps/react-kits-doc/stories/getting-started/welcome.mdx
  packages/common/icons/src/icons.ts
  packages/internal/common-kits-doc/stories/getting-started/components/feature-image.tsx
  packages/internal/common-kits-doc/stories/getting-started/components/feature.tsx
  packages/internal/common-kits-doc/stories/getting-started/components/features.tsx
  packages/internal/common-kits-doc/stories/getting-started/components/intro.tsx
  packages/internal/common-kits-doc/stories/getting-started/components/neon-box.tsx
  packages/internal/common-kits-doc/stories/getting-started/components/who-can-use.tsx
  packages/internal/common-kits-doc/stories/getting-started/welcome.mdx
  packages/internal/common-kits-doc/tsconfig.json
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.min.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/internal/storybook-addon-theme/src/index.ts
  packages/internal/storybook-addon-theme/src/styles/typography.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

Update README.md
  README.md
Due: none

story: add box selection example and improve styling
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection/_story.source.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection/checkbox-box-selection.component.html
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection/checkbox-box-selection.component.scss
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection/checkbox-box-selection.component.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection/index.example.stories.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-column/_story.source.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-column/checkbox-group-column.component.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-row/_story.source.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-row/checkbox-group-row.component.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-link/_story.source.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-link/checkbox-label-link.component.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-through/_story.source.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-through/checkbox-label-through.component.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/index.stories.ts
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection/CheckboxBoxSelection.styled.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection/CheckboxBoxSelection.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection/_story.source.ts
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection/index.example.stories.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-column/CheckboxGroupColumn.styled.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-column/CheckboxGroupColumn.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-column/_story.source.ts
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-row/CheckboxGroupRow.styled.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-row/CheckboxGroupRow.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-row/_story.source.ts
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-link/CheckboxLabelLink.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-link/_story.source.ts
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-through/CheckboxLabelThrough.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-label-through/_story.source.ts
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/index.stories.ts
  packages/internal/common-kits-doc/src/examples-config/checkbox/checkbox-box-selection.config.ts
  packages/internal/common-kits-doc/src/examples-config/checkbox/checkbox-group-column.config.ts
  packages/internal/common-kits-doc/src/examples-config/checkbox/checkbox-group-row.config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

story: update checkbox examples with unique values and consistent styling
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection/_story.source.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection/checkbox-box-selection.component.html
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-column/_story.source.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-column/checkbox-group-column.component.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-row/_story.source.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-group-row/checkbox-group-row.component.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

story: add checkbox box selection with info icon example
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection-info/_story.source.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection-info/checkbox-box-selection-info.component.html
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection-info/checkbox-box-selection-info.component.scss
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection-info/checkbox-box-selection-info.component.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection-info/index.example.stories.ts
  apps/angular-kits-doc/stories/ui-components/checkbox/checkbox/index.stories.ts
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection-info/CheckboxBoxSelectionInfo.styled.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection-info/CheckboxBoxSelectionInfo.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection-info/_story.source.ts
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/examples/checkbox-box-selection-info/index.example.stories.tsx
  apps/react-kits-doc/stories/ui-components/checkbox/checkbox/index.stories.ts
  packages/internal/common-kits-doc/src/examples-config/checkbox/checkbox-box-selection-info.config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(react-form-field): add overview stories for select type, color, and size
  apps/react-kits-doc/stories/ui-components/form-field/select/index.stories.ts
  apps/react-kits-doc/stories/ui-components/form-field/select/overview/color.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/select/overview/custom-preview.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/select/overview/size.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/select/overview/type.stories.tsx
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

Path conditions:
  pnpm prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.json)
  pnpm nx affected:lint --fix --files: any of: *.ts
  pnpm stylelint --fix: any of: *.scss
