Repository coco-base/cocokits: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

chore: add changesets and verdaccio
  .changeset/README.md
  .changeset/config.json
  .npmrc
  .verdaccio/config.yml
  package.json
  packages/themes/default/src/styles/css/components.css
  packages/themes/default/src/styles/css/components.min.css
  packages/themes/frame-x/src/styles/css/components.css
  packages/themes/frame-x/src/styles/css/components.min.css
  pnpm-lock.yaml
  project.json
Due: pnpm prettier --write

chore: extract story packages from `peerDependencies` for storybook
  tools/scripts/storybook/get-package-stories.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(angular-components): add `core` and `utils` package to `angular-component` packages
  packages/angular/components/package.json
  packages/angular/components/src/index.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(angular-core): add `provider` to provide the ui config easier
  packages/angular/core/src/index.ts
  packages/angular/core/src/providers.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(theme-frame-x): configure export paths for component styles and tokens
  packages/themes/default/_styles-core.scss
  packages/themes/default/_tokens-core.scss
  packages/themes/default/_tokens.scss
  packages/themes/default/package.json
Due: pnpm prettier --write, pnpm stylelint --fix

feat(theme-frame-x): configure export paths for component styles and tokens
  packages/themes/frame-x/_styles-core.scss
  packages/themes/frame-x/_tokens-core.scss
  packages/themes/frame-x/_tokens.scss
  packages/themes/frame-x/package.json
  packages/themes/frame-x/project.json
Due: pnpm prettier --write, pnpm stylelint --fix

chore: add `build-all` target to workspace
  pnpm-lock.yaml
  project.json
Due: pnpm prettier --write

chore: add export path for utils packages
  packages/common/core/package.json
  packages/common/utils/package.json
  packages/react/overlay/package.json
Due: pnpm prettier --write

feat(angular-kits-doc): add install page
  apps/angular-kits-doc/.storybook/preview.ts
  apps/angular-kits-doc/.storybook/tsconfig.json
  apps/angular-kits-doc/stories/advanced-configuration.mdx
  apps/angular-kits-doc/stories/install.mdx
  apps/angular-kits-doc/stories/utils/advanced-configuration.utils.tsx
  apps/angular-kits-doc/stories/utils/install.utils.tsx
  apps/angular-kits-doc/stories/utils/markdown.util.ts
  packages/internal/storybook-theme-switcher/src/lib/components/mdx-doc/MdxDocWithTheme.tsx
  tools/scripts/storybook/storybook-global.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

refactor(angular-kits-doc): improve install page and use Markdown format
  apps/angular-kits-doc/stories/advanced-configuration.mdx
  apps/angular-kits-doc/stories/install.mdx
  apps/angular-kits-doc/stories/utils/install.utils.tsx
Due: none

fix(angular-form-field): add placeholder for textarea stories
  packages/angular/form-field/stories/textarea/auto-resize.stories.ts
  packages/angular/form-field/stories/textarea/default.stories.ts
  packages/angular/form-field/stories/textarea/ng-model.stories.ts
  packages/angular/form-field/stories/textarea/reactive-form.stories.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

fix(theme-frame-x): remove white from menu items
  packages/themes/frame-x/src/styles/scss/_menu-item.scss
  packages/themes/frame-x/src/styles/scss/_menu.scss
Due: pnpm prettier --write, pnpm stylelint --fix

fix(angular-button): use title case for story button text
  packages/angular/button/stories/button/color.stories.ts
  packages/angular/button/stories/button/size.stories.ts
  packages/angular/button/stories/button/type.stories.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(storybook-theme-switcher): change storybook theme on changing cck-theme
  packages/internal/storybook-theme-switcher/src/lib/components/cck-theme-dialog/CckModeSelection.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/cck-theme-dialog/CckThemeDialog.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/doc-page/StoryAutoDocPage.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/storybook-theme-switcher/ToolStorybookThemeSwitcher.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/theme-switcher.utils.ts
  packages/internal/storybook-theme-switcher/src/preset/register-cck-theme-switcher.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(storybook-theme-switcher): change default theme values to use dark mode by default
  packages/internal/storybook-theme-switcher/src/lib/config/cck-theme.config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(storybook-theme-switcher): create local storage class with validation
  packages/internal/storybook-theme-switcher/src/lib/components/theme-switcher.utils.ts
  packages/internal/storybook-theme-switcher/src/lib/config/cck-themes.model.ts
  packages/internal/storybook-theme-switcher/src/lib/config/storybook-theme.config.ts
  packages/internal/storybook-theme-switcher/src/lib/config/storybook-theme.model.ts
  packages/internal/storybook-theme-switcher/src/lib/utils/local-storage.ts
  packages/internal/storybook-theme-switcher/src/preset/register-cck-theme-switcher.ts
  packages/internal/storybook-theme-switcher/src/preset/register-storybook-theme-switcher.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(theme-default): update scss token base on latest Figma tokens
  packages/themes/default/json-token/Brand Color 1.Dark.tokens.json
  packages/themes/default/json-token/Brand Color 1.Light.tokens.json
  packages/themes/default/json-token/Components.Default.tokens.json
  packages/themes/default/json-token/Global.Default.tokens.json
  packages/themes/default/src/lib/ui-component-props.config.ts
  packages/themes/default/src/styles/css/components.css
  packages/themes/default/src/styles/css/components.min.css
  packages/themes/default/src/styles/scss/_divider.scss
  packages/themes/default/src/styles/scss/_option.scss
  packages/themes/default/src/styles/scss/_option_group.scss
  packages/themes/default/src/styles/scss/_radio-button.scss
  packages/themes/default/src/styles/scss/_toggle.scss
  packages/themes/default/src/token/core/_brand-color-1.dark.mixin.scss
  packages/themes/default/src/token/core/_brand-color-1.light.mixin.scss
  packages/themes/default/src/token/core/_components.default.mixin.scss
  packages/themes/default/src/token/core/_global.default.mixin.scss
  packages/themes/default/src/token/core/_index.scss
  packages/themes/default/src/token/core/_local-style.default.mixin.scss
  packages/themes/default/src/token/core/_use-all.scss
  packages/themes/default/src/token/css/tokens.css
  packages/themes/default/src/token/css/tokens.min.css
  packages/themes/default/src/token/css/tokens.scss
  packages/themes/default/src/token/dictionary/token-dictionary.ts
  packages/themes/default/src/token/scss/_brand-color-1.scss
  packages/themes/default/src/token/scss/_components.scss
  packages/themes/default/src/token/scss/_global.scss
  packages/themes/default/src/token/scss/_index.scss
  packages/themes/default/src/token/scss/_local-style.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

fix(storybook-theme-switcher): fix theme local storage validation
  packages/internal/storybook-theme-switcher/src/lib/utils/local-storage.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: remove comments from stories md files
  apps/angular-kits-doc/stories/welcome.mdx
  packages/angular/button/stories/icon-button/description.md
  packages/angular/checkbox/stories/checkbox/description.md
  packages/angular/form-field/stories/form-field/description.md
  packages/angular/menu/stories/menu/description.md
Due: none

chore: fix colors and pointer of disable state for buttons in all theme
  packages/angular/button/stories/button/color.stories.ts
  packages/themes/cocokits/src/styles/scss/variants/_button-basic.scss
  packages/themes/cocokits/src/styles/scss/variants/_button-light.scss
  packages/themes/cocokits/src/styles/scss/variants/_button-outline.scss
  packages/themes/cocokits/src/styles/scss/variants/_button-primary.scss
  packages/themes/cocokits/src/styles/scss/variants/_button-shared.scss
  packages/themes/cocokits/src/styles/scss/variants/_icon-button-basic.scss
  packages/themes/cocokits/src/styles/scss/variants/_icon-button-light.scss
  packages/themes/cocokits/src/styles/scss/variants/_icon-button-outline.scss
  packages/themes/cocokits/src/styles/scss/variants/_icon-button-primary.scss
  packages/themes/cocokits/src/styles/scss/variants/_icon-button-shared.scss
  packages/themes/frames-x/src/styles/scss/variants/_button-disable.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

chore: fix disable state for form-fields, button, radio and checkbox component in all themes
  packages/themes/cocokits/src/styles/scss/_checkbox.scss
  packages/themes/cocokits/src/styles/scss/_chip-list.scss
  packages/themes/cocokits/src/styles/scss/_form-field.scss
  packages/themes/cocokits/src/styles/scss/_input.scss
  packages/themes/cocokits/src/styles/scss/_radio-button.scss
  packages/themes/cocokits/src/styles/scss/_textarea.scss
  packages/themes/frames-x/src/styles/scss/_chip-list.scss
  packages/themes/frames-x/src/styles/scss/_form-field.scss
  packages/themes/frames-x/src/styles/scss/_input.scss
  packages/themes/frames-x/src/styles/scss/_radio-button.scss
  packages/themes/frames-x/src/styles/scss/_textarea.scss
Due: pnpm prettier --write, pnpm stylelint --fix

feat(theme-cocokits): add bg color on hover of form-field elements
  packages/themes/cocokits/src/styles/scss/_form-field.scss
Due: pnpm prettier --write, pnpm stylelint --fix

feat(theme-frames-x): add gap for chip-list
  packages/themes/frames-x/src/styles/scss/_chip-list.scss
Due: pnpm prettier --write, pnpm stylelint --fix

fix(storybook-theme-switcher): fix logo color theme
  packages/internal/storybook-theme-switcher/src/lib/components/cck-theme-dialog/CckModeSelection.tsx
Due: none

fix(angular-button): remove test content in button stories
  packages/angular/button/stories/button/color.stories.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: add license and update readme files
  README.md
  WORKSPACE_GUIDE.md
  packages/angular/button/LICENSE
  packages/angular/button/README.md
  packages/angular/cdk/LICENSE
  packages/angular/cdk/README.md
  packages/angular/checkbox/LICENSE
  packages/angular/checkbox/README.md
  packages/angular/components/LICENSE
  packages/angular/components/README.md
  packages/angular/core/LICENSE
  packages/angular/core/README.md
  packages/angular/divider/LICENSE
  packages/angular/divider/README.md
  packages/angular/form-field/LICENSE
  packages/angular/form-field/README.md
  packages/angular/icon/LICENSE
  packages/angular/icon/README.md
  packages/angular/menu/LICENSE
  packages/angular/menu/README.md
  packages/angular/overlay/LICENSE
  packages/angular/overlay/README.md
  packages/angular/radio/LICENSE
  packages/angular/radio/README.md
  packages/angular/toggle/LICENSE
  packages/angular/toggle/README.md
  packages/angular/utils/LICENSE
  packages/common/core/LICENSE
  packages/common/core/README.md
  packages/common/utils/LICENSE
  packages/common/utils/README.md
  packages/internal/storybook-theme-switcher/LICENSE
  packages/internal/storybook-theme-switcher/README.md
  packages/react/overlay/LICENSE
  packages/themes/cocokits/LICENSE
  packages/themes/cocokits/README.md
  packages/themes/frames-x/LICENSE
  packages/themes/frames-x/README.md
  tools/workspace-plugin/src/generators/library/files/angular-ui/LICENSE.template
Due: none

chore: add github action
  .github/actions/pnpm-install/action.yml
  .github/workflows/main-branch-pull-request.yml
Due: none

chore: add github action for main branch
  .github/workflows/main-branch-pull-request.yml
  .github/workflows/mian-branch.yml
  project.json
Due: pnpm prettier --write

chore: use node V20 and npm v9 for github actions
  .github/actions/pnpm-install/action.yml
  .github/workflows/main-branch-pull-request.yml
  .github/workflows/mian-branch.yml
Due: none

chore: install dependencies with no frozen lockfile
  .github/actions/pnpm-install/action.yml
Due: none

chore: upgrade nx workspace to fix vitest execution
  .eslintrc.json
  .husky/commit-msg
  .husky/pre-commit
  .prettierignore
  commitlint.config.ts
  package.json
  packages/common/core/vite.config.ts
  packages/common/utils/vite.config.ts
  pnpm-lock.yaml
  tools/scripts/clean-pnpm.ts
  tools/workspace-plugin/vite.config.ts
  tsconfig.base.json
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: add lodash as workspace dependencies
  package.json
Due: pnpm prettier --write

test(common-utils): add unit test for deep merge
  packages/common/utils/src/lib/uncategorized/deep-merge.spec.ts
  packages/common/utils/src/lib/uncategorized/deep-merge.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

fix(storybook-theme-switcher): fix selected top item on scrolling
  packages/internal/storybook-theme-switcher/src/lib/components/doc-page/DocToc.hooks.ts
  packages/internal/storybook-theme-switcher/src/lib/components/doc-page/DocToc.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/toc/Toc.style.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/toc/Toc.tsx
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

fix(angular-form-field): fix typo error for select placeholder
  packages/angular/form-field/stories/form-field/default.stories.ts
  packages/angular/form-field/stories/form-field/theme-cocokits-prefix-suffix.stories.ts
  packages/angular/form-field/stories/select/custom-preview.stories.ts
  packages/angular/form-field/stories/select/default.stories.ts
  packages/angular/form-field/stories/select/ng-model.stories.ts
  packages/angular/form-field/stories/select/option-group.stories.ts
  packages/angular/form-field/stories/select/reactive-form.stories.ts
  packages/angular/form-field/stories/select/size.stories.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

fix(storybook-theme-switcher): show current selected mode in cck mode selection
  packages/internal/storybook-theme-switcher/.eslintrc.json
  packages/internal/storybook-theme-switcher/src/lib/components/cck-theme-dialog/CckModeSelection.tsx
Due: pnpm prettier --write

feat(storybook-theme-switcher): add close button to the token info doc page
  packages/internal/storybook-theme-switcher/src/lib/components/mdx-doc/MdxTokenTable.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/mdx-doc/token-info/TokenInfo.tsx
Due: none

Path conditions:
  pnpm prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.json)
  pnpm nx affected:lint --fix --files: any of: *.ts
  pnpm stylelint --fix: any of: *.scss
