Repository coco-base/cocokits: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(storybook-theme-switcher): improve token tag compact design
  packages/internal/storybook-theme-switcher/src/lib/components/mdx-doc/token-info/TokenTag.tsx
Due: none

fix(theme-frames-x): fix spacing for chip list component
  packages/themes/frames-x/src/styles/scss/_chip-list.scss
Due: pnpm prettier --write, pnpm stylelint --fix

chore: use full width for utils type-doc page
  packages/angular/utils/stories/utils/_index.mdx
  packages/angular/utils/stories/utils/pipes.mdx
  packages/angular/utils/stories/utils/signal.mdx
  packages/common/utils/stories/utils/_index.mdx
  packages/common/utils/stories/utils/common.mdx
  packages/common/utils/stories/utils/differs.mdx
  packages/common/utils/stories/utils/ensure.mdx
  packages/common/utils/stories/utils/event-listener.mdx
  packages/common/utils/stories/utils/observer.mdx
  packages/common/utils/stories/utils/rxjs.mdx
  packages/common/utils/stories/utils/scroll.mdx
  packages/common/utils/stories/utils/search.mdx
  packages/common/utils/stories/utils/selection.mdx
  packages/common/utils/stories/utils/transform.mdx
  tools/typedoc-storybook-plugin/template.mjs
Due: none

fix(theme-frames-x): fix size of chips and chip-list to be same as other form-fields
  packages/themes/frames-x/src/styles/scss/_chip-list.scss
  packages/themes/frames-x/src/styles/scss/_chip.scss
  packages/themes/frames-x/src/styles/scss/_form-field.scss
Due: pnpm prettier --write, pnpm stylelint --fix

fix(theme-frames-x): remove white-space from menu overlay
  packages/themes/frames-x/src/styles/scss/_menu.scss
Due: pnpm prettier --write, pnpm stylelint --fix

fix(angular-form-field): use fix width for chip-list stories
  packages/angular/form-field/stories/chip-list/default.stories.ts
  packages/angular/form-field/stories/chip-list/size.stories.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

fix(theme-frames-x): fix white-space of chip-list when it's empty
  packages/themes/frames-x/src/styles/scss/_chip-list.scss
Due: pnpm prettier --write, pnpm stylelint --fix

fix(storybook-theme-switcher): fix mode selection with same name
  packages/internal/storybook-theme-switcher/src/lib/components/cck-theme-dialog/CckModeSelection.tsx
Due: none

feat(storybook-theme-switcher): add mixpanel and track start, page and theme change event
  apps/angular-kits-doc/.storybook/main.ts
  apps/angular-kits-doc/.storybook/manager.ts
  package.json
  packages/angular/utils/stories/utils/_index.mdx
  packages/angular/utils/stories/utils/pipes.mdx
  packages/angular/utils/stories/utils/signal.mdx
  packages/common/utils/stories/utils/_index.mdx
  packages/common/utils/stories/utils/common.mdx
  packages/common/utils/stories/utils/differs.mdx
  packages/common/utils/stories/utils/ensure.mdx
  packages/common/utils/stories/utils/event-listener.mdx
  packages/common/utils/stories/utils/observer.mdx
  packages/common/utils/stories/utils/rxjs.mdx
  packages/common/utils/stories/utils/scroll.mdx
  packages/common/utils/stories/utils/search.mdx
  packages/common/utils/stories/utils/selection.mdx
  packages/common/utils/stories/utils/transform.mdx
  packages/internal/storybook-theme-switcher/package.json
  packages/internal/storybook-theme-switcher/src/lib/components/doc-page-container/storybook-theme-listener.ts
  packages/internal/storybook-theme-switcher/src/lib/config/cck-theme.config.ts
  packages/internal/storybook-theme-switcher/src/lib/config/cck-themes.model.ts
  packages/internal/storybook-theme-switcher/src/lib/config/storybook-config.model.ts
  packages/internal/storybook-theme-switcher/src/lib/config/storybook-theme.config.ts
  packages/internal/storybook-theme-switcher/src/lib/mixpanel/mixpanel-emitter.ts
  packages/internal/storybook-theme-switcher/src/lib/mixpanel/mixpanel.model.ts
  packages/internal/storybook-theme-switcher/src/lib/utils/local-storage.ts
  packages/internal/storybook-theme-switcher/src/preset/manager.ts
  packages/internal/storybook-theme-switcher/src/preset/register-mixpanel.ts
  packages/internal/storybook-theme-switcher/src/preset/register-storybook-theme-switcher.ts
  pnpm-lock.yaml
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

fix(theme-frames-x): fix white-space of input field in chip-list component
  packages/themes/frames-x/src/styles/scss/_chip-list.scss
Due: pnpm prettier --write, pnpm stylelint --fix

fix(theme-frames-x): adjust margin-left in chip-list input field
  packages/themes/frames-x/src/styles/scss/_chip-list.scss
Due: pnpm prettier --write, pnpm stylelint --fix

chore: update generated timestamps in utils stories
  packages/angular/utils/stories/utils/_index.mdx
  packages/angular/utils/stories/utils/pipes.mdx
  packages/angular/utils/stories/utils/signal.mdx
  packages/common/utils/stories/utils/_index.mdx
  packages/common/utils/stories/utils/common.mdx
  packages/common/utils/stories/utils/differs.mdx
  packages/common/utils/stories/utils/ensure.mdx
  packages/common/utils/stories/utils/event-listener.mdx
  packages/common/utils/stories/utils/observer.mdx
  packages/common/utils/stories/utils/rxjs.mdx
  packages/common/utils/stories/utils/scroll.mdx
  packages/common/utils/stories/utils/search.mdx
  packages/common/utils/stories/utils/selection.mdx
  packages/common/utils/stories/utils/transform.mdx
Due: none

chore: build and update changes log
  .changeset/breezy-poems-relate.md
  packages/themes/cocokits/src/styles/css/components.css
  packages/themes/cocokits/src/styles/css/components.min.css
  packages/themes/frames-x/src/styles/css/components.css
  packages/themes/frames-x/src/styles/css/components.min.css
  project.json
Due: pnpm prettier --write

chore: update package versions and CHANGELOG.md
  .changeset/breezy-poems-relate.md
  packages/angular/button/CHANGELOG.md
  packages/angular/button/package.json
  packages/angular/cdk/CHANGELOG.md
  packages/angular/cdk/package.json
  packages/angular/checkbox/CHANGELOG.md
  packages/angular/checkbox/package.json
  packages/angular/components/CHANGELOG.md
  packages/angular/components/package.json
  packages/angular/core/CHANGELOG.md
  packages/angular/core/package.json
  packages/angular/divider/CHANGELOG.md
  packages/angular/divider/package.json
  packages/angular/form-field/CHANGELOG.md
  packages/angular/form-field/package.json
  packages/angular/icon/CHANGELOG.md
  packages/angular/icon/package.json
  packages/angular/menu/CHANGELOG.md
  packages/angular/menu/package.json
  packages/angular/overlay/CHANGELOG.md
  packages/angular/overlay/package.json
  packages/angular/radio/CHANGELOG.md
  packages/angular/radio/package.json
  packages/angular/toggle/CHANGELOG.md
  packages/angular/toggle/package.json
  packages/angular/utils/CHANGELOG.md
  packages/angular/utils/package.json
  packages/common/core/CHANGELOG.md
  packages/common/core/package.json
  packages/common/utils/CHANGELOG.md
  packages/common/utils/package.json
  packages/internal/storybook-theme-switcher/CHANGELOG.md
  packages/internal/storybook-theme-switcher/package.json
  packages/react/overlay/CHANGELOG.md
  packages/react/overlay/package.json
  packages/themes/cocokits/CHANGELOG.md
  packages/themes/cocokits/package.json
  packages/themes/frames-x/CHANGELOG.md
  packages/themes/frames-x/package.json
Due: pnpm prettier --write

chore: set all packages to public
  packages/angular/components/package.json
  packages/angular/icon/package.json
  packages/common/core/package.json
  packages/common/utils/package.json
  packages/react/overlay/package.json
  packages/themes/cocokits/package.json
  packages/themes/cocokits/src/styles/css/components.css
  packages/themes/cocokits/src/styles/css/components.min.css
  packages/themes/frames-x/package.json
  packages/themes/frames-x/src/styles/css/components.css
  packages/themes/frames-x/src/styles/css/components.min.css
Due: pnpm prettier --write

chore: update package exports for proper type definitions and paths
  packages/angular/core/src/index.ts
  packages/common/core/src/index.ts
  packages/themes/cocokits/package.json
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: update themes package exports for proper type definitions and paths
  packages/themes/cocokits/package.json
  packages/themes/frames-x/package.json
Due: pnpm prettier --write

chore: update brand URLs in storybook themes
  packages/internal/storybook-theme-switcher/src/lib/storybook-theme/storybook-dark-theme.ts
  packages/internal/storybook-theme-switcher/src/lib/storybook-theme/storybook-light-theme.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

fix(storybook-theme-switcher): remove unused import and update local storage handling
  packages/internal/storybook-theme-switcher/src/lib/components/cck-theme-dialog/CckThemeSelection.tsx
  packages/internal/storybook-theme-switcher/src/lib/utils/local-storage.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: fix type error in changelog
  packages/angular/button/CHANGELOG.md
  packages/angular/cdk/CHANGELOG.md
  packages/angular/checkbox/CHANGELOG.md
  packages/angular/components/CHANGELOG.md
  packages/angular/core/CHANGELOG.md
  packages/angular/divider/CHANGELOG.md
  packages/angular/form-field/CHANGELOG.md
  packages/angular/icon/CHANGELOG.md
  packages/angular/menu/CHANGELOG.md
  packages/angular/overlay/CHANGELOG.md
  packages/angular/radio/CHANGELOG.md
  packages/angular/toggle/CHANGELOG.md
  packages/angular/utils/CHANGELOG.md
  packages/angular/utils/stories/utils/_index.mdx
  packages/angular/utils/stories/utils/pipes.mdx
  packages/angular/utils/stories/utils/signal.mdx
  packages/common/core/CHANGELOG.md
  packages/common/utils/CHANGELOG.md
  packages/common/utils/stories/utils/_index.mdx
  packages/common/utils/stories/utils/common.mdx
  packages/common/utils/stories/utils/differs.mdx
  packages/common/utils/stories/utils/ensure.mdx
  packages/common/utils/stories/utils/event-listener.mdx
  packages/common/utils/stories/utils/observer.mdx
  packages/common/utils/stories/utils/rxjs.mdx
  packages/common/utils/stories/utils/scroll.mdx
  packages/common/utils/stories/utils/search.mdx
  packages/common/utils/stories/utils/selection.mdx
  packages/common/utils/stories/utils/transform.mdx
  packages/internal/storybook-theme-switcher/CHANGELOG.md
  packages/react/overlay/CHANGELOG.md
  packages/themes/cocokits/CHANGELOG.md
  packages/themes/cocokits/src/styles/css/components.css
  packages/themes/cocokits/src/styles/css/components.min.css
  packages/themes/frames-x/CHANGELOG.md
  packages/themes/frames-x/src/styles/css/components.css
  packages/themes/frames-x/src/styles/css/components.min.css
Due: none

chore: remove unnecessary changeset log
  .changeset/four-ads-tell.md
Due: none

chore: setup react storybook configurations and add initial button component
  packages/internal/storybook-theme-switcher/package.json
  packages/internal/storybook-theme-switcher/preset.ts
  packages/internal/storybook-theme-switcher/src/preset/manager.ts
  packages/internal/storybook-theme-switcher/src/preset/preview.ts
  packages/internal/storybook-theme-switcher/src/preset/register-mixpanel.ts
  packages/internal/storybook-theme-switcher/tsconfig.lib.json
  packages/react/button/.eslintrc.json
  packages/react/button/.storybook/main.ts
  packages/react/button/.storybook/manager-head.html
  packages/react/button/.storybook/manager.ts
  packages/react/button/.storybook/preview-head.html
  packages/react/button/.storybook/preview.ts
  packages/react/button/README.md
  packages/react/button/package.json
  packages/react/button/project.json
  packages/react/button/src/index.ts
  packages/react/button/src/lib/button.tsx
  packages/react/button/stories/button/default.stories.tsx
  packages/react/button/stories/button/index.stories.tsx
  packages/react/button/tsconfig.json
  packages/react/button/tsconfig.lib.json
  packages/react/button/tsconfig.storybook.json
  packages/react/button/vite.config.ts
  pnpm-lock.yaml
  tools/scripts/storybook/generate-react-storybook-config.ts
  tsconfig.base.json
  tsconfig.storybook-manager-paths.json
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(react-kits-doc): initialize react-kits-doc with Storybook configuration and essential files
  apps/react-kits-doc/.eslintrc.json
  apps/react-kits-doc/.storybook/main.ts
  apps/react-kits-doc/.storybook/manager-head.html
  apps/react-kits-doc/.storybook/manager.ts
  apps/react-kits-doc/.storybook/preview-head.html
  apps/react-kits-doc/.storybook/preview.ts
  apps/react-kits-doc/package.json
  apps/react-kits-doc/project.json
  apps/react-kits-doc/stories/.gitkeep
  apps/react-kits-doc/stories/advanced-configuration.mdx
  apps/react-kits-doc/stories/install.mdx
  apps/react-kits-doc/stories/utils/advanced-configuration.utils.tsx
  apps/react-kits-doc/stories/utils/install.utils.tsx
  apps/react-kits-doc/stories/utils/markdown.util.ts
  apps/react-kits-doc/stories/welcome.mdx
  apps/react-kits-doc/tsconfig.json
  apps/react-kits-doc/tsconfig.lib.json
  apps/react-kits-doc/tsconfig.storybook.json
  apps/react-kits-doc/vite.config.ts
  tools/scripts/storybook/get-package-stories.ts
  tsconfig.storybook-manager-paths.json
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: add nx schematics to create react ui library with storybook
  package.json
  packages/internal/storybook-theme-switcher/src/preset/register-mixpanel.ts
  packages/react/button/.eslintrc.json
  packages/react/button/LICENSE
  pnpm-lock.yaml
  tools/workspace-plugin/src/generators/component/src/angular-component-generator.ts
  tools/workspace-plugin/src/generators/component/utils/get-options.ts
  tools/workspace-plugin/src/generators/library/files/react-ui/.eslintrc.json.template
  tools/workspace-plugin/src/generators/library/files/react-ui/LICENSE.template
  tools/workspace-plugin/src/generators/library/files/react-ui/README.md.template
  tools/workspace-plugin/src/generators/library/files/react-ui/package.json.template
  tools/workspace-plugin/src/generators/library/files/react-ui/project.json.template
  tools/workspace-plugin/src/generators/library/files/react-ui/src/index.ts.template
  tools/workspace-plugin/src/generators/library/files/react-ui/stories/.gitkeep.template
  tools/workspace-plugin/src/generators/library/files/react-ui/tsconfig.json.template
  tools/workspace-plugin/src/generators/library/files/react-ui/tsconfig.lib.json.template
  tools/workspace-plugin/src/generators/library/files/react-ui/vite.config.ts.template
  tools/workspace-plugin/src/generators/library/generator.ts
  tools/workspace-plugin/src/generators/library/model.ts
  tools/workspace-plugin/src/generators/library/src/react-ui-generator.ts
  tools/workspace-plugin/src/generators/library/utils/get-options.ts
  tools/workspace-plugin/src/generators/library/utils/get-setup-framework-type.ts
  tools/workspace-plugin/src/generators/library/utils/get-tsconfig-changes.ts
  tools/workspace-plugin/src/generators/setup-storybook/files/react/.storybook/main.ts.template
  tools/workspace-plugin/src/generators/setup-storybook/files/react/.storybook/manager-head.html.template
  tools/workspace-plugin/src/generators/setup-storybook/files/react/.storybook/preview-head.html.template
  tools/workspace-plugin/src/generators/setup-storybook/files/react/.storybook/preview.ts.template
  tools/workspace-plugin/src/generators/setup-storybook/files/react/tsconfig.storybook.json.template
  tools/workspace-plugin/src/generators/setup-storybook/generator.ts
  tools/workspace-plugin/src/generators/setup-storybook/src/setup-angular-storybook.ts
  tools/workspace-plugin/src/generators/setup-storybook/src/setup-react-storybook.ts
  tools/workspace-plugin/src/generators/setup-storybook/utils/get-options.ts
  tools/workspace-plugin/src/generators/setup-storybook/utils/get-tsconfig-changes.ts
  tools/workspace-plugin/src/generators/theme-spec-example/generator.ts
  tools/workspace-plugin/src/utils/path.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: add react component schematics generator
  packages/internal/internal-model/src/lib/storybook-meta.model.ts
  packages/react/button/stories/button/default.stories.tsx
  packages/react/button/stories/button/description.md
  tools/workspace-plugin/src/generators/component/files/react-component/__fileName__.tsx.template
  tools/workspace-plugin/src/generators/component/files/react-story/color.stories.ts.template
  tools/workspace-plugin/src/generators/component/files/react-story/default.stories.ts.template
  tools/workspace-plugin/src/generators/component/files/react-story/description.md.template
  tools/workspace-plugin/src/generators/component/files/react-story/dev.stories.ts.template
  tools/workspace-plugin/src/generators/component/files/react-story/index.stories.ts.template
  tools/workspace-plugin/src/generators/component/files/react-story/size.stories.ts.template
  tools/workspace-plugin/src/generators/component/files/react-story/type.stories.ts.template
  tools/workspace-plugin/src/generators/component/generator.ts
  tools/workspace-plugin/src/generators/component/src/react-component-generator.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: remove 'require' property from UI component props configuration
  packages/common/core/src/lib/model/ui-component.model.ts
  packages/common/core/src/lib/ui-component-props/ui-component-props.ts
  packages/themes/cocokits/src/lib/ui-component-props.config.ts
  packages/themes/frames-x/src/lib/ui-component-props.config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: update cSpell configuration to include 'Checkmark' in recognized words
  .vscode/settings.json
Due: pnpm prettier --write

chore: add theme switcher styles to Storybook preview files for react libraries
  packages/react/checkbox/.storybook/preview.ts
  packages/react/components/.storybook/preview.ts
  packages/react/core/.storybook/preview.ts
  packages/react/divider/.storybook/preview.ts
  packages/react/form-field/.storybook/preview.ts
  packages/react/icon/.storybook/preview.ts
  packages/react/menu/.storybook/preview.ts
  packages/react/radio/.storybook/preview.ts
  packages/react/toggle/.storybook/preview.ts
  packages/react/utils/.storybook/preview.ts
  tools/workspace-plugin/src/generators/setup-storybook/files/react/.storybook/preview.ts.template
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: add quick fix to build the app with win arm64 by adding `lmdb` optionalDependencies
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

chore: update theme configuration references in Angular story files to use themeComponentConfig
  packages/angular/button/stories/button/color.stories.ts
  packages/angular/button/stories/button/size.stories.ts
  packages/angular/button/stories/button/type.stories.ts
  packages/angular/button/stories/icon-button/color.stories.ts
  packages/angular/button/stories/icon-button/size.stories.ts
  packages/angular/button/stories/icon-button/theme-cocokits-rounded-color.stories.ts
  packages/angular/button/stories/icon-button/theme-cocokits-rounded-size.stories.ts
  packages/angular/button/stories/icon-button/theme-cocokits-rounded.stories.ts
  packages/angular/checkbox/stories/checkbox/color.stories.ts
  packages/angular/checkbox/stories/checkbox/size.stories.ts
  packages/angular/divider/stories/divider/color.stories.ts
  packages/angular/divider/stories/divider/size.stories.ts
  packages/angular/divider/stories/divider/type.stories.ts
  packages/angular/form-field/stories/chip-list/size.stories.ts
  packages/angular/form-field/stories/chip/default.stories.ts
  packages/angular/form-field/stories/chip/size.stories.ts
  packages/angular/form-field/stories/form-field/color.stories.ts
  packages/angular/form-field/stories/form-field/size.stories.ts
  packages/angular/form-field/stories/select/size.stories.ts
  packages/angular/icon/stories/svg-icon/color.stories.ts
  packages/angular/icon/stories/svg-icon/default.stories.ts
  packages/angular/icon/stories/svg-icon/size.stories.ts
  packages/angular/menu/stories/menu/color.stories.ts
  packages/angular/menu/stories/menu/size.stories.ts
  packages/angular/menu/stories/menu/type.stories.ts
  packages/angular/radio/stories/radio-button/color.stories.ts
  packages/angular/radio/stories/radio-button/size.stories.ts
  packages/angular/radio/stories/radio-button/type.stories.ts
  packages/angular/radio/stories/radio-group/color.stories.ts
  packages/angular/radio/stories/radio-group/size.stories.ts
  packages/angular/radio/stories/radio-group/type.stories.ts
  packages/angular/toggle/stories/toggle/size.stories.ts
  packages/angular/toggle/stories/toggle/type.stories.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: remove unnecessary React imports from various components in the storybook theme switcher
  packages/internal/storybook-theme-switcher/src/lib/components/cck-theme-dialog/CckModeSelection.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/cck-theme-dialog/CckThemeDialog.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/cck-theme-dialog/CckThemeSelection.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/cck-theme-switcher/DocCckThemeSwitcher.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/cck-theme-switcher/ToolCckThemeSwitcher.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/doc-page-container/DocPageContainer.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/doc-page/AutoDocMain.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/doc-page/DocArgTypes.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/doc-page/DocArgTypesTable.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/doc-page/DocBgEffect.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/doc-page/DocHeader.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/doc-page/DocMarkdown.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/doc-page/DocPage.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/doc-page/DocSection.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/doc-page/DocToc.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/doc-page/StoryAutoDocPage.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/mdx-doc/MdxDocTabCode.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/mdx-doc/MdxDocWithTheme.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/mdx-doc/MdxTokenTable.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/mdx-doc/token-info/TokenIcons.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/mdx-doc/token-info/TokenInfo.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/mdx-doc/token-info/TokenSection.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/mdx-doc/token-info/TokenTag.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/mdx-doc/token-info/TokenValuePreview.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/mdx-doc/token-info/TokenValues.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/storybook-sidenav/StorybookSidenavLabel.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/storybook-theme-switcher/DocStorybookThemeSwitcher.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/storybook-theme-switcher/StorybookDarkThemeIcon.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/storybook-theme-switcher/StorybookLightThemeIcon.tsx
  packages/internal/storybook-theme-switcher/src/lib/components/storybook-theme-switcher/ToolStorybookThemeSwitcher.tsx
  packages/react/button/src/lib/button.tsx
  packages/react/overlay/src/components/Overlay.tsx
  packages/react/overlay/src/components/overlay.service.tsx
  tools/workspace-plugin/src/generators/component/files/react-component/__fileName__.tsx.template
Due: none

chore: enable caching for build targets in nx.json
  nx.json
Due: pnpm prettier --write

Path conditions:
  pnpm prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.json)
  pnpm nx affected:lint --fix --files: any of: *.ts
  pnpm stylelint --fix: any of: *.scss
