Repository coco-base/cocokits: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

.lintstagedrc.json:

{
  "*.ts": ["pnpm prettier --write", "pnpm nx affected:lint --fix --files"],
  "*.scss": ["pnpm prettier --write", "pnpm stylelint --fix"],
  "*.json": ["pnpm prettier --write"]
}

chore: remove optional chaining for cckAddon properties in story components
  packages/internal/storybook-addon-theme/src/lib/features/story-canvas/story-canvas-actions.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-control/manager-story-args.store.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-control.util.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-single-control-actions.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-single-control.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-api.utils.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-overview.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page.utils.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-source-code/source-code-generator.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: remove storybook-components from the project
  packages/internal/storybook-components/project.json
  packages/internal/storybook-components/src/angular/story-columns/story-columns.component.ts
  packages/internal/storybook-components/src/angular/story-table/story-table.component.html
  packages/internal/storybook-components/src/angular/story-table/story-table.component.scss
  packages/internal/storybook-components/src/angular/story-table/story-table.component.ts
  packages/internal/storybook-components/src/index.ts
  packages/internal/storybook-components/tsconfig.json
  packages/internal/storybook-components/tsconfig.lib.json
  tsconfig.base.json
  tsconfig.storybook-manager-paths.json
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

chore: update storybook configuration and remove deprecated files
  apps/angular-kits-doc/stories/utils/advanced-configuration.utils.tsx
  apps/angular-kits-doc/stories/utils/install.utils.tsx
  apps/react-kits-doc/.storybook/manager-head.html
  apps/react-kits-doc/.storybook/preview-head.html
  apps/react-kits-doc/stories/utils/advanced-configuration.utils.tsx
  apps/react-kits-doc/stories/utils/install.utils.tsx
  packages/angular/checkbox/stories/checkbox/ng-model.stories.ts
  packages/angular/checkbox/stories/checkbox/reactive-form.stories.ts
  packages/angular/form-field/stories/select/ng-model.stories.ts
  packages/angular/form-field/stories/select/reactive-form.stories.ts
  packages/angular/form-field/stories/textarea/auto-resize.stories.ts
  packages/angular/form-field/stories/textarea/default.stories.ts
  packages/angular/icon/stories/svg-icon/default.stories.ts
  packages/angular/radio/stories/radio-button/default.stories.ts
  packages/angular/utils/.storybook/manager-head.html
  packages/angular/utils/.storybook/preview-head.html
  packages/angular/utils/.storybook/preview.ts
  packages/angular/utils/.storybook/tsconfig.json
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.min.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/internal/storybook-addon-theme/src/index.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: remove obsolete README files
  packages/angular/README.md
  packages/common/README.md
  packages/internal/README.md
  packages/react/README.md
  packages/themes/README.md
Due: none

feat(storybook-addon-theme): add framework selection
  apps/angular-kits-doc/.storybook/manager.ts
  apps/angular-kits-doc/package.json
  apps/react-kits-doc/.storybook/manager.ts
  packages/common/utils/src/lib/selection/selection.ts
  packages/internal/storybook-addon-theme/src/assets/logos/angular-icon-logo.png
  packages/internal/storybook-addon-theme/src/assets/logos/react-icon-logo-dark.svg
  packages/internal/storybook-addon-theme/src/assets/logos/react-icon-logo-light copy.svg
  packages/internal/storybook-addon-theme/src/assets/logos/react-icon-logo-light.svg
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.min.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/internal/storybook-addon-theme/src/lib/config/events.config.ts
  packages/internal/storybook-addon-theme/src/lib/data-access/addon-config/addon-config.model.ts
  packages/internal/storybook-addon-theme/src/lib/data-access/addon-config/manager-addon-config.ts
  packages/internal/storybook-addon-theme/src/lib/data-access/addon-config/preview-addon-config.ts
  packages/internal/storybook-addon-theme/src/lib/features/doc-page/doc-page-nav.tsx
  packages/internal/storybook-addon-theme/src/lib/features/framework-selection/framework-selection-button.tsx
  packages/internal/storybook-addon-theme/src/lib/features/framework-selection/framework-selection.hooks.ts
  packages/internal/storybook-addon-theme/src/lib/manager/manager.ts
  packages/internal/storybook-addon-theme/src/lib/model/addon.model.ts
  packages/internal/storybook-addon-theme/src/theme/scss/_option.scss
  packages/react/form-field/src/lib/select-preview.tsx
  packages/react/form-field/src/lib/select-store.ts
  packages/react/form-field/src/lib/select.tsx
  project.json
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

chore: prepare doc page for test and production release
  apps/angular-kits-doc/project.json
  apps/react-kits-doc/project.json
  packages/angular/utils/stories/utils/_index.mdx
  packages/angular/utils/stories/utils/pipes.mdx
  packages/angular/utils/stories/utils/signal.mdx
  packages/common/utils/stories/utils/Promise.mdx
  packages/common/utils/stories/utils/_index.mdx
  packages/common/utils/stories/utils/common.mdx
  packages/common/utils/stories/utils/differs.mdx
  packages/common/utils/stories/utils/dom.anchor-position.mdx
  packages/common/utils/stories/utils/ensure.mdx
  packages/common/utils/stories/utils/event-listener.mdx
  packages/common/utils/stories/utils/observer.mdx
  packages/common/utils/stories/utils/rxjs.mdx
  packages/common/utils/stories/utils/scroll.mdx
  packages/common/utils/stories/utils/search.mdx
  packages/common/utils/stories/utils/selection.mdx
  packages/common/utils/stories/utils/string.case.mdx
  packages/common/utils/stories/utils/transform.mdx
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/manager-styles.min.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/internal/storybook-addon-theme/src/lib/features/framework-selection/framework-selection-button.tsx
Due: pnpm prettier --write

feat(storybook-addon-theme): implement example tab page
  packages/angular/button/stories/button/examples/example.stories.ts
  packages/angular/button/stories/button/index.stories.ts
  packages/common/utils/src/index.ts
  packages/common/utils/src/lib/differs/simple-comparator.ts
  packages/common/utils/src/lib/uncategorized/deep-merge.ts
  packages/common/utils/src/lib/uncategorized/reduce.ts
  packages/common/utils/stories/utils/comparator.mdx
  packages/internal/storybook-addon-theme-angular/src/args-to-template.ts
  packages/internal/storybook-addon-theme-react/src/decorator.tsx
  packages/internal/storybook-addon-theme/src/lib/features/doc-page/doc-page.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-canvas/stories.store.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-canvas/story-canvas-wrapper.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-canvas/story-canvas.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-canvas/story.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-control/manager-story-args.store.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-args.store.base.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-examples-canvas.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-examples.store.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-examples.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-source-code/source-code-generator.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-source-code/source-code-generator.worker.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-source-code/story-source-code.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-source-code/use-source-code-generator.model.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-source-code/use-source-code-generator.ts
  packages/internal/storybook-addon-theme/src/lib/model/addon.model.ts
  packages/internal/storybook-addon-theme/src/lib/utils/common-elements.tsx
  packages/internal/storybook-addon-theme/src/lib/utils/icons.ts
  packages/react/button/stories/button/default.stories.tsx
  packages/react/button/stories/button/examples/examples.stories.tsx
  packages/react/button/stories/button/index.stories.tsx
  tools/scripts/storybook/generate-react-storybook-config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

fix(react/overlay): rename Overlay.tsx to overlay.tsx
  packages/react/overlay/src/components/overlay.tsx
Due: none

chore: update lmdb dependency from 3.1.3 to 3.2.2
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

chore: add release script for cocokits-docs
  package.json
Due: pnpm prettier --write

chore: enable passWithNoTests option in Vite configuration files
  packages/common/core/vite.config.ts
  packages/common/icons/vite.config.ts
  packages/common/utils/vite.config.ts
  tools/workspace-plugin/vite.config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(website): initialize Next.js application with basic structure and styles
  .gitignore
  .vscode/extensions.json
  apps/website/.eslintrc.json
  apps/website/README.md
  apps/website/app/api/hello/route.ts
  apps/website/app/global.css
  apps/website/app/home/[id]/page.tsx
  apps/website/app/home/page.module.scss
  apps/website/app/home/page.tsx
  apps/website/app/layout.tsx
  apps/website/app/not-found.tsx
  apps/website/app/page.tsx
  apps/website/index.d.ts
  apps/website/next-env.d.ts
  apps/website/next.config.js
  apps/website/project.json
  apps/website/public/.gitkeep
  apps/website/public/favicon.ico
  apps/website/tsconfig.json
  apps/website/tsconfig.spec.json
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

refactor(react-stories): clean up and improve structure
  apps/react-kits-doc/stories/ui-components/form-field/chip-list/overview/default.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/chip-list/overview/size.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/chip/overview/default.stories.tsx
  apps/react-kits-doc/stories/ui-components/menu/menu/overview/default.stories.tsx
  apps/react-kits-doc/stories/ui-components/radio/radio-group/overview/size.stories.tsx
Due: none

chore: add react-cdk and react-tabs to pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: update react components prop api
  packages/react/button/src/lib/icon-button.tsx
  packages/react/checkbox/src/lib/checkbox.tsx
  packages/react/divider/src/divider.tsx
  packages/react/form-field/src/lib/chip-list.tsx
  packages/react/form-field/src/lib/chip.tsx
  packages/react/form-field/src/lib/error.tsx
  packages/react/form-field/src/lib/form-field.tsx
  packages/react/form-field/src/lib/hint.tsx
  packages/react/form-field/src/lib/input.tsx
  packages/react/form-field/src/lib/label.tsx
  packages/react/form-field/src/lib/leading.tsx
  packages/react/form-field/src/lib/option.tsx
  packages/react/form-field/src/lib/prefix.tsx
  packages/react/form-field/src/lib/select-preview.tsx
  packages/react/form-field/src/lib/select.tsx
  packages/react/form-field/src/lib/suffix.tsx
  packages/react/form-field/src/lib/textarea.tsx
  packages/react/form-field/src/lib/trailing.tsx
  packages/react/icon/src/lib/svg-icon.tsx
  packages/react/menu/src/menu-item.tsx
  packages/react/radio/src/lib/radio.model.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

refactor(react-kits-doc): remove unused import
  apps/react-kits-doc/stories/ui-components/radio/radio-button/overview/color.stories.tsx
Due: none

fix(website): update styles for welcome component, adjust image fit, and modify join us links
  apps/website/next.config.js
  apps/website/src/components/home/join-us/join-us.tsx
  apps/website/src/components/home/welcome/welcome.module.scss
Due: pnpm prettier --write, pnpm stylelint --fix

fix(react-form-field): updated required prop description to clarify it's for the form field
  packages/react/form-field/src/lib/form-field.tsx
Due: none

fix(react-form-field): clarify required prop usage
  packages/react/form-field/src/lib/select.tsx
Due: none

chore: add className and style props for consistency
  packages/react/button/src/lib/button.tsx
  packages/react/button/src/lib/icon-button.tsx
  packages/react/checkbox/src/lib/checkbox.tsx
  packages/react/divider/src/divider.tsx
  packages/react/form-field/src/lib/chip-list.tsx
  packages/react/form-field/src/lib/chip.tsx
  packages/react/form-field/src/lib/error.tsx
  packages/react/form-field/src/lib/form-field.tsx
  packages/react/form-field/src/lib/hint.tsx
  packages/react/form-field/src/lib/input.tsx
  packages/react/form-field/src/lib/label.tsx
  packages/react/form-field/src/lib/leading.tsx
  packages/react/form-field/src/lib/option-group.tsx
  packages/react/form-field/src/lib/option.tsx
  packages/react/form-field/src/lib/prefix.tsx
  packages/react/form-field/src/lib/select-preview.tsx
  packages/react/form-field/src/lib/select.tsx
  packages/react/form-field/src/lib/suffix.tsx
  packages/react/form-field/src/lib/textarea.tsx
  packages/react/form-field/src/lib/trailing.tsx
  packages/react/icon/src/lib/svg-icon.tsx
  packages/react/menu/src/menu-item.tsx
  packages/react/menu/src/menu.tsx
  packages/react/radio/src/lib/radio.model.ts
  packages/react/toggle/src/lib/toggle.tsx
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: clean up package.json and vite.config.ts files, and fix library generator
  packages/react/checkbox/package.json
  packages/react/radio/vite.config.ts
  packages/react/tabs/tsconfig.lib.json
  packages/react/tabs/vite.config.ts
  project.json
  tools/workspace-plugin/src/generators/library/files/angular-ui/ng-package.json.template
  tools/workspace-plugin/src/generators/library/files/angular-ui/package.json.template
  tools/workspace-plugin/src/generators/library/files/angular-ui/stories/.gitkeep.template
  tools/workspace-plugin/src/generators/library/files/react-ui/.eslintrc.json.template
  tools/workspace-plugin/src/generators/library/files/react-ui/package.json.template
  tools/workspace-plugin/src/generators/library/files/react-ui/project.json.template
  tools/workspace-plugin/src/generators/library/files/react-ui/stories/.gitkeep.template
  tools/workspace-plugin/src/generators/library/files/react-ui/tsconfig.lib.json.template
  tools/workspace-plugin/src/generators/library/files/react-ui/vite.config.ts.template
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: update lmdb version to 3.2.6 in package.json
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

chore: update @compodoc/compodoc version to 1.1.25 in package.json
  package.json
Due: pnpm prettier --write

chore: move lmdb to dependencies in package.json
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

chore: update lmdb version to 3.2.6 in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

chore: remove lmdb version from package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

chore: update package.json to add devDependencies and peerDependencies for React
  .github/workflows/main-branch-pull-request.yml
  packages/common/core/src/lib/model/theme-config.model.ts
  packages/react/cdk/package.json
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: remove unused ESLint rules and update installation instructions
  apps/angular-kits-doc/stories/getting-started/advanced-configuration.mdx
  apps/react-kits-doc/stories/getting-started/advanced-configuration.mdx
  apps/react-kits-doc/stories/getting-started/install.mdx
  apps/react-kits-doc/stories/getting-started/utils/advanced-configuration.utils.tsx
  apps/react-kits-doc/stories/getting-started/utils/install.utils.tsx
  package.json
  tools/eslint/eslint.base.json
Due: pnpm prettier --write

chore: add example-story generator with Angular and React templates
  tools/workspace-plugin/generators.json
  tools/workspace-plugin/src/generators/example-story/files/angular-inline/__fileName__/__fileName__.component.ts.template
  tools/workspace-plugin/src/generators/example-story/files/angular-inline/__fileName__/_story.source.ts.template
  tools/workspace-plugin/src/generators/example-story/files/angular-inline/__fileName__/index.example.stories.ts.template
  tools/workspace-plugin/src/generators/example-story/files/angular/__fileName__/__fileName__.component.html.template
  tools/workspace-plugin/src/generators/example-story/files/angular/__fileName__/__fileName__.component.scss.template
  tools/workspace-plugin/src/generators/example-story/files/angular/__fileName__/__fileName__.component.ts.template
  tools/workspace-plugin/src/generators/example-story/files/angular/__fileName__/_story.source.ts.template
  tools/workspace-plugin/src/generators/example-story/files/angular/__fileName__/index.example.stories.ts.template
  tools/workspace-plugin/src/generators/example-story/files/config/__fileName__.config.ts.template
  tools/workspace-plugin/src/generators/example-story/files/react-inline/__fileName__/__className__.tsx.template
  tools/workspace-plugin/src/generators/example-story/files/react-inline/__fileName__/_story.source.ts.template
  tools/workspace-plugin/src/generators/example-story/files/react-inline/__fileName__/index.example.stories.tsx.template
  tools/workspace-plugin/src/generators/example-story/files/react/__fileName__/__className__.styled.tsx.template
  tools/workspace-plugin/src/generators/example-story/files/react/__fileName__/__className__.tsx.template
  tools/workspace-plugin/src/generators/example-story/files/react/__fileName__/_story.source.ts.template
  tools/workspace-plugin/src/generators/example-story/files/react/__fileName__/index.example.stories.tsx.template
  tools/workspace-plugin/src/generators/example-story/generator.ts
  tools/workspace-plugin/src/generators/example-story/options.ts
  tools/workspace-plugin/src/generators/example-story/schema.d.ts
  tools/workspace-plugin/src/generators/example-story/schema.json
  tools/workspace-plugin/tsconfig.lib.json
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files
