Repository coco-base/cocokits: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files, pnpm stylelint --fix

feat(theme-cocokits): implement avatar-group-styles
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/internal/storybook-addon-theme/src/lib/utils/control.config.ts
  packages/themes/cocokits/src/lib/theme-config.ts
  packages/themes/cocokits/src/styles/scss/_all.scss
  packages/themes/cocokits/src/styles/scss/_avatar-group.scss
  packages/themes/cocokits/src/token/scss/_index.scss
  packages/themes/frames-x/src/lib/theme-config.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files, pnpm stylelint --fix

feat(theme-frames-x): implement avatar-group-styles
  packages/themes/frames-x/src/styles/scss/_all.scss
  packages/themes/frames-x/src/styles/scss/_avatar-group.scss
Due: pnpm prettier --write, pnpm stylelint --fix

fix(workspace-plugin): remove debug log
  tools/workspace-plugin/src/generators/ui-core-component/generator.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

fix(workspace-plugin): correct regex for updating @mixin all
  tools/workspace-plugin/src/generators/ui-core-component/utils/theme-all-style.util.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

feat(avatar): add avatar-label component for react and angular
  apps/angular-kits-doc/stories/getting-started/utils/advanced-configuration.utils.tsx
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-label/description.md
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-label/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-label/overview/color.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-label/overview/default.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-label/overview/size.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-label/overview/type.stories.ts
  apps/react-kits-doc/stories/getting-started/utils/advanced-configuration.utils.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-label/description.md
  apps/react-kits-doc/stories/ui-components/avatar/avatar-label/index.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-label/overview/color.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-label/overview/default.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-label/overview/size.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-label/overview/type.stories.tsx
  packages/angular/avatar/src/index.ts
  packages/angular/avatar/src/lib/avatar-label/avatar-label.component.html
  packages/angular/avatar/src/lib/avatar-label/avatar-label.component.scss
  packages/angular/avatar/src/lib/avatar-label/avatar-label.component.ts
  packages/angular/avatar/src/lib/avatar/avatar.component.ts
  packages/common/core/src/lib/class-names/avatar-label-class-names.ts
  packages/common/core/src/lib/class-names/class-names.ts
  packages/common/core/src/lib/class-names/layout-class-names-config.ts
  packages/common/core/src/lib/model/ui-base-components-name.ts
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/internal/storybook-addon-theme/src/lib/features/sidebar-label/sidebar-label.tsx
  packages/internal/storybook-addon-theme/src/lib/utils/control.config.ts
  packages/react/avatar/src/index.ts
  packages/react/avatar/src/lib/avatar-label/avatar-label.tsx
  packages/themes/cocokits/src/lib/theme-config.ts
  packages/themes/cocokits/src/styles/scss/_all.scss
  packages/themes/cocokits/src/styles/scss/_avatar-label.scss
  packages/themes/cocokits/src/styles/scss/_index.scss
  packages/themes/cocokits/src/token/scss/_index.scss
  packages/themes/frames-x/src/lib/theme-config.ts
  packages/themes/frames-x/src/styles/scss/_all.scss
  packages/themes/frames-x/src/styles/scss/_avatar-label.scss
  packages/themes/frames-x/src/styles/scss/_index.scss
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files, pnpm stylelint --fix

chore: enhance scope validation by including common packages from Angular and React
  commitlint.config.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

chore: correct parameter name for commit scope validation in cck-scope rule
  commitlint.config.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

refactor(avatar): add react avatarLabel and reorganize AvatarGroup and AvatarLabel components
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-group/overview/default.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-label/overview/color.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-label/overview/default.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-label/overview/size.stories.ts
  apps/angular-kits-doc/stories/ui-components/avatar/avatar-label/overview/type.stories.ts
  apps/react-kits-doc/stories/ui-components/avatar/avatar-group/overview/color.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-group/overview/default.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-group/overview/size.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-group/overview/type.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-label/index.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-label/overview/color.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-label/overview/default.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-label/overview/size.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar-label/overview/type.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar/overview/custom-content.stories.tsx
  apps/react-kits-doc/stories/ui-components/avatar/avatar/overview/default.stories.tsx
  packages/angular/avatar/src/lib/avatar-label/avatar-label.component.ts
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/react/avatar/src/lib/avatar-group/avatar-group.tsx
  packages/react/avatar/src/lib/avatar-label/avatar-label.tsx
  packages/react/avatar/src/lib/avatar/avatar.tsx
  packages/themes/cocokits/src/styles/scss/_avatar-label.scss
  tools/eslint/eslint.base.json
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files, pnpm stylelint --fix

fix(avatar): add common-utils as a dependency
  packages/angular/avatar/package.json
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/react/avatar/package.json
Due: pnpm prettier --write

story: fix unwanted changes in theme config
  packages/themes/frames-x/src/lib/theme-config.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

chore: add skipStorybook option fro ui component generator
  tools/workspace-plugin/src/generators/ui-core-component/generator.ts
  tools/workspace-plugin/src/generators/ui-core-component/model.ts
  tools/workspace-plugin/src/generators/ui-core-component/schema.d.ts
  tools/workspace-plugin/src/generators/ui-core-component/schema.json
  tools/workspace-plugin/src/generators/ui-core-component/utils/generator-schema.util.ts
  tools/workspace-plugin/src/generators/ui-core-component/utils/ui-base-components-name.util.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

chore: add central configuration for stories subComponent docs
  apps/angular-kits-doc/stories/CDK/overlay/overlay/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/form-field/form-field/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/form-field/select/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/menu/menu/index.stories.ts
  apps/react-kits-doc/stories/CDK/overlay/overlay/index.stories.ts
  apps/react-kits-doc/stories/ui-components/form-field/form-field/index.stories.ts
  apps/react-kits-doc/stories/ui-components/form-field/select/index.stories.ts
  apps/react-kits-doc/stories/ui-components/menu/menu/index.stories.ts
  packages/angular/components/package.json
  packages/internal/common-kits-doc/stories/contributing/kits-doc-structure.mdx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-api.utils.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page.utils.tsx
  packages/internal/storybook-addon-theme/src/lib/model/addon.model.ts
  tools/workspace-plugin/src/generators/ui-core-component/schema.json
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

chore: fix ui core component name generator
  tools/workspace-plugin/src/generators/ui-core-component/utils/ui-base-components-name.util.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

chore: fix storybook auto generated file for ui component generator
  tools/workspace-plugin/src/generators/ui-core-component/generator.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

story: update overview stories for textarea component
  apps/angular-kits-doc/stories/ui-components/form-field/textarea/color.stories.ts
  apps/angular-kits-doc/stories/ui-components/form-field/textarea/index.stories.ts
  apps/angular-kits-doc/stories/ui-components/form-field/textarea/size.stories.ts
  apps/angular-kits-doc/stories/ui-components/form-field/textarea/type.stories.ts
  apps/react-kits-doc/stories/ui-components/form-field/textarea/index.stories.ts
  apps/react-kits-doc/stories/ui-components/form-field/textarea/overview/autoresize.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/textarea/overview/color.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/textarea/overview/error-state.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/textarea/overview/size.stories.tsx
  apps/react-kits-doc/stories/ui-components/form-field/textarea/overview/type.stories.tsx
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

chore: update cSpell configuration to include additional words
  .vscode/settings.json
Due: pnpm prettier --write

feat(common-icons): add minus icon to the icon set
  packages/common/icons/src/icons.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

feat(common-utils): add animation and math, improve selection
  packages/common/utils/src/index.ts
  packages/common/utils/src/lib/animation/animation-frame-manager.ts
  packages/common/utils/src/lib/animation/animation-group.ts
  packages/common/utils/src/lib/animation/animation-store.ts
  packages/common/utils/src/lib/animation/animation.model.ts
  packages/common/utils/src/lib/animation/animation.ts
  packages/common/utils/src/lib/animation/animation.util.ts
  packages/common/utils/src/lib/differs/simple-object-diff.ts
  packages/common/utils/src/lib/selection/selection.ts
  packages/common/utils/src/lib/uncategorized/math.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

feat(storybook-addon-theme): add any selection for single control, add subcomponent deception, fix doc page styles
  packages/internal/storybook-addon-theme/src/lib/features/doc-page/doc-page-markdown.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-single-control.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-api-table.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-api.model.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-api.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-api.utils.ts
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page.utils.tsx
  packages/internal/storybook-addon-theme/src/lib/utils/control.config.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

chore: add postcss `where` selector plugin for and apply it to all themes with custom component style for doc page
  package.json
  packages/internal/storybook-addon-theme/preset.ts
  packages/internal/storybook-addon-theme/project.json
  packages/internal/storybook-addon-theme/src/assets/styles/cck-themes-components.css
  packages/internal/storybook-addon-theme/src/assets/styles/cck-themes-components.min.css
  packages/internal/storybook-addon-theme/src/assets/styles/cck-themes-tokens.css
  packages/internal/storybook-addon-theme/src/assets/styles/cck-themes-tokens.min.css
  packages/internal/storybook-addon-theme/src/assets/styles/cck-themes.css
  packages/internal/storybook-addon-theme/src/assets/styles/cck-themes.min.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/internal/storybook-addon-theme/src/styles/cck-themes-components.scss
  packages/internal/storybook-addon-theme/src/styles/cck-themes-tokens.scss
  packages/internal/storybook-addon-theme/src/styles/preview-styles.scss
  packages/internal/storybook-addon-theme/src/styles/stories-styles.scss
  pnpm-lock.yaml
  tools/workspace-plugin/src/executors/scss-builder/css-builder.ts
  tools/workspace-plugin/src/executors/scss-builder/executor.ts
  tools/workspace-plugin/src/executors/scss-builder/schema.d.ts
  tools/workspace-plugin/src/executors/scss-builder/schema.json
  tools/workspace-plugin/src/executors/scss-builder/where-selector-plugin.ts
  tools/workspace-plugin/src/executors/token-generator/builder/build-core.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files, pnpm stylelint --fix

feat(accordion): enhance TypeScript type parsing and accordion component documentation
  apps/react-kits-doc/stories/ui-components/accordion/accordion/description.md
  packages/internal/storybook-addon-theme/src/assets/styles/cck-themes-components.css
  packages/internal/storybook-addon-theme/src/assets/styles/cck-themes-components.min.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.css
  packages/internal/storybook-addon-theme/src/assets/styles/preview-styles.min.css
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-api-table.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page-api.utils.ts
  packages/internal/storybook-addon-theme/src/styles/arg-types-table.scss
  packages/react/accordion/src/lib/accordion-header/accordion-header.tsx
  packages/react/accordion/src/lib/accordion/accordion.tsx
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files, pnpm stylelint --fix

fix(accordion): fix doc and typedoc redering
  apps/react-kits-doc/stories/utils/_hidden.mdx
  apps/react-kits-doc/stories/utils/use-animation.mdx
  apps/react-kits-doc/stories/utils/use-on-destroy.mdx
  apps/react-kits-doc/stories/utils/use-on-init.mdx
  apps/react-kits-doc/stories/utils/use-selection.mdx
  apps/react-kits-doc/stories/utils/use-slot-children.mdx
  packages/angular/accordion/README.md
  packages/angular/accordion/src/lib/accordion-panel/accordion-panel.component.scss
  packages/common/utils/src/lib/animation/animation-group.ts
  packages/common/utils/src/lib/animation/animation.ts
  packages/common/utils/src/lib/differs/simple-object-diff.ts
  packages/common/utils/src/lib/uncategorized/math.ts
  packages/internal/common-kits-doc/stories/utils/animation.mdx
  packages/internal/common-kits-doc/stories/utils/differs.mdx
  packages/internal/common-kits-doc/stories/utils/math.mdx
  packages/react/utils/src/lib/use-debug.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files, pnpm stylelint --fix

fix(accordion): update package dependencies for angular and react accordion, and redefine DeepPartial in use-animation
  packages/angular/accordion/package.json
  packages/react/accordion/package.json
  packages/react/utils/package.json
  packages/react/utils/src/lib/use-animation.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

fix(angular-accordion): correct project path references in project.json
  packages/angular/accordion/project.json
Due: pnpm prettier --write

fix(react-accordion): update useCreateAccordionStore to require config parameter
  apps/react-kits-doc/stories/utils/use-debug.mdx
  packages/react/accordion/src/lib/accordion.store.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

chore: rename react-tabs to create a new library
  apps/website/src/components/home/ui-components/ui-components.tsx
  packages/internal/storybook-addon-theme/src/lib/features/mdx-page/mdx-page-tab-code.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-control-icon.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page.tsx
  packages/internal/storybook-addon-theme/src/lib/features/token-dictionary/token-dictionary.tsx
  packages/react/components/CHANGELOG.md
  packages/react/components/package.json
  packages/react/components/src/index.ts
  packages/react/tabs-old/.eslintrc.json
  packages/react/tabs-old/CHANGELOG.md
  packages/react/tabs-old/LICENSE
  packages/react/tabs-old/README.md
  packages/react/tabs-old/package.json
  packages/react/tabs-old/project.json
  packages/react/tabs-old/src/index.ts
  packages/react/tabs-old/src/lib/tab-label.tsx
  packages/react/tabs-old/src/lib/tab.model.ts
  packages/react/tabs-old/src/lib/tab.tsx
  packages/react/tabs-old/src/lib/tabs.store.ts
  packages/react/tabs-old/src/lib/tabs.tsx
  packages/react/tabs-old/tsconfig.json
  packages/react/tabs-old/tsconfig.lib.json
  packages/react/tabs-old/vite.config.ts
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.storybook-manager-paths.json
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

chore: rename react-tabs to create a new library
  apps/website/src/components/home/ui-components/ui-components.tsx
  packages/common/core/src/lib/class-names/class-names.ts
  packages/common/core/src/lib/class-names/layout-class-names-config.ts
  packages/common/core/src/lib/class-names/tab-class-names-old.ts
  packages/common/core/src/lib/class-names/tab-label-class-names-old.ts
  packages/common/core/src/lib/class-names/tabs-class-names-old.ts
  packages/common/core/src/lib/model/ui-base-components-name.ts
  packages/internal/storybook-addon-theme/src/lib/features/mdx-page/mdx-page-tab-code.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-control/story-control-icon.tsx
  packages/internal/storybook-addon-theme/src/lib/features/story-doc-page/story-doc-page.tsx
  packages/internal/storybook-addon-theme/src/lib/features/token-dictionary/token-dictionary.tsx
  packages/internal/storybook-addon-theme/src/theme/theme-config.ts
  packages/react/components/CHANGELOG.md
  packages/react/components/package.json
  packages/react/components/src/index.ts
  packages/react/tabs-old/.eslintrc.json
  packages/react/tabs-old/CHANGELOG.md
  packages/react/tabs-old/LICENSE
  packages/react/tabs-old/README.md
  packages/react/tabs-old/package.json
  packages/react/tabs-old/project.json
  packages/react/tabs-old/src/index.ts
  packages/react/tabs-old/src/lib/tab-label.tsx
  packages/react/tabs-old/src/lib/tab.model.ts
  packages/react/tabs-old/src/lib/tab.tsx
  packages/react/tabs-old/src/lib/tabs.store.ts
  packages/react/tabs-old/src/lib/tabs.tsx
  packages/react/tabs-old/tsconfig.json
  packages/react/tabs-old/tsconfig.lib.json
  packages/react/tabs-old/vite.config.ts
  packages/react/tabs/src/lib/tab.model.ts
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.storybook-manager-paths.json
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

fix(workspace-plugin): fix React component props and angular library import path
  tools/workspace-plugin/src/generators/component/files/react-component/__fileName__.tsx.template
  tools/workspace-plugin/src/generators/ui-core-component/utils/generate-library.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

fix(workspace-plugin): fix syntax of new react component
  tools/workspace-plugin/src/generators/component/files/react-component/__fileName__.tsx.template
Due: none

feat(tabs): add common-utils and react-utils as dependencies for angular and react tabs
  packages/angular/tabs/package.json
  packages/react/tabs/package.json
Due: pnpm prettier --write

chore: add changes log
  .changeset/afraid-camels-itch.md
  .changeset/cuddly-tigers-cheer.md
  .changeset/funny-gifts-share.md
  .changeset/gentle-tables-happen.md
  .changeset/giant-pets-judge.md
  .changeset/olive-rules-visit.md
  .changeset/six-kids-call.md
  .changeset/ten-pots-think.md
  .changeset/wise-lions-watch.md
Due: none

chore: exclude website from build and test commands in CI configuration
  .github/workflows/main-branch-pull-request.yml
  project.json
Due: pnpm prettier --write

chore: add missing files after upgrade
  apps/react-kits-doc/stories/ui-components/accordion/accordion/overview/color.stories.tsx
  apps/react-kits-doc/stories/ui-components/button/button/examples/stack-vertical-button/StackVerticalButton.tsx
  apps/react-kits-doc/stories/ui-components/button/icon-button/examples/social-buttons/SocialButtons.tsx
Due: none

fix(tabs): fix tab change animation on safari
  apps/react-kits-doc/stories/ui-components/button/button/examples/stack-vertical-button/_story.source.ts
  apps/react-kits-doc/stories/ui-components/button/icon-button/examples/social-buttons/_story.source.ts
  packages/angular/tabs/src/lib/tabs/tabs.component.ts
  packages/react/tabs/src/lib/tab/tab.tsx
  packages/react/tabs/src/lib/tabs.feature-store.ts
Due: pnpm prettier --write, pnpm nx affected --target=quick-fix-eslint -- --fix --files

Path conditions:
  pnpm prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.json)
  pnpm nx affected --target=quick-fix-eslint -- --fix --files: any of: *.ts
  pnpm stylelint --fix: any of: *.scss
