Repository coco-base/cocokits: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(theme-frame-x): update configurations of icon
  packages/themes/frame-x/src/config/ui-component-props.config.ts
  packages/themes/frame-x/src/styles/components/icon.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(workspace-plugin): add manually check list after generate files
  tools/workspace-plugin/src/generators/component/src/angular-component-generator.ts
  tools/workspace-plugin/src/generators/library/src/angular-ui-generator.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(angular-checkbox): create checkbox empty library
  packages/angular/checkbox/.eslintrc.json
  packages/angular/checkbox/.storybook/main.ts
  packages/angular/checkbox/.storybook/manager-head.html
  packages/angular/checkbox/.storybook/preview-head.html
  packages/angular/checkbox/.storybook/preview.ts
  packages/angular/checkbox/.storybook/tsconfig.doc.json
  packages/angular/checkbox/.storybook/tsconfig.json
  packages/angular/checkbox/README.md
  packages/angular/checkbox/ng-package.json
  packages/angular/checkbox/package.json
  packages/angular/checkbox/project.json
  packages/angular/checkbox/src/index.ts
  packages/angular/checkbox/stories/.gitkeep
  packages/angular/checkbox/tsconfig.json
  packages/angular/checkbox/tsconfig.lib.json
  packages/angular/checkbox/tsconfig.lib.prod.json
  packages/angular/components/package.json
  packages/themes/core/src/lib/class-names/css-selector-render.ts
  tsconfig.base.json
  tsconfig.storybook-manager-paths.json
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(angular-radio): create empty angular radio library
  packages/angular/components/package.json
  packages/angular/radio/.eslintrc.json
  packages/angular/radio/.storybook/main.ts
  packages/angular/radio/.storybook/manager-head.html
  packages/angular/radio/.storybook/preview-head.html
  packages/angular/radio/.storybook/preview.ts
  packages/angular/radio/.storybook/tsconfig.doc.json
  packages/angular/radio/.storybook/tsconfig.json
  packages/angular/radio/README.md
  packages/angular/radio/ng-package.json
  packages/angular/radio/package.json
  packages/angular/radio/project.json
  packages/angular/radio/src/index.ts
  packages/angular/radio/stories/.gitkeep
  packages/angular/radio/tsconfig.json
  packages/angular/radio/tsconfig.lib.json
  packages/angular/radio/tsconfig.lib.prod.json
  tsconfig.base.json
  tsconfig.storybook-manager-paths.json
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(angular-radio): create empty radio group and button component
  packages/angular/radio/src/index.ts
  packages/angular/radio/src/lib/radio/radio-button.component.html
  packages/angular/radio/src/lib/radio/radio-button.component.scss
  packages/angular/radio/src/lib/radio/radio.component.ts
  packages/angular/radio/stories/radio-button/default.stories.ts
  packages/angular/radio/stories/radio-button/description.md
  packages/angular/radio/stories/radio-button/dev.stories.ts
  packages/angular/radio/stories/radio-button/index.stories.ts
  packages/common/core/src/index.ts
  packages/common/core/src/lib/class-names/layout-class-names-config.ts
  packages/common/core/src/lib/class-names/radio-button-class-names.ts
  packages/common/core/src/lib/class-names/radio-group-class-names.ts
  packages/common/core/src/lib/model/ui-component.model.ts
  packages/themes/default/src/config/ui-component-props.config.ts
  packages/themes/default/src/styles.scss
  packages/themes/default/src/styles/components/radio-button.scss
  packages/themes/default/src/styles/components/radio-group.scss
  packages/themes/frame-x/src/config/ui-component-props.config.ts
  tools/workspace-plugin/src/generators/component/src/angular-component-generator.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(angular-radio): create ts concept of radio button and group
  packages/angular/radio/src/lib/radio/radio-button.component.html
  packages/angular/radio/src/lib/radio/radio.component.ts
  packages/angular/radio/stories/radio-button/dev.stories.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

refactor(core): rename `checkmarkIcon` to `checkboxCheckmark`
  packages/angular/checkbox/src/lib/checkbox/checkbox.component.html
  packages/common/core/src/lib/model/ui-component.model.ts
  packages/themes/default/src/config/ui-component-props.config.ts
  packages/themes/frame-x/src/config/ui-component-props.config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

refactor(theme-default): add basic style of radio button without token or variant
  packages/angular/radio/src/lib/radio/radio-button.component.html
  packages/angular/radio/src/lib/radio/radio-button.component.scss
  packages/angular/radio/src/lib/radio/radio.component.ts
  packages/angular/radio/stories/radio-button/index.stories.ts
  packages/common/core/src/lib/model/ui-component.model.ts
  packages/common/core/stories/customization/ui-components/radio-button.mdx
  packages/common/core/stories/customization/ui-components/radio-group.mdx
  packages/themes/default/src/config/ui-component-props.config.ts
  packages/themes/default/src/styles/components/radio-button.scss
  packages/themes/default/src/styles/components/radio-group.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(theme-default): add complete style of radio button without token
  packages/angular/checkbox/stories/checkbox/default.stories.ts
  packages/angular/radio/stories/radio-button/color.stories.ts
  packages/angular/radio/stories/radio-button/default.stories.ts
  packages/angular/radio/stories/radio-button/index.stories.ts
  packages/angular/radio/stories/radio-button/size.stories.ts
  packages/angular/radio/stories/radio-button/type.stories.ts
  packages/themes/default/src/styles/components/radio-button.scss
  packages/themes/default/src/styles/components/radio-group.scss
  tools/scripts/storybook/storybook-global.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

fix(theme-default): fix disabled style of checkbox component
  packages/themes/default/src/styles/components/checkbox.scss
Due: pnpm prettier --write, pnpm stylelint --fix

feat(theme-default): update tokens with tokens for radio button
  packages/themes/default/json-token/Components.Default.tokens.json
  packages/themes/default/src/styles/components/radio-button.scss
  packages/themes/default/src/token/collections.ts
  packages/themes/default/src/token/css-variables/brand-color-1.dark.scss
  packages/themes/default/src/token/css-variables/brand-color-1.light.scss
  packages/themes/default/src/token/css-variables/components.default.scss
  packages/themes/default/src/token/css-variables/global.default.scss
  packages/themes/default/src/token/css-variables/index.scss
  packages/themes/default/src/token/css-variables/local-style.default.scss
  packages/themes/default/src/token/mixins/_brand-color-1.dark.mixin.scss
  packages/themes/default/src/token/mixins/_brand-color-1.light.mixin.scss
  packages/themes/default/src/token/mixins/_components.default.mixin.scss
  packages/themes/default/src/token/mixins/_global.default.mixin.scss
  packages/themes/default/src/token/mixins/_local-style.default.mixin.scss
  packages/themes/default/src/token/mixins/index.scss
  packages/themes/default/src/token/scss-variables/_brand-color-1.scss
  packages/themes/default/src/token/scss-variables/_components.scss
  packages/themes/default/src/token/scss-variables/_global.scss
  packages/themes/default/src/token/scss-variables/_local-style.scss
  packages/themes/default/src/token/scss-variables/index.scss
  packages/themes/default/src/token/ts-css-variables/brand-color-1.ts
  packages/themes/default/src/token/ts-css-variables/components.ts
  packages/themes/default/src/token/ts-css-variables/global.ts
  packages/themes/default/src/token/ts-css-variables/index.ts
  packages/themes/default/src/token/ts-css-variables/local-style.ts
  packages/themes/default/src/token/ts-variables/brand-color-1.dark.ts
  packages/themes/default/src/token/ts-variables/brand-color-1.light.ts
  packages/themes/default/src/token/ts-variables/components.default.ts
  packages/themes/default/src/token/ts-variables/global.default.ts
  packages/themes/default/src/token/ts-variables/index.ts
  packages/themes/default/src/token/ts-variables/local-style.default.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

fix(angular-radio): fix check state for single input without radio-group
  packages/angular/radio/src/lib/radio/radio.component.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(angular-radio): split story for radio to radio-group and radio-button
  packages/angular/radio/src/lib/radio/radio.component.ts
  packages/angular/radio/stories/radio-button/color.stories.ts
  packages/angular/radio/stories/radio-button/default.stories.ts
  packages/angular/radio/stories/radio-button/type.stories.ts
  packages/angular/radio/stories/radio-group/color.stories.ts
  packages/angular/radio/stories/radio-group/default.stories.ts
  packages/angular/radio/stories/radio-group/description.md
  packages/angular/radio/stories/radio-group/dev.stories.ts
  packages/angular/radio/stories/radio-group/index.stories.ts
  packages/angular/radio/stories/radio-group/size.stories.ts
  packages/angular/radio/stories/radio-group/type.stories.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(theme-default): add type to radio-group component
  packages/themes/default/src/config/ui-component-props.config.ts
  packages/themes/default/src/styles/components/radio-group.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

fix(storybook-theme-switcher): fix default storybook theme on load the app
  packages/internal/storybook-theme-switcher/src/preset/register-storybook-theme-switcher.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

docs(angular-checkbox): add `ngModel` and `reactiveForm` story for checkbox component
  packages/angular/checkbox/stories/checkbox/index.stories.ts
  packages/angular/checkbox/stories/checkbox/ng-model.stories.ts
  packages/angular/checkbox/stories/checkbox/reactive-form.stories.ts
  tools/scripts/storybook/storybook-global.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

docs(angular-radio): add `ngModel` and `reactiveForm` story for radioGroup component
  packages/angular/radio/src/lib/radio/radio.component.ts
  packages/angular/radio/stories/radio-group/index.stories.ts
  packages/angular/radio/stories/radio-group/ng-model.stories.ts
  packages/angular/radio/stories/radio-group/reactive-form.stories.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

chore: update package.json
  packages/common/angular-utils/package.json
Due: pnpm prettier --write

fix(storybook-theme-switcher): update the cck selected theme mode to 'light' or 'dark' on changing the storybook theme
  packages/internal/storybook-theme-switcher/src/lib/config/cck-theme.config.ts
  packages/internal/storybook-theme-switcher/src/lib/config/cck-themes.model.ts
  packages/internal/storybook-theme-switcher/src/preset/register-cck-theme-switcher.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

fix(storybook-theme-switcher): fix wrong attribute name in `StorybookSidenavLabel`
  packages/internal/storybook-theme-switcher/src/lib/componenets/storybook-sidenav/StorybookSidenavLabel.tsx
Due: none

feat(angular-overlay): create empty overlay library
  packages/angular/overlay/.eslintrc.json
  packages/angular/overlay/.storybook/main.ts
  packages/angular/overlay/.storybook/manager-head.html
  packages/angular/overlay/.storybook/preview-head.html
  packages/angular/overlay/.storybook/preview.ts
  packages/angular/overlay/.storybook/tsconfig.doc.json
  packages/angular/overlay/.storybook/tsconfig.json
  packages/angular/overlay/README.md
  packages/angular/overlay/ng-package.json
  packages/angular/overlay/package.json
  packages/angular/overlay/project.json
  packages/angular/overlay/src/index.ts
  packages/angular/overlay/stories/.gitkeep
  packages/angular/overlay/tsconfig.json
  packages/angular/overlay/tsconfig.lib.json
  packages/angular/overlay/tsconfig.lib.prod.json
  tsconfig.base.json
  tsconfig.storybook-manager-paths.json
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(angular-overlay): add size config to overlay component and fix overlay animation on exit
  packages/angular/overlay/src/components/overlay/overlay.animation.ts
  packages/angular/overlay/src/components/overlay/overlay.component.html
  packages/angular/overlay/src/components/overlay/overlay.component.ts
  packages/angular/overlay/src/models/overlay-config.model.ts
  packages/angular/overlay/stories/overlay/components/size-overlay-example.component.ts
  packages/angular/overlay/stories/overlay/components/size-overlay-story.component.ts
  packages/angular/overlay/stories/overlay/index.stories.ts
  packages/angular/overlay/stories/overlay/size.stories.ts
  packages/common/utils/src/index.ts
  packages/common/utils/src/lib/uncategorized/resize-observer.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(angular-form-field): add empty form-field and input library
  packages/angular/form-field/.eslintrc.json
  packages/angular/form-field/.storybook/main.ts
  packages/angular/form-field/.storybook/manager-head.html
  packages/angular/form-field/.storybook/preview-head.html
  packages/angular/form-field/.storybook/preview.ts
  packages/angular/form-field/.storybook/tsconfig.doc.json
  packages/angular/form-field/.storybook/tsconfig.json
  packages/angular/form-field/README.md
  packages/angular/form-field/ng-package.json
  packages/angular/form-field/package.json
  packages/angular/form-field/project.json
  packages/angular/form-field/src/index.ts
  packages/angular/form-field/stories/.gitkeep
  packages/angular/form-field/tsconfig.json
  packages/angular/form-field/tsconfig.lib.json
  packages/angular/form-field/tsconfig.lib.prod.json
  packages/angular/input/.eslintrc.json
  packages/angular/input/.storybook/main.ts
  packages/angular/input/.storybook/manager-head.html
  packages/angular/input/.storybook/preview-head.html
  packages/angular/input/.storybook/preview.ts
  packages/angular/input/.storybook/tsconfig.doc.json
  packages/angular/input/.storybook/tsconfig.json
  packages/angular/input/README.md
  packages/angular/input/ng-package.json
  packages/angular/input/package.json
  packages/angular/input/project.json
  packages/angular/input/src/index.ts
  packages/angular/input/stories/.gitkeep
  packages/angular/input/tsconfig.json
  packages/angular/input/tsconfig.lib.json
  packages/angular/input/tsconfig.lib.prod.json
  tsconfig.base.json
  tsconfig.storybook-manager-paths.json
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files

feat(angular-form-field): add empty textarea component
  packages/angular/form-field/src/index.ts
  packages/angular/form-field/src/lib/textarea/textarea.component.html
  packages/angular/form-field/src/lib/textarea/textarea.component.scss
  packages/angular/form-field/src/lib/textarea/textarea.component.ts
  packages/angular/form-field/stories/textarea/default.stories.ts
  packages/angular/form-field/stories/textarea/description.md
  packages/angular/form-field/stories/textarea/dev.stories.ts
  packages/angular/form-field/stories/textarea/index.stories.ts
  packages/common/core/src/index.ts
  packages/common/core/src/lib/class-names/class-names.ts
  packages/common/core/src/lib/class-names/layout-class-names-config.ts
  packages/common/core/src/lib/class-names/textarea-class-names.ts
  packages/common/core/src/lib/model/ui-component.model.ts
  packages/themes/default/src/config/ui-component-props.config.ts
  packages/themes/default/src/styles.scss
  packages/themes/default/src/styles/components/textarea.scss
  packages/themes/frame-x/src/config/ui-component-props.config.ts
  tools/workspace-plugin/src/generators/component/src/angular-component-generator.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(angular-form-field): complete textarea component with stories
  packages/angular/button/src/lib/button/button.component.ts
  packages/angular/button/src/lib/icon-button/icon-button.component.ts
  packages/angular/checkbox/src/lib/checkbox/checkbox.component.ts
  packages/angular/core/src/ui-base.component.ts
  packages/angular/form-field/src/lib/error/error.component.ts
  packages/angular/form-field/src/lib/form-field.store.ts
  packages/angular/form-field/src/lib/form-field/form-field.component.ts
  packages/angular/form-field/src/lib/form-field/form-field.utils.ts
  packages/angular/form-field/src/lib/hint/hint.component.ts
  packages/angular/form-field/src/lib/input/input.component.ts
  packages/angular/form-field/src/lib/label/label.component.ts
  packages/angular/form-field/src/lib/leading/leading.component.ts
  packages/angular/form-field/src/lib/prefix/prefix.component.ts
  packages/angular/form-field/src/lib/suffix/suffix.component.ts
  packages/angular/form-field/src/lib/textarea/textarea.component.html
  packages/angular/form-field/src/lib/textarea/textarea.component.scss
  packages/angular/form-field/src/lib/textarea/textarea.component.ts
  packages/angular/form-field/src/lib/trailing/trailing.component.ts
  packages/angular/form-field/stories/textarea/auto-resize.stories.ts
  packages/angular/form-field/stories/textarea/index.stories.ts
  packages/angular/form-field/stories/textarea/ng-model.stories.ts
  packages/angular/form-field/stories/textarea/reactive-form.stories.ts
  packages/angular/icon/src/lib/svg-icon/svg-icon.component.ts
  packages/angular/radio/src/lib/radio/radio.component.ts
  packages/common/core/src/lib/class-names/form-field-class-names.ts
  packages/common/core/src/lib/class-names/textarea-class-names.ts
  packages/common/utils/package.json
  packages/common/utils/src/index.ts
  packages/common/utils/src/lib/uncategorized/textarea.ts
  packages/themes/default/src/styles/components/form-field.scss
  packages/themes/default/src/styles/components/textarea.scss
  tools/workspace-plugin/src/generators/component/files/angular-component/__fileName__.component.ts.template
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(angular-form-field): add textarea to formField default story
  packages/angular/form-field/stories/form-field/default.stories.ts
  packages/angular/form-field/stories/form-field/description.md
  packages/angular/form-field/stories/form-field/index.stories.ts
  packages/themes/default/src/styles/components/textarea.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(angular-form-field): add empty select component
  packages/angular/form-field/src/index.ts
  packages/angular/form-field/src/lib/select/select.component.html
  packages/angular/form-field/src/lib/select/select.component.scss
  packages/angular/form-field/src/lib/select/select.component.ts
  packages/angular/form-field/stories/select/default.stories.ts
  packages/angular/form-field/stories/select/description.md
  packages/angular/form-field/stories/select/dev.stories.ts
  packages/angular/form-field/stories/select/index.stories.ts
  packages/common/core/src/lib/class-names/class-names.ts
  packages/common/core/src/lib/class-names/layout-class-names-config.ts
  packages/common/core/src/lib/class-names/select-class-names.ts
  packages/common/core/src/lib/model/ui-component.model.ts
  packages/themes/default/src/config/ui-component-props.config.ts
  packages/themes/default/src/styles.scss
  packages/themes/default/src/styles/components/select.scss
  packages/themes/frame-x/src/config/ui-component-props.config.ts
  tools/workspace-plugin/src/generators/component/src/angular-component-generator.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(angular-form-field): add empty chip and chip-list component
  packages/angular/form-field/src/index.ts
  packages/angular/form-field/src/lib/chip-list/chip-list.component.html
  packages/angular/form-field/src/lib/chip-list/chip-list.component.scss
  packages/angular/form-field/src/lib/chip-list/chip-list.component.ts
  packages/angular/form-field/src/lib/chip/chip.component.html
  packages/angular/form-field/src/lib/chip/chip.component.scss
  packages/angular/form-field/src/lib/chip/chip.component.ts
  packages/angular/form-field/stories/chip-list/default.stories.ts
  packages/angular/form-field/stories/chip-list/description.md
  packages/angular/form-field/stories/chip-list/dev.stories.ts
  packages/angular/form-field/stories/chip-list/index.stories.ts
  packages/angular/form-field/stories/chip/default.stories.ts
  packages/angular/form-field/stories/chip/description.md
  packages/angular/form-field/stories/chip/dev.stories.ts
  packages/angular/form-field/stories/chip/index.stories.ts
  packages/common/core/src/lib/class-names/chip-class-names.ts
  packages/common/core/src/lib/class-names/chip-list-class-names.ts
  packages/common/core/src/lib/class-names/class-names.ts
  packages/common/core/src/lib/class-names/layout-class-names-config.ts
  packages/common/core/src/lib/model/ui-component.model.ts
  packages/common/core/stories/theme-config/ui-components/chip-list.mdx
  packages/common/core/stories/theme-config/ui-components/chip.mdx
  packages/themes/default/src/config/ui-component-props.config.ts
  packages/themes/default/src/styles.scss
  packages/themes/default/src/styles/components/chip-list.scss
  packages/themes/default/src/styles/components/chip.scss
  packages/themes/frame-x/src/config/ui-component-props.config.ts
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(angular-form-field): complete chip-list component with stories
  packages/angular/button/stories/button/color.stories.ts
  packages/angular/form-field/src/lib/chip-list/chip-list.component.html
  packages/angular/form-field/src/lib/chip-list/chip-list.component.ts
  packages/angular/form-field/src/lib/chip/chip.component.html
  packages/angular/form-field/src/lib/chip/chip.component.ts
  packages/angular/form-field/src/lib/error/error.component.ts
  packages/angular/form-field/src/lib/form-field.store.ts
  packages/angular/form-field/src/lib/form-field/form-field.component.ts
  packages/angular/form-field/src/lib/input/input.component.ts
  packages/angular/form-field/src/lib/select/select.component.ts
  packages/angular/form-field/src/lib/textarea/textarea.component.ts
  packages/angular/form-field/stories/chip-list/default.stories.ts
  packages/angular/form-field/stories/chip-list/index.stories.ts
  packages/angular/form-field/stories/chip-list/size.stories.ts
  packages/angular/form-field/stories/chip/index.stories.ts
  packages/angular/form-field/stories/chip/size.stories.ts
  packages/angular/form-field/stories/form-field/default.stories.ts
  packages/angular/form-field/stories/form-field/index.stories.ts
  packages/angular/form-field/stories/form-field/theme-default-prefix-suffix.stories.ts
  packages/angular/form-field/stories/form-field/theme-default-trailing.stories.ts
  packages/angular/utils/src/index.ts
  packages/angular/utils/src/lib/signal/deep-signal.ts
  packages/common/core/src/lib/class-names/chip-class-names.ts
  packages/common/core/src/lib/class-names/chip-list-class-names.ts
  packages/common/core/src/lib/class-names/form-field-class-names.ts
  packages/common/core/src/lib/model/common.model.ts
  packages/common/core/src/lib/model/ui-component.model.ts
  packages/internal/storybook-doc-page/src/lib/utils/doc-page.utils.ts
  packages/themes/default/src/config/ui-component-props.config.ts
  packages/themes/default/src/styles/components/chip-list.scss
  packages/themes/default/src/styles/components/chip.scss
  packages/themes/default/src/styles/components/form-field.scss
  packages/themes/default/src/token/scss/index.scss
  pnpm-lock.yaml
  tools/scripts/storybook/storybook-global.scss
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

feat(angular-divider): complete divider component with stories
  packages/angular/components/package.json
  packages/angular/divider/stories/divider/color.stories.ts
  packages/angular/divider/stories/divider/index.stories.ts
  packages/angular/divider/stories/divider/size.stories.ts
  packages/angular/divider/stories/divider/type.stories.ts
  packages/angular/menu/src/index.ts
  packages/angular/menu/src/lib/menu/menu.component.html
  packages/angular/menu/src/lib/menu/menu.component.scss
  packages/angular/menu/src/lib/menu/menu.component.ts
  packages/angular/menu/stories/menu/default.stories.ts
  packages/angular/menu/stories/menu/description.md
  packages/angular/menu/stories/menu/dev.stories.ts
  packages/angular/menu/stories/menu/index.stories.ts
  packages/common/core/src/lib/class-names/divider-class-names.ts
  packages/common/core/src/lib/class-names/menu-class-names.ts
  packages/common/core/src/lib/class-names/menu-group-class-names.ts
  packages/common/core/src/lib/class-names/menu-item-class-names.ts
  packages/common/core/stories/theme-config/ui-components/divider.mdx
  packages/common/core/stories/theme-config/ui-components/menu.mdx
  packages/themes/default/src/styles/components/divider.scss
  packages/themes/default/src/token/scss/index.scss
  tools/scripts/storybook/storybook-global.scss
  tools/workspace-plugin/src/generators/component/files/angular-story/color.stories.ts.template
  tools/workspace-plugin/src/generators/component/files/angular-story/size.stories.ts.template
  tools/workspace-plugin/src/generators/component/files/angular-story/type.stories.ts.template
Due: pnpm prettier --write, pnpm nx affected:lint --fix --files, pnpm stylelint --fix

Path conditions:
  pnpm prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.json)
  pnpm nx affected:lint --fix --files: any of: *.ts
  pnpm stylelint --fix: any of: *.scss
